openapi: 3.2.0
info:
  title: dispensary Location API
  version: 3.1.0
servers:
- url: https://api-prod.treez.io/dispensary/v3
security:
- {}
tags:
- name: Location
paths:
  /{dispensary}/location/list:
    get:
      summary: Location - Get all
      description: Returns all product locations within a store
      operationId: location-get-all
      parameters:
      - name: page
        in: query
        schema:
          type: string
      - name: page_size
        in: query
        schema:
          type: string
      - name: sellable
        in: query
        description: All records are returned if not specified.
        schema:
          type: boolean
      - name: id
        in: query
        schema:
          type: string
      - in: path
        name: dispensary
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Location
x-readme:
  headers:
  - key: Accept-Encoding
    value: gzip,br
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
