openapi: 3.2.0
info:
  title: dispensary Packages API
  version: 3.1.0
servers:
- url: https://api-prod.treez.io/dispensary/v3
security:
- {}
tags:
- name: Packages
paths:
  /{dispensary}/packages:
    get:
      summary: Get by package
      description: ''
      operationId: dispensary-inventory-get
      parameters:
      - name: dispensary
        in: path
        schema:
          type: string
          default: partnersandbox3
        required: true
      - name: id
        in: query
        description: The state tracking id of the package
        schema:
          type: string
      - name: productCategory
        in: query
        schema:
          type: string
          enum:
          - PLANT
          - MERCH
          - NON-INV
          - TINCTURE
          - MISC
          - EDIBLE
          - METRC
          - BEVERAGE
          - PREROLL
          - TOPICAL
          - CARTRIDGE
          - PILL
          - FLOWER
          - EXTRACT
      - name: productId
        in: query
        schema:
          type: string
      - name: productBrand
        in: query
        schema:
          type: string
      - name: productName
        in: query
        schema:
          type: string
      - name: location
        in: query
        schema:
          type: string
      - name: invoiceId
        in: query
        schema:
          type: string
      - name: inventoryType
        in: query
        schema:
          type: string
          enum:
          - ADULT
          - MEDICAL
          - ALL
      - name: sellable
        in: query
        schema:
          type: boolean
      - name: distributorName
        in: query
        schema:
          type: string
      - name: distributorLicenseNumber
        in: query
        schema:
          type: string
      - name: stateTrackingRetailLicenseNumber
        in: query
        schema:
          type: string
      - name: invoiceAcceptanceDateFrom
        in: query
        description: YYYY-MM-DD
        schema:
          type: string
          format: date
      - name: invoiceAcceptanceDateTo
        in: query
        description: YYYY-MM-DD
        schema:
          type: string
          format: date
      - name: includeOutOfStockLocations
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"pageLimit\": 50,\n    \"pageSize\": 1,\n    \"total\": 1,\n    \"totalPages\": 1,\n    \"data\": [\n        {\n            \"id\": \"123634587678\",\n            \"packageLabel\": \"123634587678\",\n            \"inventoryType\": \"ADULT\",\n            \"stateTrackingRetailLicenseNumber\": \"C10-0000000-LIC\",\n            \"distributorName\": \"TREEZ\",\n            \"productId\": \"c6beed87-febe-409c-82df-d55186663b23\",\n            \"productName\": \"1:1 BALANCED TRANSDERMAL RELEAF PATCH - 15 MILLIGRAMS\",\n            \"productCategory\": \"TOPICAL\",\n            \"productBrand\": \"PAPA & BARKLEY\",\n            \"invoiceId\": 1,\n            \"invoiceAcceptedDate\": \"2025-06-11\",\n            \"distributorLicense\": null,\n            \"manifestNumber\": null,\n            \"documents\": [\n                null\n            ],\n            \"barcodes\": [\n                \"123634587678\",\n                \"XS1\"\n            ],\n            \"receivedDate\": \"2025-06-11\",\n            \"expirationDate\": null,\n            \"harvestDate\": null,\n            \"labResults\": [\n                {\n                    \"type\": \"THC\",\n                    \"amount\": \"50\",\n                    \"unitType\": \"%\"\n                },\n                {\n                    \"type\": \"CBD\",\n                    \"amount\": \"10\",\n                    \"unitType\": \"%\"\n                }\n            ],\n            \"inventory\": [\n                {\n                    \"id\": \"dc0dc6d1-a038-4d78-b1b1-af84f49e2600\",\n                    \"batchId\": \"FGZNC-1\",\n                    \"location\": \"DISPLAY CASE 1\",\n                    \"sellable\": true,\n                    \"creationDate\": \"2025-12-17\",\n                    \"quantity\": {\n                        \"available\": 814.000000,\n                        \"reserved\": 5.000000,\n                        \"packedAndReady\": 1.000000,\n                        \"returned\": 0.000000,\n                        \"total\": 820.000000\n                    }\n                },\n                {\n                    \"id\": \"5a74a135-2e3a-4aa5-968a-63e13de00914\",\n                    \"batchId\": \"FGZNC-2\",\n                    \"location\": \"DISPLAY CASE 2\",\n                    \"sellable\": true,\n                    \"creationDate\": \"2025-12-17\",\n                    \"quantity\": {\n                        \"available\": 100.000000,\n                        \"reserved\": 0.000000,\n                        \"packedAndReady\": 0.000000,\n                        \"returned\": 0.000000,\n                        \"total\": 100.000000\n                    }\n                },\n                {\n                    \"id\": \"dcdbc130-cdd1-4cec-8320-8869c2283c38\",\n                    \"batchId\": \"FGZNC-RTN-1\",\n                    \"location\": \"POS RETURN\",\n                    \"sellable\": false,\n                    \"creationDate\": \"2025-11-26\",\n                    \"quantity\": {\n                        \"available\": 1.000000,\n                        \"reserved\": 0.000000,\n                        \"packedAndReady\": 0.000000,\n                        \"returned\": 0.000000,\n                        \"total\": 1.000000\n                    }\n                }\n            ]\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  pageLimit:
                    type: integer
                    example: 50
                    default: 0
                  pageSize:
                    type: integer
                    example: 1
                    default: 0
                  total:
                    type: integer
                    example: 1
                    default: 0
                  totalPages:
                    type: integer
                    example: 1
                    default: 0
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '123634587678'
                        packageLabel:
                          type: string
                          example: '123634587678'
                        inventoryType:
                          type: string
                          example: ADULT
                        stateTrackingRetailLicenseNumber:
                          type: string
                          example: C10-0000000-LIC
                        distributorName:
                          type: string
                          example: TREEZ
                        productId:
                          type: string
                          example: c6beed87-febe-409c-82df-d55186663b23
                        productName:
                          type: string
                          example: 1:1 BALANCED TRANSDERMAL RELEAF PATCH - 15 MILLIGRAMS
                        productCategory:
                          type: string
                          example: TOPICAL
                        productBrand:
                          type: string
                          example: PAPA & BARKLEY
                        invoiceId:
                          type: integer
                          example: 1
                          default: 0
                        invoiceAcceptedDate:
                          type: string
                          example: '2025-06-11'
                        distributorLicense: {}
                        manifestNumber: {}
                        documents:
                          type: array
                        barcodes:
                          type: array
                          items:
                            type: string
                            example: '123634587678'
                        receivedDate:
                          type: string
                          example: '2025-06-11'
                        expirationDate: {}
                        harvestDate: {}
                        labResults:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                example: THC
                              amount:
                                type: string
                                example: '50'
                              unitType:
                                type: string
                                example: '%'
                        inventory:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: dc0dc6d1-a038-4d78-b1b1-af84f49e2600
                              batchId:
                                type: string
                                example: FGZNC-1
                              location:
                                type: string
                                example: DISPLAY CASE 1
                              sellable:
                                type: boolean
                                example: true
                                default: true
                              creationDate:
                                type: string
                                example: '2025-12-17'
                              quantity:
                                type: object
                                properties:
                                  available:
                                    type: integer
                                    example: 814
                                    default: 0
                                  reserved:
                                    type: integer
                                    example: 5
                                    default: 0
                                  packedAndReady:
                                    type: integer
                                    example: 1
                                    default: 0
                                  returned:
                                    type: integer
                                    example: 0
                                    default: 0
                                  total:
                                    type: integer
                                    example: 820
                                    default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Packages
    post:
      summary: Search inventory
      description: ''
      operationId: get-by-package-copy
      parameters:
      - name: dispensary
        in: path
        schema:
          type: string
          default: partnersandbox3
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"pageLimit\": 50,\n    \"pageSize\": 1,\n    \"total\": 1,\n    \"totalPages\": 1,\n    \"data\": [\n        {\n            \"id\": \"123634587678\",\n            \"packageLabel\": \"123634587678\",\n            \"inventoryType\": \"ADULT\",\n            \"stateTrackingRetailLicenseNumber\": \"C10-0000000-LIC\",\n            \"distributorName\": \"TREEZ\",\n            \"productId\": \"c6beed87-febe-409c-82df-d55186663b23\",\n            \"productName\": \"1:1 BALANCED TRANSDERMAL RELEAF PATCH - 15 MILLIGRAMS\",\n            \"productCategory\": \"TOPICAL\",\n            \"productBrand\": \"PAPA & BARKLEY\",\n            \"invoiceId\": 1,\n            \"invoiceAcceptedDate\": \"2025-06-11\",\n            \"distributorLicense\": null,\n            \"manifestNumber\": null,\n            \"documents\": [\n                null\n            ],\n            \"barcodes\": [\n                \"123634587678\",\n                \"XS1\"\n            ],\n            \"receivedDate\": \"2025-06-11\",\n            \"expirationDate\": null,\n            \"harvestDate\": null,\n            \"labResults\": [\n                {\n                    \"type\": \"THC\",\n                    \"amount\": \"50\",\n                    \"unitType\": \"%\"\n                },\n                {\n                    \"type\": \"CBD\",\n                    \"amount\": \"10\",\n                    \"unitType\": \"%\"\n                }\n            ],\n            \"inventory\": [\n                {\n                    \"id\": \"dc0dc6d1-a038-4d78-b1b1-af84f49e2600\",\n                    \"batchId\": \"FGZNC-1\",\n                    \"location\": \"DISPLAY CASE 1\",\n                    \"sellable\": true,\n                    \"creationDate\": \"2025-12-17\",\n                    \"quantity\": {\n                        \"available\": 814.000000,\n                        \"reserved\": 5.000000,\n                        \"packedAndReady\": 1.000000,\n                        \"returned\": 0.000000,\n                        \"total\": 820.000000\n                    }\n                },\n                {\n                    \"id\": \"5a74a135-2e3a-4aa5-968a-63e13de00914\",\n                    \"batchId\": \"FGZNC-2\",\n                    \"location\": \"DISPLAY CASE 2\",\n                    \"sellable\": true,\n                    \"creationDate\": \"2025-12-17\",\n                    \"quantity\": {\n                        \"available\": 100.000000,\n                        \"reserved\": 0.000000,\n                        \"packedAndReady\": 0.000000,\n                        \"returned\": 0.000000,\n                        \"total\": 100.000000\n                    }\n                },\n                {\n                    \"id\": \"dcdbc130-cdd1-4cec-8320-8869c2283c38\",\n                    \"batchId\": \"FGZNC-RTN-1\",\n                    \"location\": \"POS RETURN\",\n                    \"sellable\": false,\n                    \"creationDate\": \"2025-11-26\",\n                    \"quantity\": {\n                        \"available\": 1.000000,\n                        \"reserved\": 0.000000,\n                        \"packedAndReady\": 0.000000,\n                        \"returned\": 0.000000,\n                        \"total\": 1.000000\n                    }\n                }\n            ]\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  pageLimit:
                    type: integer
                    example: 50
                    default: 0
                  pageSize:
                    type: integer
                    example: 1
                    default: 0
                  total:
                    type: integer
                    example: 1
                    default: 0
                  totalPages:
                    type: integer
                    example: 1
                    default: 0
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '123634587678'
                        packageLabel:
                          type: string
                          example: '123634587678'
                        inventoryType:
                          type: string
                          example: ADULT
                        stateTrackingRetailLicenseNumber:
                          type: string
                          example: C10-0000000-LIC
                        distributorName:
                          type: string
                          example: TREEZ
                        productId:
                          type: string
                          example: c6beed87-febe-409c-82df-d55186663b23
                        productName:
                          type: string
                          example: 1:1 BALANCED TRANSDERMAL RELEAF PATCH - 15 MILLIGRAMS
                        productCategory:
                          type: string
                          example: TOPICAL
                        productBrand:
                          type: string
                          example: PAPA & BARKLEY
                        invoiceId:
                          type: integer
                          example: 1
                          default: 0
                        invoiceAcceptedDate:
                          type: string
                          example: '2025-06-11'
                        distributorLicense: {}
                        manifestNumber: {}
                        documents:
                          type: array
                        barcodes:
                          type: array
                          items:
                            type: string
                            example: '123634587678'
                        receivedDate:
                          type: string
                          example: '2025-06-11'
                        expirationDate: {}
                        harvestDate: {}
                        labResults:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                example: THC
                              amount:
                                type: string
                                example: '50'
                              unitType:
                                type: string
                                example: '%'
                        inventory:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: dc0dc6d1-a038-4d78-b1b1-af84f49e2600
                              batchId:
                                type: string
                                example: FGZNC-1
                              location:
                                type: string
                                example: DISPLAY CASE 1
                              sellable:
                                type: boolean
                                example: true
                                default: true
                              creationDate:
                                type: string
                                example: '2025-12-17'
                              quantity:
                                type: object
                                properties:
                                  available:
                                    type: integer
                                    example: 814
                                    default: 0
                                  reserved:
                                    type: integer
                                    example: 5
                                    default: 0
                                  packedAndReady:
                                    type: integer
                                    example: 1
                                    default: 0
                                  returned:
                                    type: integer
                                    example: 0
                                    default: 0
                                  total:
                                    type: integer
                                    example: 820
                                    default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                packageLabel:
                  type: array
                  items:
                    type: string
                productCategory:
                  type: array
                  items:
                    type: string
                productId:
                  type: array
                  items:
                    type: string
                productBrand:
                  type: array
                  items:
                    type: string
                productName:
                  type: array
                  items:
                    type: string
                location:
                  type: array
                  items:
                    type: string
                invoiceId:
                  type: array
                  items:
                    type: string
                inventoryType:
                  type: array
                  items:
                    type: string
                sellable:
                  type: boolean
                distributorName:
                  type: array
                  items:
                    type: string
                distributorLicenseNumber:
                  type: array
                  items:
                    type: string
                stateTrackingRetailLicenseNumber:
                  type: array
                  items:
                    type: string
                invoiceAcceptanceDateFrom:
                  type: string
                  format: date
                invoiceAcceptanceDateTo:
                  type: string
                  format: date
                includeOutOfStock:
                  type: boolean
                sortBy:
                  type: object
                  properties: {}
      tags:
      - Packages
x-readme:
  headers:
  - key: Accept-Encoding
    value: gzip,br
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
