openapi: 3.2.0
info:
  title: catalog Attribute API
  version: 3.1.0
servers:
- url: https://api-prod.treez.io/service/catalog
security:
- {}
tags:
- name: Attribute
paths:
  /v3/attribute:
    post:
      summary: Attribute - Create
      description: ''
      operationId: catalog-attribute-create
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - attributeCategoryId
              properties:
                name:
                  type: string
                  description: The name of the attribute to be added. E.g. `Sleepy`
                attributeCategoryId:
                  type: string
                  description: The `id` GUID of the category to which the new value will be added.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"data\": [\n        {\n            \"id\": \"74a267e6-d2d0-4df4-838c-106181724de9\",\n            \"createdAt\": \"2024-12-13T19:21:54.704Z\",\n            \"updatedAt\": \"2024-12-13T19:21:54.704Z\",\n            \"deletedAt\": null,\n            \"name\": \"Chill\",\n            \"attributeCategoryId\": \"ec283219-d7d7-4eca-abd5-25c639c169de\",\n            \"organizationId\": \"f00acf02-36f3-4e54-9d1d-46524f81092a\"\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 74a267e6-d2d0-4df4-838c-106181724de9
                        createdAt:
                          type: string
                          example: '2024-12-13T19:21:54.704Z'
                        updatedAt:
                          type: string
                          example: '2024-12-13T19:21:54.704Z'
                        deletedAt: {}
                        name:
                          type: string
                          example: Chill
                        attributeCategoryId:
                          type: string
                          example: ec283219-d7d7-4eca-abd5-25c639c169de
                        organizationId:
                          type: string
                          example: f00acf02-36f3-4e54-9d1d-46524f81092a
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Event Schema Validation Failed:
                  value: "{\n    \"message\": \"Event Schema Validation Failed\",\n    \"errorType\": \"Validation\",\n    \"errorMsgs\": [\n        \"attributeCategoryId is required\"\n    ],\n    \"failed\": [\n        {\n            \"entity\": {\n                \"name\": \"Chill\"\n            },\n            \"errors\": [\n                \"attributeCategoryId is required\"\n            ]\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Event Schema Validation Failed
                  errorType:
                    type: string
                    example: Validation
                  errorMsgs:
                    type: array
                    items:
                      type: string
                      example: attributeCategoryId is required
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        entity:
                          type: object
                          properties:
                            name:
                              type: string
                              example: Chill
                        errors:
                          type: array
                          items:
                            type: string
                            example: attributeCategoryId is required
      deprecated: false
      tags:
      - Attribute
    patch:
      summary: Attribute - Update
      description: ''
      operationId: catalog-attribute-update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: The `id` GUID of the attribute to be modified
                name:
                  type: string
                  description: The name of the attribute
                attributeCategoryId:
                  type: string
                  description: The `id` GUID of the attribute category to which this value belongs
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"data\": [\n        {\n            \"id\": \"708a2ec2-4172-4bb6-9db0-15d73283ed3a\",\n            \"createdAt\": \"2024-09-09T17:21:13.736Z\",\n            \"updatedAt\": \"2024-12-13T18:40:41.088Z\",\n            \"deletedAt\": null,\n            \"name\": \"Pinine\",\n            \"attributeCategoryId\": \"4bcf571e-6dc4-4f20-8638-946e08dce094\",\n            \"organizationId\": \"f00acf02-36f3-4e54-9d1d-46524f81092a\"\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 708a2ec2-4172-4bb6-9db0-15d73283ed3a
                        createdAt:
                          type: string
                          example: '2024-09-09T17:21:13.736Z'
                        updatedAt:
                          type: string
                          example: '2024-12-13T18:40:41.088Z'
                        deletedAt: {}
                        name:
                          type: string
                          example: Pinine
                        attributeCategoryId:
                          type: string
                          example: 4bcf571e-6dc4-4f20-8638-946e08dce094
                        organizationId:
                          type: string
                          example: f00acf02-36f3-4e54-9d1d-46524f81092a
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"message\": \"Event Schema Validation Failed\",\n    \"errorType\": \"Validation\",\n    \"errorMsgs\": [\n        \"id must be a valid GUID\"\n    ],\n    \"failed\": [\n        {\n            \"entity\": {\n                \"id\": \"708a2ec2-4172-4bb6-9db0-15d73283e\"\n            },\n            \"errors\": [\n                \"id must be a valid GUID\"\n            ]\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Event Schema Validation Failed
                  errorType:
                    type: string
                    example: Validation
                  errorMsgs:
                    type: array
                    items:
                      type: string
                      example: id must be a valid GUID
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        entity:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 708a2ec2-4172-4bb6-9db0-15d73283e
                        errors:
                          type: array
                          items:
                            type: string
                            example: id must be a valid GUID
      deprecated: false
      tags:
      - Attribute
    get:
      summary: Attributes - Read
      description: This endpoint returns product attribute records.
      operationId: catalog-attributes-read
      parameters:
      - name: ids
        in: query
        description: The `id` values of the attributes to be returned. Exclude to return all values.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n    {\n        \"id\": \"708a2ec2-4172-4bb6-9db0-15d73283ed3a\",\n        \"createdAt\": \"2024-09-09T17:21:13.736Z\",\n        \"updatedAt\": \"2024-09-09T17:21:13.736Z\",\n        \"deletedAt\": null,\n        \"name\": \"pinene\",\n        \"attributeCategoryId\": \"4bcf571e-6dc4-4f20-8638-946e08dce094\",\n        \"organizationId\": \"f00acf02-36f3-4e54-9d1d-46524f81092a\"\n    },\n    {\n        \"id\": \"25a14bfa-aea6-42f9-9992-eeb579f7bcc1\",\n        \"createdAt\": \"2024-11-20T15:41:39.529Z\",\n        \"updatedAt\": \"2024-11-20T15:41:39.529Z\",\n        \"deletedAt\": null,\n        \"name\": \"Calm\",\n        \"attributeCategoryId\": \"ec283219-d7d7-4eca-abd5-25c639c169de\",\n        \"organizationId\": \"f00acf02-36f3-4e54-9d1d-46524f81092a\"\n    },\n    {\n        \"id\": \"32f32385-419a-4473-9524-da0bdc79f2ac\",\n        \"createdAt\": \"2024-04-08T20:49:02.955Z\",\n        \"updatedAt\": \"2024-04-08T20:49:02.955Z\",\n        \"deletedAt\": null,\n        \"name\": \"Apricot\",\n        \"attributeCategoryId\": \"936d1f94-c0a4-43e4-8ff5-a546dfb6f5ca\",\n        \"organizationId\": \"f00acf02-36f3-4e54-9d1d-46524f81092a\"\n    },\n    {\n        \"id\": \"ec21e331-3a49-4d9f-b207-23228c39f726\",\n        \"createdAt\": \"2024-04-08T20:49:03.239Z\",\n        \"updatedAt\": \"2024-04-08T20:49:03.239Z\",\n        \"deletedAt\": null,\n        \"name\": \"Citrus\",\n        \"attributeCategoryId\": \"936d1f94-c0a4-43e4-8ff5-a546dfb6f5ca\",\n        \"organizationId\": \"f00acf02-36f3-4e54-9d1d-46524f81092a\"\n    }\n]"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 708a2ec2-4172-4bb6-9db0-15d73283ed3a
                    createdAt:
                      type: string
                      example: '2024-09-09T17:21:13.736Z'
                    updatedAt:
                      type: string
                      example: '2024-09-09T17:21:13.736Z'
                    deletedAt: {}
                    name:
                      type: string
                      example: pinene
                    attributeCategoryId:
                      type: string
                      example: 4bcf571e-6dc4-4f20-8638-946e08dce094
                    organizationId:
                      type: string
                      example: f00acf02-36f3-4e54-9d1d-46524f81092a
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{"message":"Event Schema Validation Failed","errorType":"Validation","errorMsgs":["must be a valid GUID"],"failed":[{"entity":{"ids":["708a2ec2-4172-4bb6-9db0-15d73283ed3"]},"errors":["must be a valid GUID"]}]}'
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Event Schema Validation Failed
                  errorType:
                    type: string
                    example: Validation
                  errorMsgs:
                    type: array
                    items:
                      type: string
                      example: must be a valid GUID
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        entity:
                          type: object
                          properties:
                            ids:
                              type: array
                              items:
                                type: string
                                example: 708a2ec2-4172-4bb6-9db0-15d73283ed3
                        errors:
                          type: array
                          items:
                            type: string
                            example: must be a valid GUID
      deprecated: false
      tags:
      - Attribute
x-readme:
  headers:
  - key: Accept-Encoding
    value: gzip, br
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
