openapi: 3.2.0
info:
  title: catalog Attributecategory API
  version: 3.1.0
servers:
- url: https://api-prod.treez.io/service/catalog
security:
- {}
tags:
- name: Attributecategory
paths:
  /v3/attributecategory:
    get:
      summary: Attribute Categories - Read
      description: ''
      operationId: catalog-attribute-categories-read
      parameters:
      - name: ids
        in: query
        description: The `id` values of the attribute categories to be returned. Exclude to return all values.
        schema:
          type: array
          items:
            type: string
      - name: excludeAttributes
        in: query
        description: If true, omits the nested attributes array
        schema:
          type: boolean
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n    {\n        \"id\": \"f8efbe9f-60a4-4843-aa17-a372871064ab\",\n        \"createdAt\": \"2024-12-05T06:21:01.027Z\",\n        \"updatedAt\": \"2024-12-05T06:21:01.027Z\",\n        \"deletedAt\": null,\n        \"name\": \"Internal Tags\",\n        \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\",\n        \"attributes\": [\n            {\n                \"id\": \"c3dfbbff-d3f0-4679-8e0f-77738889e765\",\n                \"createdAt\": \"2024-12-12T16:39:01.950Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.950Z\",\n                \"deletedAt\": null,\n                \"name\": \"Row 1 Shelf L\",\n                \"attributeCategoryId\": \"f8efbe9f-60a4-4843-aa17-a372871064ab\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"2d2d9131-e71d-42a2-b831-966880519d6c\",\n                \"createdAt\": \"2025-01-13T19:18:15.126Z\",\n                \"updatedAt\": \"2025-01-13T19:18:15.049Z\",\n                \"deletedAt\": null,\n                \"name\": \"This is an internal tag for testing\",\n                \"attributeCategoryId\": \"f8efbe9f-60a4-4843-aa17-a372871064ab\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"720afda6-162b-45f2-9ff5-92eea5832ff0\",\n                \"createdAt\": \"2025-04-22T20:30:09.835Z\",\n                \"updatedAt\": \"2025-04-22T20:30:09.774Z\",\n                \"deletedAt\": null,\n                \"name\": \"Example from KSS 2\",\n                \"attributeCategoryId\": \"f8efbe9f-60a4-4843-aa17-a372871064ab\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"20a113f9-1020-4874-8c52-bfd03707e50d\",\n                \"createdAt\": \"2025-04-22T20:44:10.383Z\",\n                \"updatedAt\": \"2025-04-22T20:44:10.322Z\",\n                \"deletedAt\": null,\n                \"name\": \"Example from KSS 3\",\n                \"attributeCategoryId\": \"f8efbe9f-60a4-4843-aa17-a372871064ab\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"60547305-0195-4040-8906-939cd23bcbad\",\n                \"createdAt\": \"2025-04-22T22:09:19.750Z\",\n                \"updatedAt\": \"2025-04-22T22:09:19.696Z\",\n                \"deletedAt\": null,\n                \"name\": \"Test for KSS\",\n                \"attributeCategoryId\": \"f8efbe9f-60a4-4843-aa17-a372871064ab\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"ffa19807-0e56-43d7-88bd-d1428b75798c\",\n                \"createdAt\": \"2025-04-22T22:12:37.001Z\",\n                \"updatedAt\": \"2025-04-22T22:12:36.989Z\",\n                \"deletedAt\": null,\n                \"name\": \"Test for KSS 2\",\n                \"attributeCategoryId\": \"f8efbe9f-60a4-4843-aa17-a372871064ab\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"f458fbf4-0573-4e9d-9f4c-67d620d0fec5\",\n                \"createdAt\": \"2025-04-22T20:22:05.134Z\",\n                \"updatedAt\": \"2025-04-23T23:33:22.150Z\",\n                \"deletedAt\": null,\n                \"name\": \"Test update for KSS\",\n                \"attributeCategoryId\": \"f8efbe9f-60a4-4843-aa17-a372871064ab\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            }\n        ]\n    },\n    {\n        \"id\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n        \"createdAt\": \"2024-12-05T06:21:01.027Z\",\n        \"updatedAt\": \"2024-12-05T06:21:01.027Z\",\n        \"deletedAt\": null,\n        \"name\": \"General\",\n        \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\",\n        \"attributes\": [\n            {\n                \"id\": \"fba6f555-790a-4ce5-808e-40eb38ad4960\",\n                \"createdAt\": \"2024-12-12T16:39:01.316Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.316Z\",\n                \"deletedAt\": null,\n                \"name\": \"Cannabis Derived Terpenes\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"5599c818-3813-447b-a1b7-834d0648f208\",\n                \"createdAt\": \"2024-12-12T16:39:01.751Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.751Z\",\n                \"deletedAt\": null,\n                \"name\": \"Tacos\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"fd003834-71db-4ca4-91d1-01a8a69b4970\",\n                \"createdAt\": \"2024-12-12T16:39:01.408Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.408Z\",\n                \"deletedAt\": null,\n                \"name\": \"Fast Acting\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"e40e8610-11d1-4995-9dd3-e3ddf163bc3d\",\n                \"createdAt\": \"2024-12-12T16:39:01.654Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.654Z\",\n                \"deletedAt\": null,\n                \"name\": \"Ratio\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"5594c612-b6ff-4c03-a1c8-b08d8f660a39\",\n                \"createdAt\": \"2024-12-12T16:39:01.783Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.783Z\",\n                \"deletedAt\": null,\n                \"name\": \"Variety\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"e26d66c9-a571-47a0-830d-121e9cfba3ba\",\n                \"createdAt\": \"2024-12-12T16:39:01.345Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.345Z\",\n                \"deletedAt\": null,\n                \"name\": \"CBD\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"f3105343-6989-4620-a8e7-da215c80f11c\",\n                \"createdAt\": \"2024-12-12T16:39:01.688Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.688Z\",\n                \"deletedAt\": null,\n                \"name\": \"Taco\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"6354985a-72f4-4a58-a373-ddaf308829e0\",\n                \"createdAt\": \"2024-12-12T16:39:01.595Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.595Z\",\n                \"deletedAt\": null,\n                \"name\": \"Low Dose\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"bd0890b9-110e-4bdc-b1b2-39a03dcdea39\",\n                \"createdAt\": \"2024-12-12T16:39:01.465Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.465Z\",\n                \"deletedAt\": null,\n                \"name\": \"Gluten Free\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"88a644b1-ee5b-40e0-ab88-eb0429b54208\",\n                \"createdAt\": \"2024-12-12T16:39:01.576Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.576Z\",\n                \"deletedAt\": null,\n                \"name\": \"Organic\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"3b3797d2-4c58-4f4c-acb1-3bcaa13c2609\",\n                \"createdAt\": \"2024-12-12T16:39:01.693Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.693Z\",\n                \"deletedAt\": null,\n                \"name\": \"Strain Specific\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"1e1b3046-e991-48dc-80df-c19bde119278\",\n                \"createdAt\": \"2024-12-12T16:39:01.866Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.866Z\",\n                \"deletedAt\": null,\n                \"name\": \"Vegan\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"3718d95d-f16b-4e96-84f5-da33125672bd\",\n                \"createdAt\": \"2024-12-12T16:39:01.380Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.380Z\",\n                \"deletedAt\": null,\n                \"name\": \"CBG\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"877d9b97-8dd8-4433-8def-599f085ec2b6\",\n                \"createdAt\": \"2024-12-12T16:39:01.270Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.270Z\",\n                \"deletedAt\": null,\n                \"name\": \"Award Winning\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"b6f6fda2-dc1e-4eee-ba3f-55c7ee338e3a\",\n                \"createdAt\": \"2024-12-12T16:39:01.433Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.433Z\",\n                \"deletedAt\": null,\n                \"name\": \"Full Spectrum\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"4aa61bb6-2319-4539-a78f-28c6a4da9331\",\n                \"createdAt\": \"2024-12-12T16:39:01.312Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.312Z\",\n                \"deletedAt\": null,\n                \"name\": \"Botanical Terpenes\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"540d6474-b451-4c91-b530-cdbf4f1731be\",\n                \"createdAt\": \"2024-12-12T16:39:01.374Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.374Z\",\n                \"deletedAt\": null,\n                \"name\": \"CBN\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"063f5635-b819-4c36-913d-50c006142157\",\n                \"createdAt\": \"2024-12-12T16:39:01.537Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.537Z\",\n                \"deletedAt\": null,\n                \"name\": \"High Dose\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"5d309254-c276-414c-be47-110c3f714c54\",\n                \"createdAt\": \"2024-12-12T16:39:01.877Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.877Z\",\n                \"deletedAt\": null,\n                \"name\": \"Waxy Wednesday\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"51422627-88f6-4416-83e6-a56cc7101662\",\n                \"createdAt\": \"2024-12-12T16:39:01.517Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.517Z\",\n                \"deletedAt\": null,\n                \"name\": \"Limited Edition\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"41363903-4a9a-4379-83bb-9963bddd3d48\",\n                \"createdAt\": \"2024-12-12T16:39:01.620Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.620Z\",\n                \"deletedAt\": null,\n                \"name\": \"pinene\",\n                \"attributeCategoryId\": \"d71822a9-44db-435e-a6a1-d4ef3f096502\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            }\n        ]\n    },\n    {\n        \"id\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n        \"createdAt\": \"2024-12-05T06:21:01.027Z\",\n        \"updatedAt\": \"2024-12-05T06:21:01.027Z\",\n        \"deletedAt\": null,\n        \"name\": \"Flavor\",\n        \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\",\n        \"attributes\": [\n            {\n                \"id\": \"6c7503df-47a3-4df8-9fe2-ef62fff92d0a\",\n                \"createdAt\": \"2024-12-12T16:38:59.272Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.272Z\",\n                \"deletedAt\": null,\n                \"name\": \"Chestnut\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"f97d9b9f-a96c-481c-9f8f-8895f7c39df1\",\n                \"createdAt\": \"2024-12-12T16:38:59.407Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.407Z\",\n                \"deletedAt\": null,\n                \"name\": \"Creamy\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"293b7adc-34d8-4303-9ae2-1c5807bb1850\",\n                \"createdAt\": \"2024-12-12T16:38:59.512Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.512Z\",\n                \"deletedAt\": null,\n                \"name\": \"Fruity\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"7016eb12-4513-4bfd-b592-38a698aeb814\",\n                \"createdAt\": \"2024-12-12T16:38:59.958Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.958Z\",\n                \"deletedAt\": null,\n                \"name\": \"Lemon\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"96ec9c98-c2a9-4b69-b7e0-5754440dc4a7\",\n                \"createdAt\": \"2024-12-12T16:38:59.014Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.014Z\",\n                \"deletedAt\": null,\n                \"name\": \"Apricot\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"2856e722-cf43-41f6-b560-d6763c18baea\",\n                \"createdAt\": \"2024-12-12T16:38:59.175Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.175Z\",\n                \"deletedAt\": null,\n                \"name\": \"Caramel\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"39d40e97-1785-46f7-b0e3-eeaa385248ae\",\n                \"createdAt\": \"2024-12-12T16:38:59.429Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.429Z\",\n                \"deletedAt\": null,\n                \"name\": \"Coconut\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"75237c1c-e55b-4f1a-a2f4-4392cba0260e\",\n                \"createdAt\": \"2024-12-12T16:38:59.124Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.124Z\",\n                \"deletedAt\": null,\n                \"name\": \"Blueberry\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"92b6298f-e041-40ce-9b6f-a3e3243b7912\",\n                \"createdAt\": \"2024-12-12T16:38:59.241Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.241Z\",\n                \"deletedAt\": null,\n                \"name\": \"Cherry\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"3c5be90a-ffa0-4a06-ade6-3c177c360c4a\",\n                \"createdAt\": \"2024-12-12T16:38:59.336Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.336Z\",\n                \"deletedAt\": null,\n                \"name\": \"Citrus\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"641adf13-a8a5-4ee6-ac83-8e2968d76112\",\n                \"createdAt\": \"2024-12-12T16:38:59.601Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.601Z\",\n                \"deletedAt\": null,\n                \"name\": \"Grape\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"25e0075c-67b7-4022-ba2c-9e80001e9559\",\n                \"createdAt\": \"2024-12-12T16:38:59.915Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.915Z\",\n                \"deletedAt\": null,\n                \"name\": \"Herbal\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"4373cc8e-fbde-43c6-a35e-567bb768dd29\",\n                \"createdAt\": \"2024-12-12T16:39:00.061Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.061Z\",\n                \"deletedAt\": null,\n                \"name\": \"Mint\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"aaf19344-d934-402a-8626-4697cd17f46f\",\n                \"createdAt\": \"2024-12-12T16:39:00.535Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.535Z\",\n                \"deletedAt\": null,\n                \"name\": \"Pineapple\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"c4ee2bad-b0a3-484d-9c77-308358193c61\",\n                \"createdAt\": \"2024-12-12T16:39:00.801Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.801Z\",\n                \"deletedAt\": null,\n                \"name\": \"Savory\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"207a214d-ada6-4546-ac5a-7c556392e051\",\n                \"createdAt\": \"2024-12-12T16:38:59.511Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.511Z\",\n                \"deletedAt\": null,\n                \"name\": \"Earthy\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"3d404a64-26b2-48f0-801d-e9f7a8bedcae\",\n                \"createdAt\": \"2024-12-12T16:39:01.138Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.138Z\",\n                \"deletedAt\": null,\n                \"name\": \"Vanilla\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"e8032d71-a84a-426e-acae-c3c44661f42f\",\n                \"createdAt\": \"2024-12-12T16:38:59.970Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.970Z\",\n                \"deletedAt\": null,\n                \"name\": \"Lavender\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"afc89e64-e1e8-400f-b3a7-97930cbe626d\",\n                \"createdAt\": \"2024-12-12T16:39:00.094Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.094Z\",\n                \"deletedAt\": null,\n                \"name\": \"Mango\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"05bb7fac-544d-482e-8870-38eeca3f6e33\",\n                \"createdAt\": \"2024-12-12T16:39:00.589Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.589Z\",\n                \"deletedAt\": null,\n                \"name\": \"Plum\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"ab1057bb-9557-4e37-84cf-7c31f7dc6a87\",\n                \"createdAt\": \"2024-12-12T16:39:00.873Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.873Z\",\n                \"deletedAt\": null,\n                \"name\": \"Strawberry\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"5e32d8ad-0bc1-4a04-b158-00fc6fd5bd50\",\n                \"createdAt\": \"2024-12-12T16:39:01.154Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.154Z\",\n                \"deletedAt\": null,\n                \"name\": \"Tropical\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"efb14faf-5ca3-4db6-8179-7535c91dc5f2\",\n                \"createdAt\": \"2024-12-12T16:38:59.095Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.095Z\",\n                \"deletedAt\": null,\n                \"name\": \"Berry\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"8de84149-4688-4a66-8068-e4f52d11650e\",\n                \"createdAt\": \"2024-12-12T16:38:59.615Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.615Z\",\n                \"deletedAt\": null,\n                \"name\": \"Grapefruit\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"cb3d9dec-3f68-4995-8e85-ff3a05fdb408\",\n                \"createdAt\": \"2024-12-12T16:38:59.928Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.928Z\",\n                \"deletedAt\": null,\n                \"name\": \"Honey\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"f0698d8d-2779-47ca-919e-e1a581d2d5df\",\n                \"createdAt\": \"2024-12-12T16:39:00.038Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.038Z\",\n                \"deletedAt\": null,\n                \"name\": \"Melon\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"b8e83063-403d-4763-b3fa-f9d8c7605d1c\",\n                \"createdAt\": \"2024-12-12T16:39:00.164Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.164Z\",\n                \"deletedAt\": null,\n                \"name\": \"Nutty\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"db284cc6-fbe8-4d70-87a1-9b47da393ec5\",\n                \"createdAt\": \"2024-12-12T16:39:00.317Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.317Z\",\n                \"deletedAt\": null,\n                \"name\": \"Pear\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"1153f155-a2a4-41c4-bd2a-cdb9b4688b40\",\n                \"createdAt\": \"2024-12-12T16:39:00.408Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.408Z\",\n                \"deletedAt\": null,\n                \"name\": \"Pepper\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"aa46a224-417b-4709-96f3-97a18eebcb5f\",\n                \"createdAt\": \"2024-12-12T16:39:00.662Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.662Z\",\n                \"deletedAt\": null,\n                \"name\": \"Relaxing\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"42ca0043-9d4c-4579-8531-cbb03c5fc927\",\n                \"createdAt\": \"2024-12-12T16:39:01.234Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.234Z\",\n                \"deletedAt\": null,\n                \"name\": \"Watermelon\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"45e0f2d4-c5e3-4784-9d97-9106c318df67\",\n                \"createdAt\": \"2024-12-12T16:38:58.984Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.984Z\",\n                \"deletedAt\": null,\n                \"name\": \"Apple\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"a39f2614-4eec-4355-9b0b-cf7a40ad0109\",\n                \"createdAt\": \"2024-12-12T16:39:00.604Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.604Z\",\n                \"deletedAt\": null,\n                \"name\": \"Pungent\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"5b9420c0-a24a-4a92-ab45-e33f537d269e\",\n                \"createdAt\": \"2024-12-12T16:39:00.727Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.727Z\",\n                \"deletedAt\": null,\n                \"name\": \"Sage\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"f0280e85-f41f-4054-acfd-1451632b6584\",\n                \"createdAt\": \"2024-12-12T16:39:00.857Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.857Z\",\n                \"deletedAt\": null,\n                \"name\": \"Sweet\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"4ab804c4-6197-4e5a-a0ce-7f0ff53e0b36\",\n                \"createdAt\": \"2024-12-12T16:39:01.055Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.055Z\",\n                \"deletedAt\": null,\n                \"name\": \"Tea\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"e764065d-32da-44c7-828b-ab58998dfe51\",\n                \"createdAt\": \"2024-12-12T16:38:59.316Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.316Z\",\n                \"deletedAt\": null,\n                \"name\": \"Cinnamon\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"c25e1092-6ecd-4866-a918-04dccd3d3668\",\n                \"createdAt\": \"2024-12-12T16:38:59.176Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.176Z\",\n                \"deletedAt\": null,\n                \"name\": \"Butter\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"af6a3a10-e09c-4be9-a08b-b7e514707f75\",\n                \"createdAt\": \"2024-12-12T16:38:59.307Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.307Z\",\n                \"deletedAt\": null,\n                \"name\": \"Chocolate\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"211df836-deaf-4f9f-b3f9-385e50d0d9bf\",\n                \"createdAt\": \"2024-12-12T16:38:59.447Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.447Z\",\n                \"deletedAt\": null,\n                \"name\": \"Cucumber\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"59d3d3bd-cb88-4a82-901c-92de992358bd\",\n                \"createdAt\": \"2024-12-12T16:38:59.573Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.573Z\",\n                \"deletedAt\": null,\n                \"name\": \"Fuel\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"e2105766-63e9-4be7-bab8-47a77fe34c96\",\n                \"createdAt\": \"2024-12-12T16:39:00.820Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.820Z\",\n                \"deletedAt\": null,\n                \"name\": \"Spicy\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"fa9866d2-d1bd-4773-adcf-882941bd8f91\",\n                \"createdAt\": \"2024-12-12T16:38:59.056Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.056Z\",\n                \"deletedAt\": null,\n                \"name\": \"Banana\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"8b0eda68-6053-4cd8-b420-162e14ca8a86\",\n                \"createdAt\": \"2024-12-12T16:38:59.186Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.186Z\",\n                \"deletedAt\": null,\n                \"name\": \"Cheese\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"9ff572af-51e9-4b42-9d8d-7b97d4536711\",\n                \"createdAt\": \"2024-12-12T16:39:00.888Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.888Z\",\n                \"deletedAt\": null,\n                \"name\": \"Taco\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"c28901ce-ab1a-49dc-bb05-4b99ea42259c\",\n                \"createdAt\": \"2024-12-12T16:39:01.018Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.018Z\",\n                \"deletedAt\": null,\n                \"name\": \"Tart\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"9ed9c622-e7f4-4f59-bbf5-720119deab87\",\n                \"createdAt\": \"2024-12-12T16:38:59.256Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.256Z\",\n                \"deletedAt\": null,\n                \"name\": \"Chemical\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"14ba3509-f699-4807-a4cd-d261e6d5f9f9\",\n                \"createdAt\": \"2024-12-12T16:38:59.512Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.512Z\",\n                \"deletedAt\": null,\n                \"name\": \"Floral\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"513a0c7f-f3f6-406f-8156-5f6cb2d3633a\",\n                \"createdAt\": \"2024-12-12T16:38:59.379Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.379Z\",\n                \"deletedAt\": null,\n                \"name\": \"Coffee\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"9c8d701d-4bd0-48fb-954e-f950d4b1dc0c\",\n                \"createdAt\": \"2024-12-12T16:38:59.564Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.564Z\",\n                \"deletedAt\": null,\n                \"name\": \"Garlic\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"937485b3-33fa-4733-aa68-25f7e812f6cd\",\n                \"createdAt\": \"2024-12-12T16:38:59.991Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.991Z\",\n                \"deletedAt\": null,\n                \"name\": \"Lime\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"6c31d39d-e81c-420a-b6ee-d4fa654e7e5d\",\n                \"createdAt\": \"2024-12-12T16:39:00.054Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.054Z\",\n                \"deletedAt\": null,\n                \"name\": \"Maple\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"b6946514-2558-44fd-8147-83b5ab5a9f02\",\n                \"createdAt\": \"2024-12-12T16:39:00.252Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.252Z\",\n                \"deletedAt\": null,\n                \"name\": \"Orange\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"1d92ebe2-113a-49c8-b5d5-8297fa166244\",\n                \"createdAt\": \"2024-12-12T16:39:00.266Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.266Z\",\n                \"deletedAt\": null,\n                \"name\": \"Peach\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"a60336d7-0052-4de7-932f-beb0f4d75f06\",\n                \"createdAt\": \"2024-12-12T16:39:00.511Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.511Z\",\n                \"deletedAt\": null,\n                \"name\": \"Pine\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"8c317c37-88d9-4fc7-8332-05a4fc2a760f\",\n                \"createdAt\": \"2024-12-12T16:39:00.647Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.647Z\",\n                \"deletedAt\": null,\n                \"name\": \"Raspberry\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"466a7af6-09f7-4cd6-83bb-2d0844842916\",\n                \"createdAt\": \"2024-12-12T16:39:00.801Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.801Z\",\n                \"deletedAt\": null,\n                \"name\": \"Smoky\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"cdb67dea-813c-49fd-9300-b2dd15d3c780\",\n                \"createdAt\": \"2024-12-12T16:39:00.804Z\",\n                \"updatedAt\": \"2024-12-12T16:39:00.804Z\",\n                \"deletedAt\": null,\n                \"name\": \"Sour\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"2065663e-47ed-4a9e-8dd5-9ab081b71402\",\n                \"createdAt\": \"2024-12-12T16:39:01.244Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.244Z\",\n                \"deletedAt\": null,\n                \"name\": \"Woody\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"8cab00d7-db0e-4e97-806e-4be3c4015c68\",\n                \"createdAt\": \"2024-12-12T16:39:01.052Z\",\n                \"updatedAt\": \"2024-12-12T16:39:01.052Z\",\n                \"deletedAt\": null,\n                \"name\": \"Tangerine\",\n                \"attributeCategoryId\": \"d9227f2a-6269-43b3-8b18-b943973c7031\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            }\n        ]\n    },\n    {\n        \"id\": \"78215f27-8d1f-4fef-a0b7-0c1e047a96dc\",\n        \"createdAt\": \"2024-12-05T06:21:01.027Z\",\n        \"updatedAt\": \"2024-12-05T06:21:01.027Z\",\n        \"deletedAt\": null,\n        \"name\": \"Ingredients\",\n        \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\",\n        \"attributes\": [\n            {\n                \"id\": \"a953f605-fe23-4a53-af5a-a814b20caf6d\",\n                \"createdAt\": \"2025-01-13T19:19:07.741Z\",\n                \"updatedAt\": \"2025-01-13T19:19:07.740Z\",\n                \"deletedAt\": null,\n                \"name\": \"Fruity stuff\",\n                \"attributeCategoryId\": \"78215f27-8d1f-4fef-a0b7-0c1e047a96dc\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"d3ad08f1-423b-4d88-a2f7-9649208032cb\",\n                \"createdAt\": \"2025-01-13T19:18:59.839Z\",\n                \"updatedAt\": \"2025-01-13T19:18:59.825Z\",\n                \"deletedAt\": null,\n                \"name\": \"Gummy stuff\",\n                \"attributeCategoryId\": \"78215f27-8d1f-4fef-a0b7-0c1e047a96dc\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            }\n        ]\n    },\n    {\n        \"id\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n        \"createdAt\": \"2024-12-05T06:21:01.027Z\",\n        \"updatedAt\": \"2024-12-05T06:21:01.027Z\",\n        \"deletedAt\": null,\n        \"name\": \"Effects\",\n        \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\",\n        \"attributes\": [\n            {\n                \"id\": \"dca9d1a3-5ca0-407a-af25-bc92c12feae3\",\n                \"createdAt\": \"2024-12-12T16:38:58.602Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.602Z\",\n                \"deletedAt\": null,\n                \"name\": \"Aroused\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"7c2e06cb-320b-4078-90dc-d2e6d236bda0\",\n                \"createdAt\": \"2024-12-12T16:38:58.610Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.610Z\",\n                \"deletedAt\": null,\n                \"name\": \"Anti-Inflammatory\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"a81285a6-2549-4486-a65a-aef54b06633d\",\n                \"createdAt\": \"2024-12-12T16:38:58.616Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.616Z\",\n                \"deletedAt\": null,\n                \"name\": \"Calm\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"2a4ca5af-8b67-420e-9e73-e06d68c29840\",\n                \"createdAt\": \"2024-12-12T16:38:58.641Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.641Z\",\n                \"deletedAt\": null,\n                \"name\": \"Creative\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"94fa1e1b-599c-4cc6-9f54-8325c26d2d73\",\n                \"createdAt\": \"2024-12-12T16:38:58.664Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.664Z\",\n                \"deletedAt\": null,\n                \"name\": \"Creativity\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"5c628456-7bae-4d49-866f-abe9da05c29c\",\n                \"createdAt\": \"2024-12-12T16:38:58.678Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.678Z\",\n                \"deletedAt\": null,\n                \"name\": \"Energetic\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"a85b1869-9c31-413e-8556-954a511cd8d4\",\n                \"createdAt\": \"2024-12-12T16:38:58.799Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.799Z\",\n                \"deletedAt\": null,\n                \"name\": \"Hungry\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"bc060bc2-5388-4d3b-990e-5158c838673a\",\n                \"createdAt\": \"2024-12-12T16:38:58.885Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.885Z\",\n                \"deletedAt\": null,\n                \"name\": \"Sleepy\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"5ecb5f68-0970-4c12-bd91-3a09431b7af8\",\n                \"createdAt\": \"2024-12-12T16:38:58.718Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.718Z\",\n                \"deletedAt\": null,\n                \"name\": \"Euphoric\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"444fc2b0-4aa8-458b-a7bd-fbeb22f0c86a\",\n                \"createdAt\": \"2024-12-12T16:38:58.748Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.748Z\",\n                \"deletedAt\": null,\n                \"name\": \"Focused\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"5bd48085-cc5d-4798-bac8-60d89834dc2d\",\n                \"createdAt\": \"2024-12-12T16:38:58.857Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.857Z\",\n                \"deletedAt\": null,\n                \"name\": \"Relief\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"5aa79ea4-0d08-419a-9148-93ad57f7e056\",\n                \"createdAt\": \"2024-12-12T16:38:58.771Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.771Z\",\n                \"deletedAt\": null,\n                \"name\": \"Happy\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"239ed9be-8502-4e41-907e-51be3f665484\",\n                \"createdAt\": \"2024-12-12T16:38:58.910Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.910Z\",\n                \"deletedAt\": null,\n                \"name\": \"Relaxed\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"95d8fc06-4ba1-4e6d-85f5-320451e07180\",\n                \"createdAt\": \"2024-12-12T16:38:58.970Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.970Z\",\n                \"deletedAt\": null,\n                \"name\": \"Social\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"7b507399-8ea2-4a54-8987-fcae69ff0753\",\n                \"createdAt\": \"2024-12-12T16:38:58.995Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.995Z\",\n                \"deletedAt\": null,\n                \"name\": \"Uplifting\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"a8773bad-debc-4b5d-975e-6cd00166fee1\",\n                \"createdAt\": \"2024-12-12T16:38:59.020Z\",\n                \"updatedAt\": \"2024-12-12T16:38:59.020Z\",\n                \"deletedAt\": null,\n                \"name\": \"Uplifted\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"16fcf50f-d8f5-4b39-af97-0f8ffaa3e7db\",\n                \"createdAt\": \"2025-06-10T19:03:10.709Z\",\n                \"updatedAt\": \"2025-06-10T19:03:10.617Z\",\n                \"deletedAt\": null,\n                \"name\": \"Crazy\",\n                \"attributeCategoryId\": \"e6f132eb-6634-4af6-a9b4-1f67bd13002b\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            }\n        ]\n    },\n    {\n        \"id\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n        \"createdAt\": \"2024-12-05T06:21:01.027Z\",\n        \"updatedAt\": \"2024-12-05T06:21:01.027Z\",\n        \"deletedAt\": null,\n        \"name\": \"Aroma\",\n        \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\",\n        \"attributes\": [\n            {\n                \"id\": \"713bbcdf-28f7-44ff-a97b-833895938422\",\n                \"createdAt\": \"2024-12-12T16:38:56.868Z\",\n                \"updatedAt\": \"2024-12-12T16:38:56.868Z\",\n                \"deletedAt\": null,\n                \"name\": \"Apple\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"41f83896-0dbf-4c9b-acb1-48f6cf6c1ecc\",\n                \"createdAt\": \"2024-12-12T16:38:56.912Z\",\n                \"updatedAt\": \"2024-12-12T16:38:56.912Z\",\n                \"deletedAt\": null,\n                \"name\": \"Apricot\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"a0e53c74-33c0-4c3e-84e5-dc35aa20fadd\",\n                \"createdAt\": \"2024-12-12T16:38:56.923Z\",\n                \"updatedAt\": \"2024-12-12T16:38:56.923Z\",\n                \"deletedAt\": null,\n                \"name\": \"Banana\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"ff46443a-2973-4236-a7d6-8021245c910f\",\n                \"createdAt\": \"2024-12-12T16:38:56.966Z\",\n                \"updatedAt\": \"2024-12-12T16:38:56.966Z\",\n                \"deletedAt\": null,\n                \"name\": \"Berry\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"3eefe164-f5ba-4ecc-93cc-3c37538412bc\",\n                \"createdAt\": \"2024-12-12T16:38:56.981Z\",\n                \"updatedAt\": \"2024-12-12T16:38:56.981Z\",\n                \"deletedAt\": null,\n                \"name\": \"Blueberry\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"125bd385-773b-4cfd-bb99-9107e65496cd\",\n                \"createdAt\": \"2024-12-12T16:38:56.991Z\",\n                \"updatedAt\": \"2024-12-12T16:38:56.991Z\",\n                \"deletedAt\": null,\n                \"name\": \"Butter\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"6ec556c4-c2e3-4357-8f00-bf9ea03aa34a\",\n                \"createdAt\": \"2024-12-12T16:38:57.025Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.025Z\",\n                \"deletedAt\": null,\n                \"name\": \"Cheese\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"c3bf18bc-8398-4306-be32-3cd4683494a2\",\n                \"createdAt\": \"2024-12-12T16:38:57.078Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.078Z\",\n                \"deletedAt\": null,\n                \"name\": \"Chemical\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"713b02fc-04db-4d49-b026-008e6950d851\",\n                \"createdAt\": \"2024-12-12T16:38:57.087Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.087Z\",\n                \"deletedAt\": null,\n                \"name\": \"Cherry\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"6b4a3ddd-52da-4bc0-a254-e1a059e2ac30\",\n                \"createdAt\": \"2024-12-12T16:38:57.137Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.137Z\",\n                \"deletedAt\": null,\n                \"name\": \"Chestnut\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"764e7fc0-df3c-489b-994c-897beaa63e0d\",\n                \"createdAt\": \"2024-12-12T16:38:57.218Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.218Z\",\n                \"deletedAt\": null,\n                \"name\": \"Caramel\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"4e3608b7-c388-45ef-b649-367f1ecbbb4f\",\n                \"createdAt\": \"2024-12-12T16:38:57.239Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.239Z\",\n                \"deletedAt\": null,\n                \"name\": \"Chocolate\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"eb5c48b9-83a1-425f-9ff0-4c822ff9c3b5\",\n                \"createdAt\": \"2024-12-12T16:38:57.322Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.322Z\",\n                \"deletedAt\": null,\n                \"name\": \"Citrus\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"13082748-7c13-49b0-b68c-d50c7b4fdc0e\",\n                \"createdAt\": \"2024-12-12T16:38:57.329Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.329Z\",\n                \"deletedAt\": null,\n                \"name\": \"Cinnamon\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"60b72263-99ba-4c26-9275-a9aafc260981\",\n                \"createdAt\": \"2024-12-12T16:38:57.358Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.358Z\",\n                \"deletedAt\": null,\n                \"name\": \"Coffee\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"a3826728-60ea-442f-80f0-aca55b6243de\",\n                \"createdAt\": \"2024-12-12T16:38:57.380Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.380Z\",\n                \"deletedAt\": null,\n                \"name\": \"Coconut\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"079c1668-d9ca-4831-aeb8-a93801098e4f\",\n                \"createdAt\": \"2024-12-12T16:38:57.403Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.403Z\",\n                \"deletedAt\": null,\n                \"name\": \"Cucumber\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"969c6132-09ad-4fe0-b312-2deb2895eb25\",\n                \"createdAt\": \"2024-12-12T16:38:57.421Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.421Z\",\n                \"deletedAt\": null,\n                \"name\": \"Creamy\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"bf614314-f891-4386-9d24-7f9bad769616\",\n                \"createdAt\": \"2024-12-12T16:38:57.437Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.437Z\",\n                \"deletedAt\": null,\n                \"name\": \"Earthy\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"64d99ff8-9437-4ddf-bf8e-7a4937b7f02c\",\n                \"createdAt\": \"2024-12-12T16:38:57.472Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.472Z\",\n                \"deletedAt\": null,\n                \"name\": \"Floral\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"b7b4b0fe-652d-41ca-850e-00a19b4cbde7\",\n                \"createdAt\": \"2024-12-12T16:38:57.502Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.502Z\",\n                \"deletedAt\": null,\n                \"name\": \"Fruity\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"5459dabb-bbcc-4e70-b721-5a7cf1fc4f56\",\n                \"createdAt\": \"2024-12-12T16:38:57.551Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.551Z\",\n                \"deletedAt\": null,\n                \"name\": \"Fuel\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"e1ee8d9c-85f4-4903-9c52-fa9932949450\",\n                \"createdAt\": \"2024-12-12T16:38:57.583Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.583Z\",\n                \"deletedAt\": null,\n                \"name\": \"Garlic\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"f7fab50b-6a77-4e3b-86c6-08f425f7f5df\",\n                \"createdAt\": \"2024-12-12T16:38:57.598Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.598Z\",\n                \"deletedAt\": null,\n                \"name\": \"Grape\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"0024696f-0a27-46ad-9674-ee9959780836\",\n                \"createdAt\": \"2024-12-12T16:38:57.638Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.638Z\",\n                \"deletedAt\": null,\n                \"name\": \"Grapefruit\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"40998c7f-fabe-48b0-a96f-23757622c89c\",\n                \"createdAt\": \"2024-12-12T16:38:57.660Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.660Z\",\n                \"deletedAt\": null,\n                \"name\": \"Herbal\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"8345e08b-4ee8-44e8-aba4-ca5471d6677a\",\n                \"createdAt\": \"2024-12-12T16:38:57.707Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.707Z\",\n                \"deletedAt\": null,\n                \"name\": \"Honey\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"d6fac8b6-5890-463a-8c50-9ecc7b56973c\",\n                \"createdAt\": \"2024-12-12T16:38:57.715Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.715Z\",\n                \"deletedAt\": null,\n                \"name\": \"Lavender\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"b4354254-524a-4a91-8ad0-17ac4e2df797\",\n                \"createdAt\": \"2024-12-12T16:38:57.742Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.742Z\",\n                \"deletedAt\": null,\n                \"name\": \"Lime\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"c935e8b1-b0ba-405e-9082-6152d3583040\",\n                \"createdAt\": \"2024-12-12T16:38:57.781Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.781Z\",\n                \"deletedAt\": null,\n                \"name\": \"Lemon\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"c3f16d86-f357-4ca2-b713-832ad79888cf\",\n                \"createdAt\": \"2024-12-12T16:38:57.804Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.804Z\",\n                \"deletedAt\": null,\n                \"name\": \"Maple\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"00bc8f25-c70c-4eba-b3bc-997bd18ea232\",\n                \"createdAt\": \"2024-12-12T16:38:57.857Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.857Z\",\n                \"deletedAt\": null,\n                \"name\": \"Melon\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"3d2a3a8d-97dd-4a3c-8d6c-3668dbffee42\",\n                \"createdAt\": \"2024-12-12T16:38:57.884Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.884Z\",\n                \"deletedAt\": null,\n                \"name\": \"Mint\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"0bb2b247-38f4-45f3-b13a-aef0dcbebb8e\",\n                \"createdAt\": \"2024-12-12T16:38:57.904Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.904Z\",\n                \"deletedAt\": null,\n                \"name\": \"Nutty\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"f0718865-1979-43e0-9bf6-d4952fb9219a\",\n                \"createdAt\": \"2024-12-12T16:38:57.928Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.928Z\",\n                \"deletedAt\": null,\n                \"name\": \"Orange\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"61990dce-9125-4f04-b9be-17737b35b9df\",\n                \"createdAt\": \"2024-12-12T16:38:57.949Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.949Z\",\n                \"deletedAt\": null,\n                \"name\": \"Mango\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"b023ed43-7eac-47dc-95ca-69839595697f\",\n                \"createdAt\": \"2024-12-12T16:38:57.964Z\",\n                \"updatedAt\": \"2024-12-12T16:38:57.964Z\",\n                \"deletedAt\": null,\n                \"name\": \"Pear\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"97f2d270-1a26-4819-9be6-c26abe48cbc6\",\n                \"createdAt\": \"2024-12-12T16:38:58.018Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.018Z\",\n                \"deletedAt\": null,\n                \"name\": \"Pepper\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"7dee11b4-e9b0-4291-985d-5443708a6eb1\",\n                \"createdAt\": \"2024-12-12T16:38:58.035Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.035Z\",\n                \"deletedAt\": null,\n                \"name\": \"Pine\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"bef55773-19f2-4904-8103-b316383ef08f\",\n                \"createdAt\": \"2024-12-12T16:38:58.059Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.059Z\",\n                \"deletedAt\": null,\n                \"name\": \"Pineapple\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"8a18fd96-3800-4022-ab64-0ca7caeb4c1c\",\n                \"createdAt\": \"2024-12-12T16:38:58.124Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.124Z\",\n                \"deletedAt\": null,\n                \"name\": \"Peach\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"d9b5d5fd-0a8e-47b3-9e4c-cd062801d1ec\",\n                \"createdAt\": \"2024-12-12T16:38:58.132Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.132Z\",\n                \"deletedAt\": null,\n                \"name\": \"Plum\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"445b6400-92ad-415a-85c4-33995b82ce6a\",\n                \"createdAt\": \"2024-12-12T16:38:58.173Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.173Z\",\n                \"deletedAt\": null,\n                \"name\": \"Pungent\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"f1918b6a-2ff5-4040-868a-e58fee688321\",\n                \"createdAt\": \"2024-12-12T16:38:58.187Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.187Z\",\n                \"deletedAt\": null,\n                \"name\": \"Raspberry\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"c5c76c73-7d32-478c-87b1-9a36560c2052\",\n                \"createdAt\": \"2024-12-12T16:38:58.248Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.248Z\",\n                \"deletedAt\": null,\n                \"name\": \"Sage\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"f5529196-b044-490f-a6c5-cf8fd938b5ff\",\n                \"createdAt\": \"2024-12-12T16:38:58.242Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.242Z\",\n                \"deletedAt\": null,\n                \"name\": \"Savory\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"0865f6e7-00ce-4c9d-8c66-f5ecb1d86647\",\n                \"createdAt\": \"2024-12-12T16:38:58.286Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.286Z\",\n                \"deletedAt\": null,\n                \"name\": \"Sour\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"5beb08d8-2d95-4479-9fd8-a56ef8102685\",\n                \"createdAt\": \"2024-12-12T16:38:58.296Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.296Z\",\n                \"deletedAt\": null,\n                \"name\": \"Smoky\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"0f722c61-c6c1-49bd-ad75-1be1dd6dab5a\",\n                \"createdAt\": \"2024-12-12T16:38:58.309Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.309Z\",\n                \"deletedAt\": null,\n                \"name\": \"Spicy\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"a8909b0e-f915-467e-a0a5-90531067f724\",\n                \"createdAt\": \"2024-12-12T16:38:58.370Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.370Z\",\n                \"deletedAt\": null,\n                \"name\": \"Strawberry\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"38272c40-1695-4359-8488-2bb7cba3d014\",\n                \"createdAt\": \"2024-12-12T16:38:58.380Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.380Z\",\n                \"deletedAt\": null,\n                \"name\": \"Sweet\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"dfe49c30-b4d2-4da5-a5ad-d9d23ce25c0f\",\n                \"createdAt\": \"2024-12-12T16:38:58.394Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.394Z\",\n                \"deletedAt\": null,\n                \"name\": \"Tangerine\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"23f43161-1f2a-4963-8d03-f67838ac90a7\",\n                \"createdAt\": \"2024-12-12T16:38:58.415Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.415Z\",\n                \"deletedAt\": null,\n                \"name\": \"Tart\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"d96c9939-ed9c-4d16-8da3-5cd103952556\",\n                \"createdAt\": \"2024-12-12T16:38:58.432Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.432Z\",\n                \"deletedAt\": null,\n                \"name\": \"Tea\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"3e0f25eb-2a6d-4151-bac6-06633529677b\",\n                \"createdAt\": \"2024-12-12T16:38:58.453Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.453Z\",\n                \"deletedAt\": null,\n                \"name\": \"Tropical\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"7a66bf48-f6ef-4017-a0eb-7a9ca1da13a1\",\n                \"createdAt\": \"2024-12-12T16:38:58.509Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.509Z\",\n                \"deletedAt\": null,\n                \"name\": \"Vanilla\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"f7dfa307-3f25-436d-867e-e8481fdd9fe3\",\n                \"createdAt\": \"2024-12-12T16:38:58.526Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.526Z\",\n                \"deletedAt\": null,\n                \"name\": \"Watermelon\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            },\n            {\n                \"id\": \"7a5e1ad1-8866-4861-87bc-6c3ee17b0aff\",\n                \"createdAt\": \"2024-12-12T16:38:58.554Z\",\n                \"updatedAt\": \"2024-12-12T16:38:58.554Z\",\n                \"deletedAt\": null,\n                \"name\": \"Woody\",\n                \"attributeCategoryId\": \"92d2ecc0-90ff-4464-b640-088cd36c1221\",\n                \"organizationId\": \"b1226d0b-4940-4edf-aab3-dbd1642f7f69\"\n            }\n        ]\n    }\n]"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: f8efbe9f-60a4-4843-aa17-a372871064ab
                    createdAt:
                      type: string
                      example: '2024-12-05T06:21:01.027Z'
                    updatedAt:
                      type: string
                      example: '2024-12-05T06:21:01.027Z'
                    deletedAt: {}
                    name:
                      type: string
                      example: Internal Tags
                    organizationId:
                      type: string
                      example: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                    attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: c3dfbbff-d3f0-4679-8e0f-77738889e765
                          createdAt:
                            type: string
                            example: '2024-12-12T16:39:01.950Z'
                          updatedAt:
                            type: string
                            example: '2024-12-12T16:39:01.950Z'
                          deletedAt: {}
                          name:
                            type: string
                            example: Row 1 Shelf L
                          attributeCategoryId:
                            type: string
                            example: f8efbe9f-60a4-4843-aa17-a372871064ab
                          organizationId:
                            type: string
                            example: b1226d0b-4940-4edf-aab3-dbd1642f7f69
      deprecated: false
      tags:
      - Attributecategory
x-readme:
  headers:
  - key: Accept-Encoding
    value: gzip, br
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
