openapi: 3.2.0
info:
  title: Treez Product API
  version: '1.0'
  description: 'Operations tagged Product across 3 of this provider''s published API definitions: treez-catalog-openapi.json, treez-collections-openapi.json, treez-dispensary-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-prod.treez.io/service/catalog
- url: https://api-prod.treez.io/service/collection
- url: https://api-prod.treez.io/dispensary/v3
tags:
- name: Product
paths:
  /product:
    post:
      summary: Create Product
      description: ''
      operationId: catalog-product-create
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - brandId
              - productSubCategoryId
              properties:
                name:
                  type: string
                  description: The name of the product to be created
                brandId:
                  type: string
                  description: The `id` GUID of the brand
                productSubCategoryId:
                  type: string
                  description: The `id` of the sub-category for the product
                status:
                  type: string
                  description: The status of the product upon creation. Defaults to `active` if omitted.
                  enum:
                  - active
                  - inactive
                details:
                  type: object
                  properties:
                    classification:
                      type: string
                      enum:
                      - SATIVA
                      - INDICA
                      - CBD
                      - I/S
                      - KUSH
                      - NONE
                      - S/I
                      - HYBRID
                    extractionMethod:
                      type: string
                pricingMethod:
                  type: string
                  enum:
                  - FLAT
                  - TIER
                priceTierId:
                  type: string
                  description: (optional) The `id` GUID of the price tier to be assigned.
                strain:
                  type: string
                referenceIds:
                  type: array
                  items:
                    properties:
                      sourceName:
                        type: string
                      sourceId:
                        type: string
                      isInternal:
                        type: boolean
                    type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    data:
                    - id: 364c0e4b-cdc8-4e53-8ce6-6ab66bb72b62
                      createdAt: '2026-01-06T21:43:03.443Z'
                      updatedAt: '2026-01-06T21:43:03.282Z'
                      deletedAt: null
                      brandId: null
                      details:
                        classification: Hybrid
                        extractionMethod: Solventless
                      status: active
                      deprecatedAmount: null
                      name: Mythical T-Shirt
                      organizationId: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                      productSubCategoryId: 8983ffb6-50a7-46d5-8717-579c2738ae40
                      referenceIds: []
                      strain: null
                      pricingMethod: FLAT
                      priceTierId: null
                      targetMergedProductId: null
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 364c0e4b-cdc8-4e53-8ce6-6ab66bb72b62
                        createdAt:
                          type: string
                          example: '2026-01-06T21:43:03.443Z'
                        updatedAt:
                          type: string
                          example: '2026-01-06T21:43:03.282Z'
                        deletedAt: {}
                        brandId: {}
                        details:
                          type: object
                          properties:
                            classification:
                              type: string
                              example: Hybrid
                            extractionMethod:
                              type: string
                              example: Solventless
                        status:
                          type: string
                          example: active
                        deprecatedAmount: {}
                        name:
                          type: string
                          example: Mythical T-Shirt
                        organizationId:
                          type: string
                          example: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                        productSubCategoryId:
                          type: string
                          example: 8983ffb6-50a7-46d5-8717-579c2738ae40
                        referenceIds:
                          type: array
                          items:
                            type: object
                            properties: {}
                        strain: {}
                        pricingMethod:
                          type: string
                          example: FLAT
                        priceTierId: {}
                        targetMergedProductId: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Product
      security:
      - {}
    servers:
    - url: https://api-prod.treez.io/service/catalog
  /v3/product:
    patch:
      summary: Update Product
      description: ''
      operationId: catalog-product-update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: The `id` GUID of the product to be updated.
                brandId:
                  type: string
                  description: The `id` GUID of the brand
                name:
                  type: string
                  description: The product name
                productSubCategoryId:
                  type: string
                  description: The `id` GUID of the product subcategory
                status:
                  type: string
                  enum:
                  - active
                  - inactive
                referenceIds:
                  type: array
                  items:
                    properties:
                      sourceName:
                        type: string
                      sourceId:
                        type: string
                      isInternal:
                        type: boolean
                    type: object
                details:
                  type: object
                  properties:
                    classification:
                      type: string
                      enum:
                      - SATIVA
                      - INDICA
                      - CBD
                      - I/S
                      - KUSH
                      - NONE
                      - S/I
                      - HYBRID
                    extractionMethod:
                      type: string
                pricingMethod:
                  type: string
                  enum:
                  - FLAT
                  - TIER
                priceTierId:
                  type: string
                  description: (optional) The `id` GUID of the price tier to be assigned.
                strain:
                  type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    data:
                    - id: 01da5dbd-4e45-44d5-a62e-0e349f221cff
                      createdAt: '2025-06-23T14:26:59.056Z'
                      updatedAt: '2026-05-20T13:09:40.175Z'
                      deletedAt: null
                      brandId: 461fcf07-6e11-4c1e-943a-261c2956d695
                      details:
                        classification: Hybrid
                        extractionMethod: Solventless
                      status: active
                      deprecatedAmount: null
                      name: Super Mega Wicked Awesome Yum Yums
                      organizationId: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                      productSubCategoryId: f6e25c9a-27f3-41a7-9037-b5e0c2f3e652
                      referenceIds: []
                      strain: null
                      pricingMethod: FLAT
                      priceTierId: null
                      targetMergedProductId: null
                      variants:
                      - id: d0688962-79f8-4250-b2dc-fe173279a1fc
                        createdAt: '2026-01-20T14:48:44.763Z'
                        updatedAt: '2026-02-03T20:03:51.103Z'
                        deletedAt: null
                        name: Super Mega Wicked Awesome Yum Yums - 10 mg - Sample
                        labelPrinter: null
                        defaultPrices:
                          base: 1
                        details:
                          doses: 1
                          isSample: true
                          netWeight: 10
                          cbdPerDose: 1
                          thcPerDose: 10
                          totalMgCbd: 1
                          totalMgThc: 10
                          description: As the name says, these are even more awesome than their predecessor, Mega Wicked Awesome Yum Yums. Who'd have thought this was even possible? Putting this much awesomeness into a gummy is just absurd.
                          netWeightUom: MILLIGRAMS
                          useCustomName: false
                          hideFromEcomMenu: true
                        status: active
                        sku: null
                        additionalSku: []
                        uom: milligrams
                        liquidVolumeUom: null
                        amount: 10
                        liquidVolumeAmount: null
                        unitCount: 1
                        merchandiseSize: null
                        organizationId: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                        productId: 01da5dbd-4e45-44d5-a62e-0e349f221cff
                        referenceIds: []
                        targetMergedVariantId: null
                        parentId: 99dd4a54-4095-42e4-987e-b23ad59d2ac3
                      - id: 99dd4a54-4095-42e4-987e-b23ad59d2ac3
                        createdAt: '2025-06-23T14:29:11.503Z'
                        updatedAt: '2026-02-03T20:30:19.404Z'
                        deletedAt: null
                        name: Super Mega Wicked Awesome Yum Yums - 10 mg
                        labelPrinter: null
                        defaultPrices:
                          base: 2500
                        details:
                          doses: 1
                          menuTitle: Super Mega Wicked Awesome Yum Yums
                          netWeight: 10
                          cbdPerDose: 1
                          thcPerDose: 10
                          totalMgCbd: 1
                          totalMgThc: 10
                          description: As the name says, these are even more awesome than their predecessor, Mega Wicked Awesome Yum Yums. Who'd have thought this was even possible? Putting this much awesomeness into a gummy is just absurd.
                          netWeightUom: MILLIGRAMS
                          useCustomName: false
                          hideFromEcomMenu: false
                        status: active
                        sku: a5tw
                        additionalSku: []
                        uom: milligrams
                        liquidVolumeUom: null
                        amount: 10
                        liquidVolumeAmount: null
                        unitCount: 1
                        merchandiseSize: null
                        organizationId: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                        productId: 01da5dbd-4e45-44d5-a62e-0e349f221cff
                        referenceIds:
                        - sourceId: '456789'
                          sourceName: myReferenceId
                        - sourceId: '654987654'
                          sourceName: External ID
                        targetMergedVariantId: null
                        parentId: null
                      - id: d9a0061a-5d32-4ecf-a7be-803bcc0fa321
                        createdAt: '2026-02-03T20:30:19.417Z'
                        updatedAt: '2026-02-03T20:30:19.405Z'
                        deletedAt: null
                        name: Super Mega Wicked Awesome Yum Yums - 10 mg - Promo
                        labelPrinter: null
                        defaultPrices:
                          base: 5
                        details:
                          doses: 1
                          isPromo: true
                          netWeight: 10
                          cbdPerDose: 1
                          thcPerDose: 10
                          totalMgCbd: 1
                          totalMgThc: 10
                          description: As the name says, these are even more awesome than their predecessor, Mega Wicked Awesome Yum Yums. Who'd have thought this was even possible? Putting this much awesomeness into a gummy is just absurd.
                          netWeightUom: MILLIGRAMS
                          useCustomName: false
                          hideFromEcomMenu: true
                        status: active
                        sku: null
                        additionalSku: []
                        uom: milligrams
                        liquidVolumeUom: null
                        amount: 10
                        liquidVolumeAmount: null
                        unitCount: 1
                        merchandiseSize: null
                        organizationId: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                        productId: 01da5dbd-4e45-44d5-a62e-0e349f221cff
                        referenceIds: []
                        targetMergedVariantId: null
                        parentId: 99dd4a54-4095-42e4-987e-b23ad59d2ac3
                      - id: a4915ab7-8044-486d-bae5-441369aaaff9
                        createdAt: '2026-03-05T21:36:40.842Z'
                        updatedAt: '2026-04-28T19:20:36.283Z'
                        deletedAt: null
                        name: Super Mega Wicked Awesome Yum Yums - 5 mg
                        labelPrinter: null
                        defaultPrices:
                          base: 1000
                        details:
                          totalMgThc: 5
                          description: As the name says, these are even more awesome than their predecessor, Mega Wicked Awesome Yum Yums. Who'd have thought this was even possible? Putting this much awesomeness into a gummy is just absurd.
                          useCustomName: false
                          hideFromEcomMenu: false
                          totalFlowerWeight: 0.006
                        status: active
                        sku: null
                        additionalSku: []
                        uom: milligrams
                        liquidVolumeUom: null
                        amount: 5
                        liquidVolumeAmount: null
                        unitCount: 1
                        merchandiseSize: null
                        organizationId: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                        productId: 01da5dbd-4e45-44d5-a62e-0e349f221cff
                        referenceIds:
                        - sourceId: referenceValue1
                          sourceName: referenceName1
                        targetMergedVariantId: null
                        parentId: null
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 01da5dbd-4e45-44d5-a62e-0e349f221cff
                        createdAt:
                          type: string
                          example: '2025-06-23T14:26:59.056Z'
                        updatedAt:
                          type: string
                          example: '2026-05-20T13:09:40.175Z'
                        deletedAt: {}
                        brandId:
                          type: string
                          example: 461fcf07-6e11-4c1e-943a-261c2956d695
                        details:
                          type: object
                          properties:
                            classification:
                              type: string
                              example: Hybrid
                            extractionMethod:
                              type: string
                              example: Solventless
                        status:
                          type: string
                          example: active
                        deprecatedAmount: {}
                        name:
                          type: string
                          example: Super Mega Wicked Awesome Yum Yums
                        organizationId:
                          type: string
                          example: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                        productSubCategoryId:
                          type: string
                          example: f6e25c9a-27f3-41a7-9037-b5e0c2f3e652
                        referenceIds:
                          type: array
                          items:
                            type: object
                            properties: {}
                        strain: {}
                        pricingMethod:
                          type: string
                          example: FLAT
                        priceTierId: {}
                        targetMergedProductId: {}
                        variants:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: d0688962-79f8-4250-b2dc-fe173279a1fc
                              createdAt:
                                type: string
                                example: '2026-01-20T14:48:44.763Z'
                              updatedAt:
                                type: string
                                example: '2026-02-03T20:03:51.103Z'
                              deletedAt: {}
                              name:
                                type: string
                                example: Super Mega Wicked Awesome Yum Yums - 10 mg - Sample
                              labelPrinter: {}
                              defaultPrices:
                                type: object
                                properties:
                                  base:
                                    type: integer
                                    example: 1
                                    default: 0
                              details:
                                type: object
                                properties:
                                  doses:
                                    type: integer
                                    example: 1
                                    default: 0
                                  isSample:
                                    type: boolean
                                    example: true
                                    default: true
                                  netWeight:
                                    type: integer
                                    example: 10
                                    default: 0
                                  cbdPerDose:
                                    type: integer
                                    example: 1
                                    default: 0
                                  thcPerDose:
                                    type: integer
                                    example: 10
                                    default: 0
                                  totalMgCbd:
                                    type: integer
                                    example: 1
                                    default: 0
                                  totalMgThc:
                                    type: integer
                                    example: 10
                                    default: 0
                                  description:
                                    type: string
                                    example: As the name says, these are even more awesome than their predecessor, Mega Wicked Awesome Yum Yums. Who'd have thought this was even possible? Putting this much awesomeness into a gummy is just absurd.
                                  netWeightUom:
                                    type: string
                                    example: MILLIGRAMS
                                  useCustomName:
                                    type: boolean
                                    example: false
                                    default: true
                                  hideFromEcomMenu:
                                    type: boolean
                                    example: true
                                    default: true
                              status:
                                type: string
                                example: active
                              sku: {}
                              additionalSku:
                                type: array
                                items:
                                  type: object
                                  properties: {}
                              uom:
                                type: string
                                example: milligrams
                              liquidVolumeUom: {}
                              amount:
                                type: integer
                                example: 10
                                default: 0
                              liquidVolumeAmount: {}
                              unitCount:
                                type: integer
                                example: 1
                                default: 0
                              merchandiseSize: {}
                              organizationId:
                                type: string
                                example: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                              productId:
                                type: string
                                example: 01da5dbd-4e45-44d5-a62e-0e349f221cff
                              referenceIds:
                                type: array
                                items:
                                  type: object
                                  properties: {}
                              targetMergedVariantId: {}
                              parentId:
                                type: string
                                example: 99dd4a54-4095-42e4-987e-b23ad59d2ac3
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Product
      security:
      - {}
    servers:
    - url: https://api-prod.treez.io/service/catalog
  /v3/product/image/create:
    post:
      summary: Create Pre-Signed URL
      description: The pre-signed URL provides a secure, one-time upload link to add an image file to the Treez repository. Once uploaded, the subsequent steps in this flow will allow linking of the image to a product or sku.
      operationId: catalog-image-create
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the image file with extension. Example: `cannabis_leaf.png`'
                contentLength:
                  type: integer
                  description: 'The size of the image file in bytes. Example: `2344997`'
                  format: int32
                contentType:
                  type: string
                  description: The type of file to be uploaded
                  enum:
                  - image/png
                  - image/jpeg
                  - image/jpg
                objectType:
                  type: string
                  enum:
                  - PRODUCT_IMAGE
                  - PRODUCT_VARIANT_IMAGE
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"fileId\": \"56458c56-4f35-49ad-831c-9e240d82eeee\",\n    \"presignedUrl\": \"https://file-management-dev-public-files.s3.us-west-2.amazonaws.com/b1226d0b-4940-4edf-aab3-dbd1642f7f69/56458c56-4f35-49ad-831c-9e240d82eeee?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20250627%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250627T151416Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEH8aCXVzLXdlc3QtMiJIMEYCIQD3Mrwt8WEzWZodXSovoRe6bGsjnvchxgUYkgK%2FKMLDMAIhAIpyWIanVF%2BDIp07Sz9bVYas4Xin9ZF5gG1xNtIuQavOKqUDCHgQABoMNzg3MTI1OTMyNTkwIgyfzQvbBxXGcH2qXpMqggOrUtztuy91dkRw0zNT0bxT1nhPBUoS99oW%2Bp8s5ONocDq3b4%2BK8PyivVs9%2FtCMnE8Rkg%2FygzimR7GFoNKou74Qao1NuBmmET6sJ91ZkVq55XnjWUpXzgqz4jy3pgw5v33Acg0WPZi1I5FOTTys4eLD8fJwg50ZwsVA3rzcOlRrunEMoHuBKpFRuidy9Ak40vt3%2FVJ7yCBeZuQ1Sl7wdj1%2Bkv8Y5XygRIHYWdaayrusSlYKzjGejo0468ZbPiq5CnvivcvExwi3T1hBuhvHajKsfCNVGyJlmZRnP73r5VDqg%2F0Me13vEWJfFdJ24gKXxxPG3Qa6Zk96NN0vY05GOntVTIf2BI54oY5ASWtacoeTnaGglYNe0GQaUzVs5c9rvuhCWDSGnWCdghBCAHUVbyfriZGSa8cAvjP8xrtNVHZGrUx1AMO5zPKAOFCK7g6xZ79uBfi%2FZ8xIgN%2FE%2FgZ7LorEn%2BGaXINBEE0eXy3ujsgxMVWAhCP0ue7sMKboDa%2FLL1MSwDDF6vrCBjqcASutGKBKLMmYrSLe4KAV7eRsqDVkSOLhvfEJ2pK%2FpOLidmABeuK4h%2FB%2FpEgPPudOv8eavqpzIXMMb%2BJs0ShEzCYk3KO4tFTCqRshf3eNz1t0RUsFiiMIZ9KqDVUEIGLfzC6K32kfhIho3AqUK%2BG5H5c4%2FY0qgHFQFJcxdbhXNmG%2FAefkQiNR6%2FuByDgI1ijWF7JS0rkQnSQZvgRjJw%3D%3D&X-Amz-Signature=a4e3bc8dbe06d7ec367e8be596e430e10f668b64588b22c3ef84833463f71963&X-Amz-SignedHeaders=content-length%3Bhost&x-amz-checksum-sha256=47DEQpj8HBSa%2B%2FTImW%2B5JCeuQeRkm5NMpJWZG3hSuFU%3D&x-amz-meta-requestorid=6b9810e0-b8cb-432b-ab0a-a1af9643a1c2&x-amz-meta-requestorip=47.199.42.29&x-amz-meta-requestortype=partner&x-amz-sdk-checksum-algorithm=SHA256&x-id=PutObject\"\n}"
              schema:
                type: object
                properties:
                  fileId:
                    type: string
                    example: 56458c56-4f35-49ad-831c-9e240d82eeee
                  presignedUrl:
                    type: string
                    example: https://file-management-dev-public-files.s3.us-west-2.amazonaws.com/b1226d0b-4940-4edf-aab3-dbd1642f7f69/56458c56-4f35-49ad-831c-9e240d82eeee?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20250627%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250627T151416Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEH8aCXVzLXdlc3QtMiJIMEYCIQD3Mrwt8WEzWZodXSovoRe6bGsjnvchxgUYkgK%2FKMLDMAIhAIpyWIanVF%2BDIp07Sz9bVYas4Xin9ZF5gG1xNtIuQavOKqUDCHgQABoMNzg3MTI1OTMyNTkwIgyfzQvbBxXGcH2qXpMqggOrUtztuy91dkRw0zNT0bxT1nhPBUoS99oW%2Bp8s5ONocDq3b4%2BK8PyivVs9%2FtCMnE8Rkg%2FygzimR7GFoNKou74Qao1NuBmmET6sJ91ZkVq55XnjWUpXzgqz4jy3pgw5v33Acg0WPZi1I5FOTTys4eLD8fJwg50ZwsVA3rzcOlRrunEMoHuBKpFRuidy9Ak40vt3%2FVJ7yCBeZuQ1Sl7wdj1%2Bkv8Y5XygRIHYWdaayrusSlYKzjGejo0468ZbPiq5CnvivcvExwi3T1hBuhvHajKsfCNVGyJlmZRnP73r5VDqg%2F0Me13vEWJfFdJ24gKXxxPG3Qa6Zk96NN0vY05GOntVTIf2BI54oY5ASWtacoeTnaGglYNe0GQaUzVs5c9rvuhCWDSGnWCdghBCAHUVbyfriZGSa8cAvjP8xrtNVHZGrUx1AMO5zPKAOFCK7g6xZ79uBfi%2FZ8xIgN%2FE%2FgZ7LorEn%2BGaXINBEE0eXy3ujsgxMVWAhCP0ue7sMKboDa%2FLL1MSwDDF6vrCBjqcASutGKBKLMmYrSLe4KAV7eRsqDVkSOLhvfEJ2pK%2FpOLidmABeuK4h%2FB%2FpEgPPudOv8eavqpzIXMMb%2BJs0ShEzCYk3KO4tFTCqRshf3eNz1t0RUsFiiMIZ9KqDVUEIGLfzC6K32kfhIho3AqUK%2BG5H5c4%2FY0qgHFQFJcxdbhXNmG%2FAefkQiNR6%2FuByDgI1ijWF7JS0rkQnSQZvgRjJw%3D%3D&X-Amz-Signature=a4e3bc8dbe06d7ec367e8be596e430e10f668b64588b22c3ef84833463f71963&X-Amz-SignedHeaders=content-length%3Bhost&x-amz-checksum-sha256=47DEQpj8HBSa%2B%2FTImW%2B5JCeuQeRkm5NMpJWZG3hSuFU%3D&x-amz-meta-requestorid=6b9810e0-b8cb-432b-ab0a-a1af9643a1c2&x-amz-meta-requestorip=47.199.42.29&x-amz-meta-requestortype=partner&x-amz-sdk-checksum-algorithm=SHA256&x-id=PutObject
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Product
      security:
      - {}
    servers:
    - url: https://api-prod.treez.io/service/catalog
  /{ver}/product:
    get:
      summary: Get Products by ID
      description: ''
      operationId: catalog-product-read
      parameters:
      - name: ids
        in: query
        description: '`id` of the product to be retrieved.'
        required: true
        schema:
          type: array
          items:
            type: string
      - in: path
        name: ver
        schema:
          type: string
          default: v3
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                  - id: 01da5dbd-4e45-44d5-a62e-0e349f221cff
                    createdAt: '2025-06-23T14:26:59.056Z'
                    updatedAt: '2026-02-03T18:44:08.016Z'
                    deletedAt: null
                    brandId: 461fcf07-6e11-4c1e-943a-261c2956d695
                    details:
                      classification: Hybrid
                      extractionMethod: Solventless
                    status: active
                    deprecatedAmount: null
                    name: Super Mega Wicked Awesome Yum Yums
                    organizationId: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                    productSubCategoryId: f6e25c9a-27f3-41a7-9037-b5e0c2f3e652
                    referenceIds: []
                    strain: null
                    pricingMethod: FLAT
                    priceTierId: null
                    targetMergedProductId: null
                    brand:
                      id: 461fcf07-6e11-4c1e-943a-261c2956d695
                      createdAt: '2024-12-12T16:38:10.014Z'
                      updatedAt: '2024-12-12T16:38:10.014Z'
                      deletedAt: null
                      name: Camino
                      organizationId: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                    productSubCategory:
                      id: f6e25c9a-27f3-41a7-9037-b5e0c2f3e652
                      name: Gummy
                      productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                      productCategory:
                        id: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                        name: Edible
                    variants:
                    - id: 99dd4a54-4095-42e4-987e-b23ad59d2ac3
                      createdAt: '2025-06-23T14:29:11.503Z'
                      updatedAt: '2026-02-03T18:26:25.785Z'
                      deletedAt: null
                      name: Super Mega Wicked Awesome Yum Yums - 10 mg
                      labelPrinter: null
                      defaultPrices:
                        base: 2500
                      details:
                        doses: 1
                        netWeight: 10
                        cbdPerDose: 1
                        thcPerDose: 10
                        totalMgCbd: 1
                        totalMgThc: 10
                        description: As the name says, these are even more awesome than their predecessor, Mega Wicked Awesome Yum Yums. Who'd have thought this was even possible? Putting this much awesomeness into a gummy is just absurd.
                        netWeightUom: MILLIGRAMS
                        useCustomName: false
                        hideFromEcomMenu: false
                      status: active
                      sku: null
                      additionalSku: []
                      uom: milligrams
                      liquidVolumeUom: null
                      amount: 10
                      liquidVolumeAmount: null
                      unitCount: 1
                      merchandiseSize: null
                      organizationId: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                      productId: 01da5dbd-4e45-44d5-a62e-0e349f221cff
                      referenceIds:
                      - sourceId: '456789'
                        sourceName: myReferenceId
                      - sourceId: '654987654'
                        sourceName: External ID
                      targetMergedVariantId: null
                      parentId: null
                      label: 10 mg
                    - id: d0688962-79f8-4250-b2dc-fe173279a1fc
                      createdAt: '2026-01-20T14:48:44.763Z'
                      updatedAt: '2026-02-03T18:26:25.786Z'
                      deletedAt: null
                      name: Super Mega Wicked Awesome Yum Yums - 10 mg - Sample
                      labelPrinter: null
                      defaultPrices:
                        base: 1
                      details:
                        doses: 1
                        isSample: true
                        netWeight: 10
                        cbdPerDose: 1
                        thcPerDose: 10
                        totalMgCbd: 1
                        totalMgThc: 10
                        description: As the name says, these are even more awesome than their predecessor, Mega Wicked Awesome Yum Yums. Who'd have thought this was even possible? Putting this much awesomeness into a gummy is just absurd.
                        netWeightUom: MILLIGRAMS
                        useCustomName: false
                        hideFromEcomMenu: true
                      status: active
                      sku: null
                      additionalSku: []
                      uom: milligrams
                      liquidVolumeUom: null
                      amount: 10
                      liquidVolumeAmount: null
                      unitCount: 1
                      merchandiseSize: null
                      organizationId: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                      productId: 01da5dbd-4e45-44d5-a62e-0e349f221cff
                      referenceIds: []
                      targetMergedVariantId: null
                      parentId: 99dd4a54-4095-42e4-987e-b23ad59d2ac3
                      label: 10 mg - Sample
                    productAttributes: []
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 01da5dbd-4e45-44d5-a62e-0e349f221cff
                    createdAt:
                      type: string
                      example: '2025-06-23T14:26:59.056Z'
                    updatedAt:
                      type: string
                      example: '2026-02-03T18:44:08.016Z'
                    deletedAt: {}
                    brandId:
                      type: string
                      example: 461fcf07-6e11-4c1e-943a-261c2956d695
                    details:
                      type: object
                      properties:
                        classification:
                          type: string
                          example: Hybrid
                        extractionMethod:
                          type: string
                          example: Solventless
                    status:
                      type: string
                      example: active
                    deprecatedAmount: {}
                    name:
                      type: string
                      example: Super Mega Wicked Awesome Yum Yums
                    organizationId:
                      type: string
                      example: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                    productSubCategoryId:
                      type: string
                      example: f6e25c9a-27f3-41a7-9037-b5e0c2f3e652
                    referenceIds:
                      type: array
                      items:
                        type: object
                        properties: {}
                    strain: {}
                    pricingMethod:
                      type: string
                      example: FLAT
                    priceTierId: {}
                    targetMergedProductId: {}
                    brand:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 461fcf07-6e11-4c1e-943a-261c2956d695
                        createdAt:
                          type: string
                          example: '2024-12-12T16:38:10.014Z'
                        updatedAt:
                          type: string
                          example: '2024-12-12T16:38:10.014Z'
                        deletedAt: {}
                        name:
                          type: string
                          example: Camino
                        organizationId:
                          type: string
                          example: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                    productSubCategory:
                      type: object
                      properties:
                        id:
                          type: string
                          example: f6e25c9a-27f3-41a7-9037-b5e0c2f3e652
                        name:
                          type: string
                          example: Gummy
                        productCategoryId:
                          type: string
                          example: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                        productCategory:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                            name:
                              type: string
                              example: Edible
                    variants:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 99dd4a54-4095-42e4-987e-b23ad59d2ac3
                          createdAt:
                            type: string
                            example: '2025-06-23T14:29:11.503Z'
                          updatedAt:
                            type: string
                            example: '2026-02-03T18:26:25.785Z'
                          deletedAt: {}
                          name:
                            type: string
                            example: Super Mega Wicked Awesome Yum Yums - 10 mg
                          labelPrinter: {}
                          defaultPrices:
                            type: object
                            properties:
                              base:
                                type: integer
                                example: 2500
                                default: 0
                          details:
                            type: object
                            properties:
                              doses:
                                type: integer
                                example: 1
                                default: 0
                              netWeight:
                                type: integer
                                example: 10
                                default: 0
                              cbdPerDose:
                                type: integer
                                example: 1
                                default: 0
                              thcPerDose:
                                type: integer
                                example: 10
                                default: 0
                              totalMgCbd:
                                type: integer
                                example: 1
                                default: 0
                              totalMgThc:
                                type: integer
                                example: 10
                                default: 0
                              description:
                                type: string
                                example: As the name says, these are even more awesome than their predecessor, Mega Wicked Awesome Yum Yums. Who'd have thought this was even possible? Putting this much awesomeness into a gummy is just absurd.
                              netWeightUom:
                                type: string
                                example: MILLIGRAMS
                              useCustomName:
                                type: boolean
                                example: false
                                default: true
                              hideFromEcomMenu:
                                type: boolean
                                example: false
                                default: true
                          status:
                            type: string
                            example: active
                          sku: {}
                          additionalSku:
                            type: array
                            items:
                              type: object
                              properties: {}
                          uom:
                            type: string
                            example: milligrams
                          liquidVolumeUom: {}
                          amount:
                            type: integer
                            example: 10
                            default: 0
                          liquidVolumeAmount: {}
                          unitCount:
                            type: integer
                            example: 1
                            default: 0
                          merchandiseSize: {}
                          organizationId:
                            type: string
                            example: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                          productId:
                            type: string
                            example: 01da5dbd-4e45-44d5-a62e-0e349f221cff
                          referenceIds:
                            type: array
                            items:
                              type: object
                              properties:
                                sourceId:
                                  type: string
                                  example: '456789'
                                sourceName:
                                  type: string
                                  example: myReferenceId
                          targetMergedVariantId: {}
                          parentId: {}
                          label:
                            type: string
                            example: 10 mg
                    productAttributes:
                      type: array
                      items:
                        type: object
                        properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: ''
      deprecated: false
      tags:
      - Product
      security:
      - {}
    servers:
    - url: https://api-prod.treez.io/service/catalog
  /{ver}/product/{id}:
    get:
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                OK:
                  summary: OK
                  value:
                    data:
                    - productId: 16c190eb-4eee-4a15-93e8-722111c6c1ba
                      productName: '710 List | Sugar Coat #9 | Second Press Rosin | 2g'
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: d7b927aa-b184-4ec9-81ff-59974b3a5dbd
                      productSubCategoryName: Rosin
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: 40f3cafb-5716-42f3-a874-1e480cc20492
                        name: '710 List | Sugar Coat #9 | Second Press Rosin | 2g'
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 2000
                        sku: '710 List | Sugar Coat #9 | Second Press Rosin | 2g'
                        uom: grams
                        amount: 2
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: '710 List | Sugar Coat #9 | Second Press Rosin | 2g'
                          netWeight: 2
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 2
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: 18abf847-7cc6-44b2-9045-da7b6c0d2f49
                      productName: '710 List | Cherry Paloma #4 | Persy Badder | 4g'
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: fb51c92a-d818-4b54-9710-e45f82eaf28a
                      productSubCategoryName: Badder
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: 8a0c5a94-26f8-4c22-b781-2926c223881e
                        name: '710 List | Cherry Paloma #4 | Persy Badder | 4g'
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 10500
                        sku: '710 List | Cherry Paloma #4 | Persy Badder | 4g'
                        uom: grams
                        amount: 4
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: '710 List | Cherry Paloma #4 | Persy Badder | 4g'
                          netWeight: 4
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 4
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: 1c8d3b32-ac05-4293-99a4-a8f90b1df021
                      productName: 710 List | Donny Burger | Live Rosin Badder | 5g
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: fb51c92a-d818-4b54-9710-e45f82eaf28a
                      productSubCategoryName: Badder
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: f25e9916-c7a4-4814-ac0f-7906b28e9cf2
                        name: 710 List | Donny Burger | Live Rosin Badder | 5g
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 9800
                        sku: 710 List | Donny Burger | Live Rosin Badder | 5g
                        uom: grams
                        amount: 5
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: 710 List | Donny Burger | Live Rosin Badder | 5g
                          netWeight: 5
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 5
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: 27ed7ae2-b083-49d0-99fa-6bca99417204
                      productName: '710 List | Lovers Lane #12 | Persy Badder | 5g'
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: fb51c92a-d818-4b54-9710-e45f82eaf28a
                      productSubCategoryName: Badder
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: e534b559-92b9-4dcb-a341-0ffe2eb25410
                        name: '710 List | Lovers Lane #12 | Persy Badder | 5g'
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 13900
                        sku: '710 List | Lovers Lane #12 | Persy Badder | 5g'
                        uom: grams
                        amount: 5
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: '710 List | Lovers Lane #12 | Persy Badder | 5g'
                          netWeight: 5
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 5
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: 3811ce51-3e31-40b3-94fe-88aae37589f2
                      productName: Special medical product
                      brandId: d7bca43b-8407-4083-9fea-7d8f4421fba4
                      classification: Indica
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: Special
                      productSubCategoryId: 88a76561-96d3-411e-918c-154def445cfd
                      productSubCategoryName: Dry Sift
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: b33eb713-21bb-4d45-92ad-c20e7a9b5f0f
                        name: Special medical product - 20 g
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 3000
                        sku: null
                        uom: grams
                        amount: 20
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          useCustomName: false
                          hideFromEcomMenu: false
                          totalFlowerWeight: 20
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: 3be75cc0-ba12-4b23-a9d2-5d26cb4b3e03
                      productName: '710 List | Randy Watzon #13 + Ztan Lee #5 | RSO | 2g'
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: ca0efc0e-eea2-4e98-9e0b-c5c178e0c9a0
                      productSubCategoryName: RSO
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: 803a4a9c-67f2-4e67-9e70-8f652637f5e8
                        name: '710 List | Randy Watzon #13 + Ztan Lee #5 | RSO | 2g'
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 1800
                        sku: '710 List | Randy Watzon #13 + Ztan Lee #5 | RSO | 2g'
                        uom: grams
                        amount: 2
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: '710 List | Randy Watzon #13 + Ztan Lee #5 | RSO | 2g'
                          netWeight: 2
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 2
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: 3e69252e-e383-4b73-a5a5-3cd50ab56beb
                      productName: 710 List | Super Freak + Super Freak | Close Friends | 4g
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: d7b927aa-b184-4ec9-81ff-59974b3a5dbd
                      productSubCategoryName: Rosin
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: 53610186-db2d-4d14-8625-8b3ab4e18365
                        name: 710 List | Super Freak + Super Freak | Close Friends | 4g
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 18000
                        sku: 710 List | Super Freak + Super Freak | Close Friends | 4g
                        uom: grams
                        amount: 4
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: 710 List | Super Freak + Super Freak | Close Friends | 4g
                          netWeight: 4
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 4
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: 4da72f2d-90a7-42fb-a611-21faaf6b375a
                      productName: '710 List | Grease Monkey #15 | Live Rosin Badder | 2g'
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: fb51c92a-d818-4b54-9710-e45f82eaf28a
                      productSubCategoryName: Badder
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: b02a1a76-2586-41da-b3ff-459cff090767
                        name: '710 List | Grease Monkey #15 | Live Rosin Badder | 2g'
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 4700
                        sku: '710 List | Grease Monkey #15 | Live Rosin Badder | 2g'
                        uom: grams
                        amount: 2
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: '710 List | Grease Monkey #15 | Live Rosin Badder | 2g'
                          netWeight: 2
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 2
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: 62628acc-cf9b-4c9f-9ee0-138c95bd0c8c
                      productName: '710 List | Bootylicious #1 | Live Rosin Badder | 2g'
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: fb51c92a-d818-4b54-9710-e45f82eaf28a
                      productSubCategoryName: Badder
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: 93f5e2fb-754a-436a-b1cc-7e12f1e14e2e
                        name: '710 List | Bootylicious #1 | Live Rosin Badder | 2g'
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 5200
                        sku: '710 List | Bootylicious #1 | Live Rosin Badder | 2g'
                        uom: grams
                        amount: 2
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: '710 List | Bootylicious #1 | Live Rosin Badder | 2g'
                          netWeight: 2
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 2
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: 629b15b9-531c-4801-b479-b6ac88f8c277
                      productName: 710 List | Cake Crasher | Persy Badder | 5g
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: fb51c92a-d818-4b54-9710-e45f82eaf28a
                      productSubCategoryName: Badder
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: da0ffcea-ec53-466c-b8e2-d25201dcc0a9
                        name: 710 List | Cake Crasher | Persy Badder | 5g
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 10300
                        sku: 710 List | Cake Crasher | Persy Badder | 5g
                        uom: grams
                        amount: 5
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: 710 List | Cake Crasher | Persy Badder | 5g
                          netWeight: 5
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 5
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: 972a9d7e-7741-4103-a629-2947246b3671
                      productName: 710 List | Z | Close Friends | 4g
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: d7b927aa-b184-4ec9-81ff-59974b3a5dbd
                      productSubCategoryName: Rosin
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: 36dd585d-1bae-4101-9b3f-fbb12cf06c1b
                        name: 710 List | Z | Close Friends | 4g
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 13500
                        sku: 710 List | Z | Close Friends | 4g
                        uom: grams
                        amount: 4
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: 710 List | Z | Close Friends | 4g
                          netWeight: 4
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 4
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: 9db5e59a-88b7-48a5-9a09-0e490ba2975f
                      productName: '710 List | Queens Zugar Cookie #9 | Live Rosin Badder | 5g'
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: fb51c92a-d818-4b54-9710-e45f82eaf28a
                      productSubCategoryName: Badder
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: 89ec047a-6599-4502-9458-0e5b6be7996a
                        name: '710 List | Queens Zugar Cookie #9 | Live Rosin Badder | 5g'
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 5600
                        sku: '710 List | Queens Zugar Cookie #9 | Live Rosin Badder | 5g'
                        uom: grams
                        amount: 5
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: '710 List | Queens Zugar Cookie #9 | Live Rosin Badder | 5g'
                          netWeight: 5
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 5
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: a01e5127-8df0-418b-b7a5-a4094a67d211
                      productName: '710 List | Cake Crasher + Ego Death #12 | RSO | 2g'
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: ca0efc0e-eea2-4e98-9e0b-c5c178e0c9a0
                      productSubCategoryName: RSO
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: 321bc04c-ea5e-48c8-958c-4ca304079f17
                        name: '710 List | Cake Crasher + Ego Death #12 | RSO | 2g'
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 2300
                        sku: '710 List | Cake Crasher + Ego Death #12 | RSO | 2g'
                        uom: grams
                        amount: 2
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: '710 List | Cake Crasher + Ego Death #12 | RSO | 2g'
                          netWeight: 2
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 2
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: a06c4aa7-c625-4c0f-91d7-72acf39b12b5
                      productName: '710 List | SB 36 #1 | Live Rosin Badder | 2g'
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: fb51c92a-d818-4b54-9710-e45f82eaf28a
                      productSubCategoryName: Badder
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: d7b6c586-0b0f-4cb8-8964-60ef0728fafd
                        name: '710 List | SB 36 #1 | Live Rosin Badder | 2g'
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 3900
                        sku: '710 List | SB 36 #1 | Live Rosin Badder | 2g'
                        uom: grams
                        amount: 2
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: '710 List | SB 36 #1 | Live Rosin Badder | 2g'
                          netWeight: 2
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 2
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: a9c915a3-0e32-437c-92d8-4826c3943f98
                      productName: '710 List | ZZ Top #3 | Persy Sauce | 2g'
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: d07708db-2fb8-4b27-a5fc-0317bfc94d42
                      productSubCategoryName: Rosin Sauce
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: 3ebad0db-7806-4706-a5bf-ed8d2da8db51
                        name: '710 List | ZZ Top #3 | Persy Sauce | 2g'
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 8000
                        sku: '710 List | ZZ Top #3 | Persy Sauce | 2g'
                        uom: grams
                        amount: 2
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: '710 List | ZZ Top #3 | Persy Sauce | 2g'
                          netWeight: 2
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 2
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: ada5c2df-fab8-4fb2-a6d5-0498aacaed27
                      productName: 710 List | LunarZ + LunarZ | Close Friends | 4g
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: d7b927aa-b184-4ec9-81ff-59974b3a5dbd
                      productSubCategoryName: Rosin
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: 9519d5aa-ffa7-497a-9f20-2b985b4e69ea
                        name: 710 List | LunarZ + LunarZ | Close Friends | 4g
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 18000
                        sku: 710 List | LunarZ + LunarZ | Close Friends | 4g
                        uom: grams
                        amount: 4
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: 710 List | LunarZ + LunarZ | Close Friends | 4g
                          netWeight: 4
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 4
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: b580b954-b744-42fa-aa18-4b7951be2b7a
                      productName: '710 List | LunarZ + SB36 #1 | Close Friends | 4g'
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: d7b927aa-b184-4ec9-81ff-59974b3a5dbd
                      productSubCategoryName: Rosin
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: 166a164c-fcbd-465b-96f4-710a635eab67
                        name: '710 List | LunarZ + SB36 #1 | Close Friends | 4g'
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 11500
                        sku: '710 List | LunarZ + SB36 #1 | Close Friends | 4g'
                        uom: grams
                        amount: 4
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: '710 List | LunarZ + SB36 #1 | Close Friends | 4g'
                          netWeight: 4
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 4
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: b94c86a8-852c-432d-96e4-68b04c3c0b26
                      productName: '710 List | OGKB 2.1 #7 + The Sweeties #7 | Live Rosin Badder | 2g'
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: fb51c92a-d818-4b54-9710-e45f82eaf28a
                      productSubCategoryName: Badder
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: 0dc2b687-6f60-4263-94b4-269d68ddf843
                        name: '710 List | OGKB 2.1 #7 + The Sweeties #7 | Live Rosin Badder | 2g'
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 5600
                        sku: '710 List | OGKB 2.1 #7 + The Sweeties #7 | Live Rosin Badder | 2g'
                        uom: grams
                        amount: 2
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: '710 List | OGKB 2.1 #7 + The Sweeties #7 | Live Rosin Badder | 2g'
                          netWeight: 2
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 2
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: d7a447b3-1bc9-4838-b146-5b5a53618ce7
                      productName: 710 List | Sweet Berry Wine | Persy Badder | 2g
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: fb51c92a-d818-4b54-9710-e45f82eaf28a
                      productSubCategoryName: Badder
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: 6529b0c7-3e0d-4af0-9f51-a9352bc31938
                        name: 710 List | Sweet Berry Wine | Persy Badder | 2g
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 7600
                        sku: 710 List | Sweet Berry Wine | Persy Badder | 2g
                        uom: grams
                        amount: 2
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: 710 List | Sweet Berry Wine | Persy Badder | 2g
                          netWeight: 2
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 2
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
                    - productId: de174351-c043-405a-a3c6-748b778462cd
                      productName: 710 List | LunarZ | Live Rosin Badder | 2g
                      brandId: 45d80c00-e19d-4c60-adcf-3eec33102632
                      classification: null
                      productAttributes:
                        effects: []
                        flavor: []
                        general: []
                        ingredients: []
                        internalTags: []
                      brandName: 710 Labs
                      productSubCategoryId: fb51c92a-d818-4b54-9710-e45f82eaf28a
                      productSubCategoryName: Badder
                      productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                      productCategoryName: Extract
                      status: active
                      variants:
                      - id: da7ded85-29b0-4ed8-8c64-42be07055087
                        name: 710 List | LunarZ | Live Rosin Badder | 2g
                        isExclude: true
                        type: variant
                        status: active
                        defaultPrices:
                          base: 5300
                        sku: 710 List | LunarZ | Live Rosin Badder | 2g
                        uom: grams
                        amount: 2
                        unitCount: 1
                        merchandiseSize: null
                        details:
                          menuTitle: 710 List | LunarZ | Live Rosin Badder | 2g
                          netWeight: 2
                          netWeightUom: GRAMS
                          useCustomName: true
                          hideFromEcomMenu: true
                          totalFlowerWeight: 2
                        deletedAt: null
                      allSizes: '1'
                      collectionId: c08e8738-7a63-47f6-aac2-9160201c7972
                      collectionName: Extract
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        productId:
                          type: string
                          example: 16c190eb-4eee-4a15-93e8-722111c6c1ba
                        productName:
                          type: string
                          example: '710 List | Sugar Coat #9 | Second Press Rosin | 2g'
                        brandId:
                          type: string
                          example: 45d80c00-e19d-4c60-adcf-3eec33102632
                        classification:
                          type: string
                        productAttributes:
                          type: object
                          properties:
                            effects:
                              type: array
                              items:
                                type: object
                                properties: {}
                            flavor:
                              type: array
                              items:
                                type: object
                                properties: {}
                            general:
                              type: array
                              items:
                                type: object
                                properties: {}
                            ingredients:
                              type: array
                              items:
                                type: object
                                properties: {}
                            internalTags:
                              type: array
                              items:
                                type: object
                                properties: {}
                        brandName:
                          type: string
                          example: 710 Labs
                        productSubCategoryId:
                          type: string
                          example: d7b927aa-b184-4ec9-81ff-59974b3a5dbd
                        productSubCategoryName:
                          type: string
                          example: Rosin
                        productCategoryId:
                          type: string
                          example: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                        productCategoryName:
                          type: string
                          example: Extract
                        status:
                          type: string
                          example: active
                        variants:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 40f3cafb-5716-42f3-a874-1e480cc20492
                              name:
                                type: string
                                example: '710 List | Sugar Coat #9 | Second Press Rosin | 2g'
                              isExclude:
                                type: boolean
                                example: true
                                default: true
                              type:
                                type: string
                                example: variant
                              status:
                                type: string
                                example: active
                              defaultPrices:
                                type: object
                                properties:
                                  base:
                                    type: integer
                                    example: 2000
                                    default: 0
                              sku:
                                type: string
                                example: '710 List | Sugar Coat #9 | Second Press Rosin | 2g'
                              uom:
                                type: string
                                example: grams
                              amount:
                                type: integer
                                example: 2
                                default: 0
                              unitCount:
                                type: integer
                                example: 1
                                default: 0
                              merchandiseSize: {}
                              details:
                                type: object
                                properties:
                                  menuTitle:
                                    type: string
                                    example: '710 List | Sugar Coat #9 | Second Press Rosin | 2g'
                                  netWeight:
                                    type: integer
                                    example: 2
                                    default: 0
                                  netWeightUom:
                                    type: string
                                    example: GRAMS
                                  useCustomName:
                                    type: boolean
                                    example: true
                                    default: true
                                  hideFromEcomMenu:
                                    type: boolean
                                    example: true
                                    default: true
                                  totalFlowerWeight:
                                    type: integer
                                    example: 2
                                    default: 0
                              deletedAt: {}
                        allSizes:
                          type: string
                          example: '1'
                        collectionId:
                          type: string
                          example: c08e8738-7a63-47f6-aac2-9160201c7972
                        collectionName:
                          type: string
                          example: Extract
      parameters:
      - in: path
        name: ver
        schema:
          type: string
          default: v3
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      summary: Copy of Copy of
      operationId: get_ver-product-id
      tags:
      - Product
    servers:
    - url: https://api-prod.treez.io/service/collection
  /{dispensary}/product/product_list:
    get:
      summary: Get all
      description: ''
      operationId: dispensary-product-get-all
      parameters:
      - name: pagesize
        in: query
        schema:
          type: integer
          format: int32
        description: The number of product records returned per request. Default is `1000` unless specified.
      - name: dispensary
        in: path
        description: The dispensary short name
        schema:
          type: string
          default: partnersandbox3
        required: true
      - name: page
        in: query
        schema:
          type: integer
          format: int32
        description: The page number of results to be returned.
      - name: category_type
        in: query
        description: Default behavior returns all if not specified.
        schema:
          type: string
          enum:
          - BEVERAGE
          - CARTRIDGE
          - EDIBLE
          - EXTRACT
          - FLOWER
          - MERCH
          - MISC
          - NON-INV
          - PILL
          - PLANT
          - PREROLL
          - TINCTURE
          - TOPICAL
      - name: id
        in: query
        description: Up to 50 unique `id` values can be specified.
        schema:
          type: array
          items:
            type: string
      - name: sellable_quantity_in_location
        in: query
        schema:
          type: string
        description: The name of the Treez product location
      - name: sellable_quantity_in_type
        in: query
        schema:
          type: string
          enum:
          - ADULT
          - MEDICAL
          - ALL
        description: ''
      - name: active
        in: query
        description: Default behavior is `TRUE` if not specified.
        schema:
          type: string
          enum:
          - 'TRUE'
          - 'FALSE'
          - ALL
      - name: above_threshold
        in: query
        description: Default behavior returns all products if not specified.
        schema:
          type: boolean
      - name: include_discounts
        in: query
        description: Default behavior is `TRUE` if not specified.
        schema:
          type: boolean
      - in: query
        name: minimum_sellable_quantity
        schema:
          type: integer
        description: Used to override the product qty thresholds
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    resultCode: SUCCESS
                    resultReason: null
                    resultDetail: null
                    data:
                      page_count: 1
                      total_count: 354
                      product_list:
                      - product_id: 6c6ef005-b89d-48dc-ad89-62602d3d5791
                        catalog_parent_id: b18e3fd4-5423-4818-92eb-04a79fa27aaa
                        product_status: ACTIVE
                        last_updated_at: '2026-04-24T01:09:09.508-07:00'
                        sellable_quantity: 16
                        sellable_quantity_detail:
                        - inventory_type: ADULT
                          location: FRONT OF HOUSE MED
                          location_id: ebe53152-895a-4b14-8ffa-d91eff077666
                          sellable_quantity: 16
                        category_type: PILL
                        sku_type: BASE_SKU
                        slug: 100mg-tablets-indica-elektra-ice-1000mg-package-pill-100-milligrams
                        product_configurable_fields:
                          name: 100MG TABLETS - INDICA - ELEKTRA ICE - 1000MG PACKAGE
                          uom: MILLIGRAMS
                          brand: null
                          size: 100 MG
                          amount: 100
                          classification: null
                          total_mg_thc: 0
                          total_mg_cbd: 0
                          subtype: CAPSULE
                          doses: 0
                          mg_per_dose: 0
                          strain_name: ''
                          total_flower_weight_g: 0
                          external_id: 6c6ef005-b89d-48dc-ad89-62602d3d5791
                          total_concentrate_weight_g: 0
                        pricing:
                          price_type: FLAT
                          price_sell: 18.5
                          discounted_price: 13.5
                          discount_amount: 5
                          discount_percent: 27
                          tier_name: null
                        discounts:
                        - discount_id: f51a6f91-c234-477a-8724-8ffe28f5b963
                          discount_title: Sample Discount
                          discount_display_title: Sample Title
                          discount_description: null
                          discount_mso_org_id: c30909fe-e6d4-4a05-a844-27a0c96857af
                          discount_type: Automated
                          discount_affinity: Pre-Cart
                          discount_amount: 5
                          discount_method: DOLLAR
                          discount_component: null
                          discount_stackable: 'No'
                          discount_image_url: null
                          discount_applied_in_calc: 'Yes'
                          discount_not_applied_in_calc_reason: null
                          discount_product_groups:
                          - a7714b39-4432-4d73-a55a-8133162baa03
                          discount_product_groups_required: []
                        - discount_id: d0f6e23e-1bbd-4033-871c-db3d10c67992
                          discount_title: Manual Exclusion Discount
                          discount_display_title: null
                          discount_description: null
                          discount_mso_org_id: 93d1a5a8-f68d-4666-b23e-d24b5cdec24b
                          discount_type: Manual
                          discount_affinity: Cart
                          discount_amount: 5
                          discount_method: PERCENT
                          discount_component: null
                          discount_stackable: 'Yes'
                          discount_image_url: null
                          discount_applied_in_calc: 'No'
                          discount_not_applied_in_calc_reason: Non Pre-Cart discount
                          discount_product_groups:
                          - 7beeb6fd-83ff-4254-9064-0d50a2e91a71
                          discount_product_groups_required: []
                        - discount_id: 1a1fcd84-361a-431e-8ee3-d042929bac9f
                          discount_title: ST Test for expiring products
                          discount_display_title: ''
                          discount_description: Such an amazing deal! You'll want to fill your cart!
                          discount_mso_org_id: cac0a94e-5c40-41e4-96c6-480397eca75c
                          discount_type: Automated
                          discount_affinity: Cart
                          discount_amount: 50
                          discount_method: PERCENT
                          discount_component: null
                          discount_stackable: 'No'
                          discount_image_url: null
                          discount_applied_in_calc: 'No'
                          discount_not_applied_in_calc_reason: Non Pre-Cart discount
                          discount_product_groups:
                          - f9d34eb2-f9d3-49d7-bf47-2a4499b4aa5b
                          discount_product_groups_required: []
                          discount_condition_detail:
[...]
