{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Collections"},"servers":[{"url":"https://api-prod.treez.io/service/collection"}],"tags":[],"paths":{"/{ver}":{"get":{"description":"","responses":{"200":{"description":"","content":{"application/json":{"examples":{"OK":{"summary":"OK","value":{"totalCount":37,"data":[{"id":"6721f839-3595-4fe8-9dba-d3032b5f7c8c","name":"test-collection Discount 1","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2026-03-18T15:21:18.594Z","updatedAt":"2026-03-18T15:22:20.407Z","deletedAt":null},{"id":"0df6864c-99ec-4ed1-a1de-002925db2c53","name":"scotttest","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf"]},"createdAt":"2026-03-18T15:15:37.436Z","updatedAt":"2026-03-18T15:15:58.456Z","deletedAt":null},{"id":"a30ff15d-44cf-4323-9013-423c4539b9ff","name":"Custom Test","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2026-03-18T14:53:30.528Z","updatedAt":"2026-03-18T14:53:30.528Z","deletedAt":null},{"id":"5308aec7-3827-44ac-92ee-73e6f41e186a","name":"Weedmaps","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-09-04T21:07:17.918Z","updatedAt":"2026-03-13T13:49:18.123Z","deletedAt":null},{"id":"0ac24f01-594e-418e-ae98-289be447c265","name":"Tropical Punch","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{},"createdAt":"2025-12-30T14:07:41.587Z","updatedAt":"2026-03-12T12:12:25.572Z","deletedAt":null},{"id":"a3ddf5c2-6b55-47ab-a20d-6815af598729","name":"Y2K","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2026-01-14T15:59:01.971Z","updatedAt":"2026-01-14T15:59:17.496Z","deletedAt":null},{"id":"c08e8738-7a63-47f6-aac2-9160201c7972","name":"Extract","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["adfc3fde-a5ec-4bce-82b4-f82c3b3d646d"]},"createdAt":"2025-12-31T06:28:21.866Z","updatedAt":"2025-12-31T06:28:33.093Z","deletedAt":null},{"id":"387eac31-98f4-45c4-bd0f-3cb65d8a0af1","name":"BEVERAGE","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["96cfabcd-d951-4a1b-88a6-56c0601e269d"]},"createdAt":"2025-12-31T06:25:49.837Z","updatedAt":"2025-12-31T06:26:04.105Z","deletedAt":null},{"id":"be2a0a9e-8fcf-447b-9b10-1832ac6ac2d7","name":"CARTRIDGE","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["47479cfd-c482-4077-98a1-6157097c3db7"]},"createdAt":"2025-12-31T06:14:23.836Z","updatedAt":"2025-12-31T06:14:35.430Z","deletedAt":null},{"id":"ad8da9e1-adf2-411b-a279-9e514246e18e","name":"MERCH","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-09-18T05:07:46.423Z","updatedAt":"2025-12-31T06:02:51.529Z","deletedAt":null},{"id":"7145c4e6-7c9a-4bc4-8f93-064e9b0e487b","name":"New","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"brand":["68b2d4ad-bb81-493e-a4d3-f602cf2782fe"]},"createdAt":"2025-12-30T22:27:42.291Z","updatedAt":"2025-12-30T22:34:17.963Z","deletedAt":null},{"id":"00770d9f-60ca-4e66-b73e-a160c3c639ea","name":"Chapos Churros test ","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"brand":["d53c3bcd-6b7d-43a4-b74d-4c98b029221a"]},"createdAt":"2025-12-30T13:54:23.541Z","updatedAt":"2025-12-30T13:55:54.510Z","deletedAt":null},{"id":"9d3c141a-8450-4b98-abfe-426c01fbc34a","name":"New Collection 1","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["47479cfd-c482-4077-98a1-6157097c3db7"]},"createdAt":"2025-12-30T08:19:45.160Z","updatedAt":"2025-12-30T08:20:17.001Z","deletedAt":null},{"id":"4b802254-2802-4329-93aa-6e56d5fc8266","name":"FnO Collection","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["96cfabcd-d951-4a1b-88a6-56c0601e269d"]},"createdAt":"2025-12-30T07:46:56.827Z","updatedAt":"2025-12-30T07:50:45.948Z","deletedAt":null},{"id":"c0ba7050-57cc-4d69-90ba-f30697f3d403","name":"Preroll","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["39900cf2-a554-49f5-8992-f49e6e26404e"]},"createdAt":"2025-12-16T10:53:39.293Z","updatedAt":"2025-12-16T11:23:29.523Z","deletedAt":null},{"id":"9025054b-639b-4403-a511-22e81b395a01","name":"Flower And Edible","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-12-16T06:52:46.141Z","updatedAt":"2025-12-16T06:57:06.937Z","deletedAt":null},{"id":"38492d9f-8f1a-4b44-833d-f0dac5a32a44","name":"Medical","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["adfc3fde-a5ec-4bce-82b4-f82c3b3d646d"]},"createdAt":"2025-12-16T06:25:00.877Z","updatedAt":"2025-12-16T06:25:56.219Z","deletedAt":null},{"id":"1dbe6451-b7d5-4e57-ab06-c02448bba0f6","name":"Special discount","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["adfc3fde-a5ec-4bce-82b4-f82c3b3d646d"]},"createdAt":"2025-12-11T09:37:59.636Z","updatedAt":"2025-12-16T06:23:24.098Z","deletedAt":null},{"id":"72e594f8-fddd-45ce-9879-7c6b01f9ffeb","name":"Special product collection Extract","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["adfc3fde-a5ec-4bce-82b4-f82c3b3d646d"]},"createdAt":"2025-12-15T07:36:33.393Z","updatedAt":"2025-12-16T06:19:10.557Z","deletedAt":null},{"id":"97fb49f6-8fc3-43af-9066-d168de10acda","name":"Edible","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-11-27T12:30:36.531Z","updatedAt":"2025-12-12T06:34:53.639Z","deletedAt":null},{"id":"430c9808-605d-411a-845f-3a1686c3380b","name":"budsense collection - bb tier sales","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-10-07T19:29:13.267Z","updatedAt":"2025-11-27T13:17:59.580Z","deletedAt":null},{"id":"be0d4595-1a7f-46b6-a7a4-8849aafaca60","name":"WM Weekday Test","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{},"createdAt":"2025-10-17T14:39:09.252Z","updatedAt":"2025-11-10T15:58:03.008Z","deletedAt":null},{"id":"fdae726e-4319-40c6-b577-75d9afe3ef4c","name":"WM Annual Test","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-11-06T14:27:37.781Z","updatedAt":"2025-11-06T14:28:16.954Z","deletedAt":null},{"id":"c6020b28-f6ab-4214-a721-d78cefc60619","name":"Day Of Month Test","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-11-03T17:20:02.330Z","updatedAt":"2025-11-03T17:23:59.130Z","deletedAt":null},{"id":"8425f04f-eb17-4b61-b2a4-9ec0b7d4cde8","name":"ST Global Collection 2025-11","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{},"createdAt":"2025-11-03T15:22:56.026Z","updatedAt":"2025-11-03T15:22:56.026Z","deletedAt":null},{"id":"f3d2b0db-fc47-4bd1-931c-a331885fd17d","name":"ST Test Collection 2025-01","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-01-16T15:27:14.781Z","updatedAt":"2025-10-31T12:53:50.246Z","deletedAt":null},{"id":"218f8929-f432-45ce-8126-ba295f7bc555","name":"WM Weed Discount BAD","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-10-30T20:35:58.114Z","updatedAt":"2025-10-30T20:36:13.918Z","deletedAt":null},{"id":"f6a192e6-c005-4f39-970a-a205305f6720","name":"Beverages","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{},"createdAt":"2025-08-28T17:11:56.051Z","updatedAt":"2025-08-28T17:11:56.051Z","deletedAt":null},{"id":"463ee560-b0cb-4b1e-948f-98a2750a11c1","name":"Chase Test 2","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-08-28T17:11:22.531Z","updatedAt":"2025-08-28T17:11:35.321Z","deletedAt":null},{"id":"30d4653f-c080-4853-b68e-fdcd0177c6ad","name":"Chase Test","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-08-28T17:11:09.323Z","updatedAt":"2025-08-28T17:11:09.323Z","deletedAt":null},{"id":"0507fbc7-1151-4b7e-a9f4-1a1dc07640fb","name":"WEEKEND SPECIAL: 25% OFF ALL EDIBLES!","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf"]},"createdAt":"2025-06-04T04:02:07.467Z","updatedAt":"2025-06-04T04:02:07.467Z","deletedAt":null},{"id":"384271f3-b970-4fb4-98a2-792f5c63b0c1","name":"WYLD Weekend","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-06-04T02:17:12.834Z","updatedAt":"2025-06-04T02:17:12.834Z","deletedAt":null},{"id":"d9ab4b22-4cbb-490c-83f2-238f2bbad6a4","name":"toto the apricot","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf"]},"createdAt":"2025-06-02T22:05:16.197Z","updatedAt":"2025-06-02T22:05:16.197Z","deletedAt":null},{"id":"56d74d40-4e77-42a0-a327-3b14d406b676","name":"maxime-manual","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-06-02T19:23:42.228Z","updatedAt":"2025-06-02T19:23:42.228Z","deletedAt":null},{"id":"f5addc59-b6e2-4298-83fd-690dd6d776ad","name":"maxime-auto-pc","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["96cfabcd-d951-4a1b-88a6-56c0601e269d"]},"createdAt":"2025-06-02T19:18:49.446Z","updatedAt":"2025-06-02T19:18:53.962Z","deletedAt":null},{"id":"5da2bd94-5a00-4668-a941-5f3532b82854","name":"PILL","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"category":["8d156ef2-c522-4f43-ab67-b4d15144bb68"]},"createdAt":"2025-03-31T12:36:49.353Z","updatedAt":"2025-03-31T12:37:20.157Z","deletedAt":null},{"id":"14fdc3d0-db04-473b-a562-9207106429e0","name":"test","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":false,"rule":null,"createdAt":"2025-01-09T06:57:43.247Z","updatedAt":"2025-01-13T14:32:44.422Z","deletedAt":null}]}}},"schema":{"type":"object","properties":{"totalCount":{"type":"integer","example":37,"default":0},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"6721f839-3595-4fe8-9dba-d3032b5f7c8c"},"name":{"type":"string","example":"test-collection Discount 1"},"organizationId":{"type":"string","example":"b1226d0b-4940-4edf-aab3-dbd1642f7f69"},"sync":{"type":"boolean","example":false,"default":true,"description":"`true` for Automated Collections, `false` for Manual Collections"},"rule":{"type":"object","properties":{}},"createdAt":{"type":"string","example":"2026-03-18T15:21:18.594Z"},"updatedAt":{"type":"string","example":"2026-03-18T15:22:20.407Z"},"deletedAt":{"type":"string"}}}}}}}}}},"parameters":[{"in":"path","name":"ver","schema":{"type":"string","default":"v3"},"required":true}],"operationId":"get_ver"},"post":{"description":"","responses":{"202":{"description":"","content":{"application/json":{"examples":{"Accepted":{"summary":"Accepted","value":{"id":"58d6be61-9c53-4c62-b970-1aa5707c5700","name":"Prime Flower","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"skuType":["baseSKU"],"attr_ingredients":["a953f605-fe23-4a53-af5a-a814b20caf6d"],"attr_internaltags":["c3dfbbff-d3f0-4679-8e0f-77738889e765"]},"createdAt":"2026-03-20T12:47:31.574Z","updatedAt":"2026-03-20T15:22:58.083Z","deletedAt":null,"collectionItems":[{"collectionId":"58d6be61-9c53-4c62-b970-1aa5707c5700","variantId":"a4915ab7-8044-486d-bae5-441369aaaff9","isExclude":true,"createdAt":"2026-03-20T15:22:11.074Z","updatedAt":"2026-03-20T15:22:58.083Z","deletedAt":null},{"collectionId":"58d6be61-9c53-4c62-b970-1aa5707c5700","variantId":"99dd4a54-4095-42e4-987e-b23ad59d2ac3","isExclude":true,"createdAt":"2026-03-20T15:22:11.074Z","updatedAt":"2026-03-20T15:22:58.083Z","deletedAt":null},{"collectionId":"58d6be61-9c53-4c62-b970-1aa5707c5700","variantId":"8f05934a-6a7c-47ff-ab4f-026d0f98af3b","isExclude":true,"createdAt":"2026-03-20T15:22:11.074Z","updatedAt":"2026-03-20T15:22:58.083Z","deletedAt":null}]}}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"58d6be61-9c53-4c62-b970-1aa5707c5700"},"name":{"type":"string","example":"Prime Flower"},"organizationId":{"type":"string","example":"b1226d0b-4940-4edf-aab3-dbd1642f7f69"},"sync":{"type":"boolean","example":true,"default":"false","description":"`true` for Automated Collections, `false` for Manual Collections"},"rule":{"type":"object","properties":{"skuType":{"type":"array","items":{"type":"string","example":"baseSKU"}},"attr_ingredients":{"type":"array","items":{"type":"string","example":"a953f605-fe23-4a53-af5a-a814b20caf6d"}},"attr_internaltags":{"type":"array","items":{"type":"string","example":"c3dfbbff-d3f0-4679-8e0f-77738889e765"}},"category":{"type":"array","items":{"type":"string"}},"attr_effects":{"type":"array","items":{"type":"string"}},"attr_flavor":{"type":"array","items":{"type":"string"}},"attr_general":{"type":"array","items":{"type":"string"}},"brand":{"type":"array","items":{"type":"string"}},"subCategory":{"type":"array","items":{"type":"string"}},"amount":{"type":"array","items":{"type":"string"}}}},"createdAt":{"type":"string","example":"2026-03-20T12:47:31.574Z"},"updatedAt":{"type":"string","example":"2026-03-20T15:22:58.083Z"},"deletedAt":{"type":"string"},"collectionItems":{"type":"array","items":{"type":"object","properties":{"collectionId":{"type":"string","example":"58d6be61-9c53-4c62-b970-1aa5707c5700"},"variantId":{"type":"string","example":"a4915ab7-8044-486d-bae5-441369aaaff9"},"isExclude":{"type":"boolean","example":true,"default":true},"createdAt":{"type":"string","example":"2026-03-20T15:22:11.074Z"},"updatedAt":{"type":"string","example":"2026-03-20T15:22:58.083Z"},"deletedAt":{"type":"string"}}}}}}}}}},"parameters":[{"in":"path","name":"ver","schema":{"type":"string","default":"v3"},"required":true}],"summary":"Collection - Create","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"sync":{"type":"boolean","description":"`true` for Automated Collections, `false` for Manual Collections","default":"false"},"collectionItems":{"type":"array","items":{"properties":{"variantId":{"type":"string"},"isExclude":{"type":"boolean","description":"Use with an automated collection to exclude a product"}},"type":"object"}},"rule":{"type":"object","properties":{"category":{"type":"array","items":{"type":"string"}},"brand":{"type":"array","items":{"type":"string"}},"amount":{"type":"array","items":{"type":"string"},"description":"Include Qty and UOM - e.g. `3.5 GRAMS`\nAccepted UOM values: `FLUID OUNCES`, `GRAMS`, `LITERS`, `MILLIGRAMS`, `MILLILITERS`, `OUNCES`, `EACH`"},"classification":{"type":"array","items":{"type":"string"}},"attr_general":{"type":"array","items":{"type":"string"}},"attr_effects":{"type":"array","items":{"type":"string"}},"attr_flavor":{"type":"array","items":{"type":"string"}},"attr_ingredients":{"type":"array","items":{"type":"string"}},"attr_internaltags":{"type":"array","items":{"type":"string"}},"skuType":{"type":"array","items":{"type":"string"}},"subCategory":{"type":"array","items":{"type":"string"}}}}},"required":["name"]}}}},"operationId":"post_ver"}},"/{ver}/{id}":{"get":{"description":"","responses":{"200":{"content":{"application/json":{"examples":{"OK":{"summary":"OK","value":{"id":"58d6be61-9c53-4c62-b970-1aa5707c5700","name":"test_automated","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"skuType":["baseSKU"],"attr_ingredients":["a953f605-fe23-4a53-af5a-a814b20caf6d"],"attr_internaltags":["c3dfbbff-d3f0-4679-8e0f-77738889e765"]},"createdAt":"2026-03-20T12:47:31.574Z","updatedAt":"2026-03-20T15:22:58.083Z","deletedAt":null,"collectionItems":[{"collectionId":"58d6be61-9c53-4c62-b970-1aa5707c5700","variantId":"8f05934a-6a7c-47ff-ab4f-026d0f98af3b","isExclude":true,"createdAt":"2026-03-20T15:22:11.074Z","updatedAt":"2026-03-20T15:22:58.083Z","deletedAt":null},{"collectionId":"58d6be61-9c53-4c62-b970-1aa5707c5700","variantId":"99dd4a54-4095-42e4-987e-b23ad59d2ac3","isExclude":true,"createdAt":"2026-03-20T15:22:11.074Z","updatedAt":"2026-03-20T15:22:58.083Z","deletedAt":null},{"collectionId":"58d6be61-9c53-4c62-b970-1aa5707c5700","variantId":"a4915ab7-8044-486d-bae5-441369aaaff9","isExclude":true,"createdAt":"2026-03-20T15:22:11.074Z","updatedAt":"2026-03-20T15:22:58.083Z","deletedAt":null}]}}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"58d6be61-9c53-4c62-b970-1aa5707c5700"},"name":{"type":"string","example":"test_automated"},"organizationId":{"type":"string","example":"b1226d0b-4940-4edf-aab3-dbd1642f7f69"},"sync":{"type":"boolean","example":true,"default":"false","description":"`true` for Automated Collections, `false` for Manual Collections"},"rule":{"type":"object","properties":{"skuType":{"type":"array","items":{"type":"string","example":"baseSKU"}},"attr_ingredients":{"type":"array","items":{"type":"string","example":"a953f605-fe23-4a53-af5a-a814b20caf6d"}},"attr_internaltags":{"type":"array","items":{"type":"string","example":"c3dfbbff-d3f0-4679-8e0f-77738889e765"}},"category":{"type":"array","items":{"type":"string"}},"attr_effects":{"type":"array","items":{"type":"string"}},"attr_flavor":{"type":"array","items":{"type":"string"}},"attr_general":{"type":"array","items":{"type":"string"}},"brand":{"type":"array","items":{"type":"string"}},"subCategory":{"type":"array","items":{"type":"string"}}}},"createdAt":{"type":"string","example":"2026-03-20T12:47:31.574Z"},"updatedAt":{"type":"string","example":"2026-03-20T15:22:58.083Z"},"deletedAt":{"type":"string"},"collectionItems":{"type":"array","items":{"type":"object","properties":{"collectionId":{"type":"string","example":"58d6be61-9c53-4c62-b970-1aa5707c5700"},"variantId":{"type":"string","example":"8f05934a-6a7c-47ff-ab4f-026d0f98af3b"},"isExclude":{"type":"boolean","example":true,"default":true},"createdAt":{"type":"string","example":"2026-03-20T15:22:11.074Z"},"updatedAt":{"type":"string","example":"2026-03-20T15:22:58.083Z"},"deletedAt":{"type":"string"}}}}}}}},"description":"OK"}},"parameters":[{"in":"path","name":"ver","schema":{"type":"string","default":"v3"},"required":true},{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"summary":"Copy of ","operationId":"get_ver-id"},"put":{"description":"","responses":{"202":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"58d6be61-9c53-4c62-b970-1aa5707c5700"},"name":{"type":"string","example":"Prime Flower"},"organizationId":{"type":"string","example":"b1226d0b-4940-4edf-aab3-dbd1642f7f69"},"sync":{"type":"boolean","example":true,"default":true},"rule":{"type":"object","properties":{"skuType":{"type":"array","items":{"type":"string","example":"baseSKU"}},"attr_ingredients":{"type":"array","items":{"type":"string","example":"a953f605-fe23-4a53-af5a-a814b20caf6d"}},"attr_internaltags":{"type":"array","items":{"type":"string","example":"c3dfbbff-d3f0-4679-8e0f-77738889e765"}},"category":{"type":"array","items":{"type":"string"}},"attr_effects":{"type":"array","items":{"type":"string"}},"attr_flavor":{"type":"array","items":{"type":"string"}},"attr_general":{"type":"array","items":{"type":"string"}},"brand":{"type":"array","items":{"type":"string"}},"subCategory":{"type":"array","items":{"type":"string"}},"amount":{"type":"array","items":{"type":"string"}}}},"createdAt":{"type":"string","example":"2026-03-20T12:47:31.574Z"},"updatedAt":{"type":"string","example":"2026-03-20T15:22:58.083Z"},"deletedAt":{"type":"string"},"collectionItems":{"type":"array","items":{"type":"object","properties":{"collectionId":{"type":"string","example":"58d6be61-9c53-4c62-b970-1aa5707c5700"},"variantId":{"type":"string","example":"a4915ab7-8044-486d-bae5-441369aaaff9"},"isExclude":{"type":"boolean","example":true,"default":true},"createdAt":{"type":"string","example":"2026-03-20T15:22:11.074Z"},"updatedAt":{"type":"string","example":"2026-03-20T15:22:58.083Z"},"deletedAt":{}}}}}},"examples":{"Accepted":{"summary":"Accepted","value":{"id":"58d6be61-9c53-4c62-b970-1aa5707c5700","name":"Prime Flower","organizationId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","sync":true,"rule":{"skuType":["baseSKU"],"attr_ingredients":["a953f605-fe23-4a53-af5a-a814b20caf6d"],"attr_internaltags":["c3dfbbff-d3f0-4679-8e0f-77738889e765"]},"createdAt":"2026-03-20T12:47:31.574Z","updatedAt":"2026-03-20T15:22:58.083Z","deletedAt":null,"collectionItems":[{"collectionId":"58d6be61-9c53-4c62-b970-1aa5707c5700","variantId":"a4915ab7-8044-486d-bae5-441369aaaff9","isExclude":true,"createdAt":"2026-03-20T15:22:11.074Z","updatedAt":"2026-03-20T15:22:58.083Z","deletedAt":null},{"collectionId":"58d6be61-9c53-4c62-b970-1aa5707c5700","variantId":"99dd4a54-4095-42e4-987e-b23ad59d2ac3","isExclude":true,"createdAt":"2026-03-20T15:22:11.074Z","updatedAt":"2026-03-20T15:22:58.083Z","deletedAt":null},{"collectionId":"58d6be61-9c53-4c62-b970-1aa5707c5700","variantId":"8f05934a-6a7c-47ff-ab4f-026d0f98af3b","isExclude":true,"createdAt":"2026-03-20T15:22:11.074Z","updatedAt":"2026-03-20T15:22:58.083Z","deletedAt":null}]}}}}},"description":"Accepted"}},"parameters":[{"in":"path","name":"ver","schema":{"type":"string","default":"v3"},"required":true},{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"summary":"Collection - Update","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"collectionItems":{"type":"array","items":{"properties":{"variantId":{"type":"string"},"isExclude":{"type":"boolean","description":"Use with an automated collection to exclude a product"}},"type":"object"}},"sync":{"type":"boolean","description":"`true` for Automated Collections, `false` for Manual Collections"},"rule":{"type":"object","properties":{"category":{"type":"array","items":{"type":"string"}},"subCategory":{"type":"array","items":{"type":"string"}},"brand":{"type":"array","items":{"type":"string"}},"amount":{"type":"array","items":{"type":"string"},"description":"Include Qty and UOM - e.g. `3.5 GRAMS`\nAccepted UOM values: `FLUID OUNCES`, `GRAMS`, `LITERS`, `MILLIGRAMS`, `MILLILITERS`, `OUNCES`, `EACH`"},"classification":{"type":"array","items":{"type":"string"}},"attr_general":{"type":"array","items":{"type":"string"}},"attr_effects":{"type":"array","items":{"type":"string"}},"attr_flavor":{"type":"array","items":{"type":"string"}},"attr_ingredients":{"type":"array","items":{"type":"string"}},"attr_internaltags":{"type":"array","items":{"type":"string"}},"skuType":{"type":"array","items":{"type":"string"}}}}},"required":["name"]}}}},"operationId":"put_ver-id"}},"/{ver}/product/{id}":{"get":{"description":"","responses":{"200":{"description":"","content":{"application/json":{"examples":{"OK":{"summary":"OK","value":{"data":[{"productId":"16c190eb-4eee-4a15-93e8-722111c6c1ba","productName":"710 List | Sugar Coat #9 | Second Press Rosin | 2g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"d7b927aa-b184-4ec9-81ff-59974b3a5dbd","productSubCategoryName":"Rosin","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"40f3cafb-5716-42f3-a874-1e480cc20492","name":"710 List | Sugar Coat #9 | Second Press Rosin | 2g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":2000},"sku":"710 List | Sugar Coat #9 | Second Press Rosin | 2g","uom":"grams","amount":2,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | Sugar Coat #9 | Second Press Rosin | 2g","netWeight":2,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":2},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"18abf847-7cc6-44b2-9045-da7b6c0d2f49","productName":"710 List | Cherry Paloma #4 | Persy Badder | 4g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"fb51c92a-d818-4b54-9710-e45f82eaf28a","productSubCategoryName":"Badder","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"8a0c5a94-26f8-4c22-b781-2926c223881e","name":"710 List | Cherry Paloma #4 | Persy Badder | 4g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":10500},"sku":"710 List | Cherry Paloma #4 | Persy Badder | 4g","uom":"grams","amount":4,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | Cherry Paloma #4 | Persy Badder | 4g","netWeight":4,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":4},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"1c8d3b32-ac05-4293-99a4-a8f90b1df021","productName":"710 List | Donny Burger | Live Rosin Badder | 5g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"fb51c92a-d818-4b54-9710-e45f82eaf28a","productSubCategoryName":"Badder","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"f25e9916-c7a4-4814-ac0f-7906b28e9cf2","name":"710 List | Donny Burger | Live Rosin Badder | 5g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":9800},"sku":"710 List | Donny Burger | Live Rosin Badder | 5g","uom":"grams","amount":5,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | Donny Burger | Live Rosin Badder | 5g","netWeight":5,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":5},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"27ed7ae2-b083-49d0-99fa-6bca99417204","productName":"710 List | Lovers Lane #12 | Persy Badder | 5g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"fb51c92a-d818-4b54-9710-e45f82eaf28a","productSubCategoryName":"Badder","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"e534b559-92b9-4dcb-a341-0ffe2eb25410","name":"710 List | Lovers Lane #12 | Persy Badder | 5g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":13900},"sku":"710 List | Lovers Lane #12 | Persy Badder | 5g","uom":"grams","amount":5,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | Lovers Lane #12 | Persy Badder | 5g","netWeight":5,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":5},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"3811ce51-3e31-40b3-94fe-88aae37589f2","productName":"Special medical product","brandId":"d7bca43b-8407-4083-9fea-7d8f4421fba4","classification":"Indica","productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"Special","productSubCategoryId":"88a76561-96d3-411e-918c-154def445cfd","productSubCategoryName":"Dry Sift","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"b33eb713-21bb-4d45-92ad-c20e7a9b5f0f","name":"Special medical product - 20 g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":3000},"sku":null,"uom":"grams","amount":20,"unitCount":1,"merchandiseSize":null,"details":{"useCustomName":false,"hideFromEcomMenu":false,"totalFlowerWeight":20},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"3be75cc0-ba12-4b23-a9d2-5d26cb4b3e03","productName":"710 List | Randy Watzon #13 + Ztan Lee #5 | RSO | 2g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"ca0efc0e-eea2-4e98-9e0b-c5c178e0c9a0","productSubCategoryName":"RSO","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"803a4a9c-67f2-4e67-9e70-8f652637f5e8","name":"710 List | Randy Watzon #13 + Ztan Lee #5 | RSO | 2g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":1800},"sku":"710 List | Randy Watzon #13 + Ztan Lee #5 | RSO | 2g","uom":"grams","amount":2,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | Randy Watzon #13 + Ztan Lee #5 | RSO | 2g","netWeight":2,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":2},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"3e69252e-e383-4b73-a5a5-3cd50ab56beb","productName":"710 List | Super Freak + Super Freak | Close Friends | 4g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"d7b927aa-b184-4ec9-81ff-59974b3a5dbd","productSubCategoryName":"Rosin","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"53610186-db2d-4d14-8625-8b3ab4e18365","name":"710 List | Super Freak + Super Freak | Close Friends | 4g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":18000},"sku":"710 List | Super Freak + Super Freak | Close Friends | 4g","uom":"grams","amount":4,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | Super Freak + Super Freak | Close Friends | 4g","netWeight":4,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":4},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"4da72f2d-90a7-42fb-a611-21faaf6b375a","productName":"710 List | Grease Monkey #15 | Live Rosin Badder | 2g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"fb51c92a-d818-4b54-9710-e45f82eaf28a","productSubCategoryName":"Badder","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"b02a1a76-2586-41da-b3ff-459cff090767","name":"710 List | Grease Monkey #15 | Live Rosin Badder | 2g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":4700},"sku":"710 List | Grease Monkey #15 | Live Rosin Badder | 2g","uom":"grams","amount":2,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | Grease Monkey #15 | Live Rosin Badder | 2g","netWeight":2,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":2},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"62628acc-cf9b-4c9f-9ee0-138c95bd0c8c","productName":"710 List | Bootylicious #1 | Live Rosin Badder | 2g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"fb51c92a-d818-4b54-9710-e45f82eaf28a","productSubCategoryName":"Badder","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"93f5e2fb-754a-436a-b1cc-7e12f1e14e2e","name":"710 List | Bootylicious #1 | Live Rosin Badder | 2g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":5200},"sku":"710 List | Bootylicious #1 | Live Rosin Badder | 2g","uom":"grams","amount":2,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | Bootylicious #1 | Live Rosin Badder | 2g","netWeight":2,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":2},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"629b15b9-531c-4801-b479-b6ac88f8c277","productName":"710 List | Cake Crasher | Persy Badder | 5g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"fb51c92a-d818-4b54-9710-e45f82eaf28a","productSubCategoryName":"Badder","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"da0ffcea-ec53-466c-b8e2-d25201dcc0a9","name":"710 List | Cake Crasher | Persy Badder | 5g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":10300},"sku":"710 List | Cake Crasher | Persy Badder | 5g","uom":"grams","amount":5,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | Cake Crasher | Persy Badder | 5g","netWeight":5,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":5},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"972a9d7e-7741-4103-a629-2947246b3671","productName":"710 List | Z | Close Friends | 4g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"d7b927aa-b184-4ec9-81ff-59974b3a5dbd","productSubCategoryName":"Rosin","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"36dd585d-1bae-4101-9b3f-fbb12cf06c1b","name":"710 List | Z | Close Friends | 4g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":13500},"sku":"710 List | Z | Close Friends | 4g","uom":"grams","amount":4,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | Z | Close Friends | 4g","netWeight":4,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":4},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"9db5e59a-88b7-48a5-9a09-0e490ba2975f","productName":"710 List | Queens Zugar Cookie #9 | Live Rosin Badder | 5g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"fb51c92a-d818-4b54-9710-e45f82eaf28a","productSubCategoryName":"Badder","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"89ec047a-6599-4502-9458-0e5b6be7996a","name":"710 List | Queens Zugar Cookie #9 | Live Rosin Badder | 5g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":5600},"sku":"710 List | Queens Zugar Cookie #9 | Live Rosin Badder | 5g","uom":"grams","amount":5,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | Queens Zugar Cookie #9 | Live Rosin Badder | 5g","netWeight":5,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":5},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"a01e5127-8df0-418b-b7a5-a4094a67d211","productName":"710 List | Cake Crasher + Ego Death #12 | RSO | 2g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"ca0efc0e-eea2-4e98-9e0b-c5c178e0c9a0","productSubCategoryName":"RSO","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"321bc04c-ea5e-48c8-958c-4ca304079f17","name":"710 List | Cake Crasher + Ego Death #12 | RSO | 2g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":2300},"sku":"710 List | Cake Crasher + Ego Death #12 | RSO | 2g","uom":"grams","amount":2,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | Cake Crasher + Ego Death #12 | RSO | 2g","netWeight":2,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":2},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"a06c4aa7-c625-4c0f-91d7-72acf39b12b5","productName":"710 List | SB 36 #1 | Live Rosin Badder | 2g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"fb51c92a-d818-4b54-9710-e45f82eaf28a","productSubCategoryName":"Badder","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"d7b6c586-0b0f-4cb8-8964-60ef0728fafd","name":"710 List | SB 36 #1 | Live Rosin Badder | 2g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":3900},"sku":"710 List | SB 36 #1 | Live Rosin Badder | 2g","uom":"grams","amount":2,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | SB 36 #1 | Live Rosin Badder | 2g","netWeight":2,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":2},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"a9c915a3-0e32-437c-92d8-4826c3943f98","productName":"710 List | ZZ Top #3 | Persy Sauce | 2g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"d07708db-2fb8-4b27-a5fc-0317bfc94d42","productSubCategoryName":"Rosin Sauce","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"3ebad0db-7806-4706-a5bf-ed8d2da8db51","name":"710 List | ZZ Top #3 | Persy Sauce | 2g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":8000},"sku":"710 List | ZZ Top #3 | Persy Sauce | 2g","uom":"grams","amount":2,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | ZZ Top #3 | Persy Sauce | 2g","netWeight":2,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":2},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"ada5c2df-fab8-4fb2-a6d5-0498aacaed27","productName":"710 List | LunarZ + LunarZ | Close Friends | 4g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"d7b927aa-b184-4ec9-81ff-59974b3a5dbd","productSubCategoryName":"Rosin","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"9519d5aa-ffa7-497a-9f20-2b985b4e69ea","name":"710 List | LunarZ + LunarZ | Close Friends | 4g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":18000},"sku":"710 List | LunarZ + LunarZ | Close Friends | 4g","uom":"grams","amount":4,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | LunarZ + LunarZ | Close Friends | 4g","netWeight":4,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":4},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"b580b954-b744-42fa-aa18-4b7951be2b7a","productName":"710 List | LunarZ + SB36 #1 | Close Friends | 4g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"d7b927aa-b184-4ec9-81ff-59974b3a5dbd","productSubCategoryName":"Rosin","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"166a164c-fcbd-465b-96f4-710a635eab67","name":"710 List | LunarZ + SB36 #1 | Close Friends | 4g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":11500},"sku":"710 List | LunarZ + SB36 #1 | Close Friends | 4g","uom":"grams","amount":4,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | LunarZ + SB36 #1 | Close Friends | 4g","netWeight":4,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":4},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"b94c86a8-852c-432d-96e4-68b04c3c0b26","productName":"710 List | OGKB 2.1 #7 + The Sweeties #7 | Live Rosin Badder | 2g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"fb51c92a-d818-4b54-9710-e45f82eaf28a","productSubCategoryName":"Badder","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"0dc2b687-6f60-4263-94b4-269d68ddf843","name":"710 List | OGKB 2.1 #7 + The Sweeties #7 | Live Rosin Badder | 2g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":5600},"sku":"710 List | OGKB 2.1 #7 + The Sweeties #7 | Live Rosin Badder | 2g","uom":"grams","amount":2,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | OGKB 2.1 #7 + The Sweeties #7 | Live Rosin Badder | 2g","netWeight":2,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":2},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"d7a447b3-1bc9-4838-b146-5b5a53618ce7","productName":"710 List | Sweet Berry Wine | Persy Badder | 2g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"fb51c92a-d818-4b54-9710-e45f82eaf28a","productSubCategoryName":"Badder","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"6529b0c7-3e0d-4af0-9f51-a9352bc31938","name":"710 List | Sweet Berry Wine | Persy Badder | 2g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":7600},"sku":"710 List | Sweet Berry Wine | Persy Badder | 2g","uom":"grams","amount":2,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | Sweet Berry Wine | Persy Badder | 2g","netWeight":2,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":2},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"},{"productId":"de174351-c043-405a-a3c6-748b778462cd","productName":"710 List | LunarZ | Live Rosin Badder | 2g","brandId":"45d80c00-e19d-4c60-adcf-3eec33102632","classification":null,"productAttributes":{"effects":[],"flavor":[],"general":[],"ingredients":[],"internalTags":[]},"brandName":"710 Labs","productSubCategoryId":"fb51c92a-d818-4b54-9710-e45f82eaf28a","productSubCategoryName":"Badder","productCategoryId":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d","productCategoryName":"Extract","status":"active","variants":[{"id":"da7ded85-29b0-4ed8-8c64-42be07055087","name":"710 List | LunarZ | Live Rosin Badder | 2g","isExclude":true,"type":"variant","status":"active","defaultPrices":{"base":5300},"sku":"710 List | LunarZ | Live Rosin Badder | 2g","uom":"grams","amount":2,"unitCount":1,"merchandiseSize":null,"details":{"menuTitle":"710 List | LunarZ | Live Rosin Badder | 2g","netWeight":2,"netWeightUom":"GRAMS","useCustomName":true,"hideFromEcomMenu":true,"totalFlowerWeight":2},"deletedAt":null}],"allSizes":"1","collectionId":"c08e8738-7a63-47f6-aac2-9160201c7972","collectionName":"Extract"}]}}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"productId":{"type":"string","example":"16c190eb-4eee-4a15-93e8-722111c6c1ba"},"productName":{"type":"string","example":"710 List | Sugar Coat #9 | Second Press Rosin | 2g"},"brandId":{"type":"string","example":"45d80c00-e19d-4c60-adcf-3eec33102632"},"classification":{"type":"string"},"productAttributes":{"type":"object","properties":{"effects":{"type":"array","items":{"type":"object","properties":{}}},"flavor":{"type":"array","items":{"type":"object","properties":{}}},"general":{"type":"array","items":{"type":"object","properties":{}}},"ingredients":{"type":"array","items":{"type":"object","properties":{}}},"internalTags":{"type":"array","items":{"type":"object","properties":{}}}}},"brandName":{"type":"string","example":"710 Labs"},"productSubCategoryId":{"type":"string","example":"d7b927aa-b184-4ec9-81ff-59974b3a5dbd"},"productSubCategoryName":{"type":"string","example":"Rosin"},"productCategoryId":{"type":"string","example":"adfc3fde-a5ec-4bce-82b4-f82c3b3d646d"},"productCategoryName":{"type":"string","example":"Extract"},"status":{"type":"string","example":"active"},"variants":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"40f3cafb-5716-42f3-a874-1e480cc20492"},"name":{"type":"string","example":"710 List | Sugar Coat #9 | Second Press Rosin | 2g"},"isExclude":{"type":"boolean","example":true,"default":true},"type":{"type":"string","example":"variant"},"status":{"type":"string","example":"active"},"defaultPrices":{"type":"object","properties":{"base":{"type":"integer","example":2000,"default":0}}},"sku":{"type":"string","example":"710 List | Sugar Coat #9 | Second Press Rosin | 2g"},"uom":{"type":"string","example":"grams"},"amount":{"type":"integer","example":2,"default":0},"unitCount":{"type":"integer","example":1,"default":0},"merchandiseSize":{},"details":{"type":"object","properties":{"menuTitle":{"type":"string","example":"710 List | Sugar Coat #9 | Second Press Rosin | 2g"},"netWeight":{"type":"integer","example":2,"default":0},"netWeightUom":{"type":"string","example":"GRAMS"},"useCustomName":{"type":"boolean","example":true,"default":true},"hideFromEcomMenu":{"type":"boolean","example":true,"default":true},"totalFlowerWeight":{"type":"integer","example":2,"default":0}}},"deletedAt":{}}}},"allSizes":{"type":"string","example":"1"},"collectionId":{"type":"string","example":"c08e8738-7a63-47f6-aac2-9160201c7972"},"collectionName":{"type":"string","example":"Extract"}}}}}}}}}},"parameters":[{"in":"path","name":"ver","schema":{"type":"string","default":"v3"},"required":true},{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"summary":"Copy of Copy of ","operationId":"get_ver-product-id"}}},"components":{"securitySchemes":{}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}