openapi: 3.2.0
info:
  title: catalog Product Subcategory API
  version: 3.1.0
servers:
- url: https://api-prod.treez.io/service/catalog
security:
- {}
tags:
- name: Product Subcategory
paths:
  /{ver}/product-subcategory:
    get:
      summary: Subcategories - Read
      description: This endpoint returns product sub-category records. All records will be returned if the optional `ids` param is excluded.
      operationId: catalog-categories-read-1
      parameters:
      - name: ids
        in: query
        description: (optional) The `id` GUID of the product subcategory to be returned. Exclude to return all values.
        schema:
          type: array
          items:
            type: string
      - in: path
        name: ver
        schema:
          type: string
          default: v3
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                  - id: a5940bac-4853-46ed-aa04-a6d7eb271623
                    createdAt: '2023-06-30T23:21:11.577Z'
                    updatedAt: '2023-06-30T23:21:11.577Z'
                    deletedAt: null
                    name: Beverage - General
                    isCannabis: true
                    productCategoryId: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName: Beverage
                  - id: 7aebdff3-3616-4985-9a11-15a200f76e6f
                    createdAt: '2023-06-30T23:21:11.577Z'
                    updatedAt: '2023-06-30T23:21:11.577Z'
                    deletedAt: null
                    name: Other
                    isCannabis: true
                    productCategoryId: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName: Beverage
                  - id: 5a593af9-e624-4b9c-b056-6e0ccbc48c7a
                    createdAt: '2023-06-30T23:21:11.577Z'
                    updatedAt: '2023-06-30T23:21:11.577Z'
                    deletedAt: null
                    name: Beer
                    isCannabis: true
                    productCategoryId: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName: Beverage
                  - id: 4dfa81e1-c800-4870-83ae-3d496e320666
                    createdAt: '2023-06-30T23:21:11.577Z'
                    updatedAt: '2023-06-30T23:21:11.577Z'
                    deletedAt: null
                    name: Coffee
                    isCannabis: true
                    productCategoryId: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName: Beverage
                  - id: 75e5466b-c840-4f36-a135-1724a665cba3
                    createdAt: '2023-06-30T23:21:11.577Z'
                    updatedAt: '2023-06-30T23:21:11.577Z'
                    deletedAt: null
                    name: Dissolvable
                    isCannabis: true
                    productCategoryId: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName: Beverage
                  - id: af81579e-244d-48d3-a2a5-9764752ba36e
                    createdAt: '2023-06-30T23:21:11.577Z'
                    updatedAt: '2023-06-30T23:21:11.577Z'
                    deletedAt: null
                    name: Elixir
                    isCannabis: true
                    productCategoryId: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName: Beverage
                  - id: c80749df-6602-4c71-85e6-2e628bb01dfa
                    createdAt: '2023-06-30T23:21:11.577Z'
                    updatedAt: '2023-06-30T23:21:11.577Z'
                    deletedAt: null
                    name: Juice
                    isCannabis: true
                    productCategoryId: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName: Beverage
                  - id: 3442785a-e79f-4cee-b1f5-75836f701c90
                    createdAt: '2023-06-30T23:21:11.577Z'
                    updatedAt: '2023-06-30T23:21:11.577Z'
                    deletedAt: null
                    name: Shot
                    isCannabis: true
                    productCategoryId: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName: Beverage
                  - id: 135c66aa-2ca5-495b-a205-780266b396c2
                    createdAt: '2023-06-30T23:21:11.577Z'
                    updatedAt: '2023-06-30T23:21:11.577Z'
                    deletedAt: null
                    name: Soda
                    isCannabis: true
                    productCategoryId: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName: Beverage
                  - id: a46b1e89-b7aa-4365-a75f-7e4398e7b8a0
                    createdAt: '2023-06-30T23:21:11.577Z'
                    updatedAt: '2023-06-30T23:21:11.577Z'
                    deletedAt: null
                    name: Tea
                    isCannabis: true
                    productCategoryId: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName: Beverage
                  - id: c21b9954-360c-4fbf-867f-670582d8645e
                    createdAt: '2023-06-30T23:21:11.577Z'
                    updatedAt: '2023-06-30T23:21:11.577Z'
                    deletedAt: null
                    name: Tonic
                    isCannabis: true
                    productCategoryId: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName: Beverage
                  - id: cd999bbe-4c1c-4180-b3f5-a9b0575ec2d8
                    createdAt: '2023-06-30T23:21:11.577Z'
                    updatedAt: '2023-06-30T23:21:11.577Z'
                    deletedAt: null
                    name: Water
                    isCannabis: true
                    productCategoryId: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName: Beverage
                  - id: 33b0a770-44e2-4439-a352-37f2783eae66
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2023-06-30T23:22:13.627Z'
                    deletedAt: null
                    name: Cartridge - General
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: cfd2efea-a764-4ec1-9f9b-484de9f2a7c5
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2023-06-30T23:22:13.627Z'
                    deletedAt: null
                    name: 510 Thread
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: b454eea9-787b-49fb-bcde-4caa63309571
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2023-06-30T23:22:13.627Z'
                    deletedAt: null
                    name: CCELL
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: bc05feb3-a080-4991-81bc-f13139764e47
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2023-06-30T23:22:13.627Z'
                    deletedAt: null
                    name: Pax Pod
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: a561f326-bc4b-4524-9f0a-0c8deb954a1b
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2023-06-30T23:22:13.627Z'
                    deletedAt: null
                    name: Pod
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: 42045106-3840-4579-b075-2157938f0465
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2023-06-30T23:22:13.627Z'
                    deletedAt: null
                    name: Ready To Use
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: 8647db3b-dbbe-4806-b0a1-f1177d8750f5
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2023-06-30T23:22:13.627Z'
                    deletedAt: null
                    name: Other
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: f1f03d0c-bfb6-4812-b282-37fafce06972
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2023-06-30T23:22:13.627Z'
                    deletedAt: null
                    name: Diamond
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: 912aa9e0-d1d5-41d9-8ff5-a3826a740d1f
                    createdAt: '2025-08-26T21:04:20.120Z'
                    updatedAt: '2025-08-26T21:04:19.985Z'
                    deletedAt: null
                    name: Pre-Pack Shake
                    isCannabis: true
                    productCategoryId: b99d6b9f-84ee-4d68-9d60-fee8dcbf5bee
                    productCategoryName: Flower
                  - id: 82c10505-b55e-475c-b3df-024b5e368dfd
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2023-06-30T23:22:13.627Z'
                    deletedAt: null
                    name: Pax
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: b2822523-0872-42ef-a41b-29c04df86cb4
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2023-06-30T23:22:13.627Z'
                    deletedAt: null
                    name: Live Resin
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: d387f7af-0aed-4b83-bea5-c313370c5940
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2023-06-30T23:22:13.627Z'
                    deletedAt: null
                    name: Cured Resin
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: f090a38c-81e8-4d7b-95f3-fb863e3daf62
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2023-06-30T23:22:13.627Z'
                    deletedAt: null
                    name: Hash
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: 389c2bde-7467-4fda-a59a-7e5ff9397291
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2023-06-30T23:22:13.627Z'
                    deletedAt: null
                    name: Full Spectrum
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: d7a57dbb-9af2-404d-b6e3-7b88938f3d5a
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Edible - General
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: 8c7691b0-d9af-4b7b-ab9e-b36ef3c7c832
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Baked Good
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: b781d496-2b56-4180-bb23-8a0b913fcdd9
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Butter
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: afba2269-32c0-4607-9ac9-db0d7c99e10a
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Chew
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: 9099a5aa-5931-4315-943d-5af2f7a4d984
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Chocolate
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: a9fc0e87-50c4-41c2-9753-6810f8cdbb87
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Cookie
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: f6e25c9a-27f3-41a7-9037-b5e0c2f3e652
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Gummy
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: 7a3f5fe5-0bf3-466b-bc50-683a3c90a263
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Hard Candy
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: 28a633ae-0ab0-435e-911f-8df831a932c4
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Lozenge
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: 0d7aba97-6cb5-4bca-889a-f2b3f770f12e
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Mints
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: 7acf7423-2635-489b-833b-a6dede9dba4c
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Oil
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: 5b162523-cb3a-4337-9597-8a14fb2e25af
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Savory
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: d8f7938d-6a6c-4967-8c8c-b6d7902ecae1
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Sublingual
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: e9591785-475f-44d3-9421-555216a06638
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Other
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: 24be591c-2f95-45c2-bac8-5736613fae7c
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Capsule
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: fdf26640-a78c-46c4-90a4-143b7a43ebb6
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Sublingual Tablet
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: deb6b2b7-195f-43c7-a927-712a23378b98
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Tablingual
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: d5352a1f-aa74-4bf4-abb9-88b902149508
                    createdAt: '2023-06-30T23:24:14.616Z'
                    updatedAt: '2023-06-30T23:24:14.616Z'
                    deletedAt: null
                    name: Gum
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: 98dc024a-52ef-4db9-95af-abdd2abeb393
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Extract - General
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 203baa8c-0cbb-4432-bc7c-008628e0999c
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Isolate
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: ca0efc0e-eea2-4e98-9e0b-c5c178e0c9a0
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: RSO
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 301a5dad-2b83-4ac4-8f31-1b8d981a5cd2
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Diamonds
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: fb51c92a-d818-4b54-9710-e45f82eaf28a
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Badder
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 201f1cee-2d1d-44a4-ad5f-b85492ea21e2
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Budder
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 6014a5f5-8d5c-4744-b160-d1ff2fb79468
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Crumble
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 746c2ece-b558-4cd0-b6f5-aaa4669df60c
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Crystalline
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: fc1d0b5d-0829-467f-abff-fa0b23bc63a0
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Cured Resin
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 13ff86d5-51b3-4eab-9789-a2ebc31baa3d
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Distillate
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 88a76561-96d3-411e-918c-154def445cfd
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Dry Sift
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 4590443c-16f5-4f38-bfdd-57b3e322a9d9
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Hash
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 7ba67847-4cfe-4f2b-91ab-0e14023ae84b
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Ice Water Hash
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 4c7f777b-a589-4f7c-a3cf-884b9d7f4fb0
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Jelly
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 75b946a7-332e-4118-ab16-e507187e444c
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Live Resin
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 67f4f5c5-56b1-4a9d-b1f2-b173b27b44d3
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Live Resin Badder
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 5a90f5ac-2e06-42a6-9ce8-4b1a6f7f205a
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Live Resin Budder
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 38a35b74-7d3e-41fd-900d-236d8b3f982c
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Live Resin Sugar
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 08cd3de2-65e8-4a22-aac0-9eca0cda7073
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Live Rosin
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 4eb31a19-6e34-482c-8fca-5abb7605ed8e
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Hash Rosin
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 3b9ff1f8-e969-4565-9a95-d4d3b9a2d2f0
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Oil
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 83b55a9b-01b0-4804-8928-5a9c355d679e
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Other
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: f3db2a12-3c6a-414c-b116-5a65ce8ebb00
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Rosin Budder
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 03c11661-acff-406b-ab73-0640bb9caac4
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Sauce
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: ddb995ae-3e53-4341-8fb6-fe87dc81e4ab
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Shatter
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 66a105f8-0b72-468f-97f5-9368034bddbc
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Sift Rosin
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 9cfcfdd9-de81-4cdf-b056-c35984bef54d
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Sugar
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 07157aa0-d31f-4f29-80cd-606e7263b9c9
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: THC-A
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 609f1b7d-1f02-4387-a7d3-1a8fa70f14e3
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Wax
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: be6815b2-b2fe-49f7-aa32-4073b085adb5
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Flower Rosin
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: f2474ed7-5ef0-44c0-920a-4dea69e2fe51
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Powder Hash
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: d07708db-2fb8-4b27-a5fc-0317bfc94d42
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Rosin Sauce
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 8c6b7b3a-7e85-42d7-856d-52f7e2b12b52
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Temple Ball
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 53df1e50-7f7a-4314-82d6-842ed7f12614
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Temple Ball Hash
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 417ace9f-860f-4161-a931-c89d9a553d53
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Water Hash
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 916c2ed2-8e13-47fd-9106-1ffaed78f453
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Caviar
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 09e852c7-5647-47af-ae81-7ee52b846b8f
                    createdAt: '2023-06-30T23:25:28.995Z'
                    updatedAt: '2023-06-30T23:25:28.995Z'
                    deletedAt: null
                    name: Full Spectrum Oil
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 8796b980-1dc3-455f-9885-575de4fba993
                    createdAt: '2023-06-30T23:26:46.324Z'
                    updatedAt: '2023-06-30T23:26:46.324Z'
                    deletedAt: null
                    name: Flower - General
                    isCannabis: true
                    productCategoryId: b99d6b9f-84ee-4d68-9d60-fee8dcbf5bee
                    productCategoryName: Flower
                  - id: 0fae18e4-60df-4ad9-bd7c-e825e293a700
                    createdAt: '2023-06-30T23:26:46.324Z'
                    updatedAt: '2023-06-30T23:26:46.324Z'
                    deletedAt: null
                    name: Bulk Flower
                    isCannabis: true
                    productCategoryId: b99d6b9f-84ee-4d68-9d60-fee8dcbf5bee
                    productCategoryName: Flower
                  - id: 3f759f36-6904-4862-897e-52d1fe3558ef
                    createdAt: '2023-06-30T23:26:46.324Z'
                    updatedAt: '2023-06-30T23:26:46.324Z'
                    deletedAt: null
                    name: Infused Flower
                    isCannabis: true
                    productCategoryId: b99d6b9f-84ee-4d68-9d60-fee8dcbf5bee
                    productCategoryName: Flower
                  - id: b61a99b4-25cb-4160-b4e1-42f98941d78c
                    createdAt: '2023-06-30T23:26:46.324Z'
                    updatedAt: '2023-06-30T23:26:46.324Z'
                    deletedAt: null
                    name: Kief
                    isCannabis: true
                    productCategoryId: b99d6b9f-84ee-4d68-9d60-fee8dcbf5bee
                    productCategoryName: Flower
                  - id: 35bedac6-8da0-479f-97de-ed42d9f38d21
                    createdAt: '2023-06-30T23:26:46.324Z'
                    updatedAt: '2023-06-30T23:26:46.324Z'
                    deletedAt: null
                    name: Pre-Ground
                    isCannabis: true
                    productCategoryId: b99d6b9f-84ee-4d68-9d60-fee8dcbf5bee
                    productCategoryName: Flower
                  - id: 63e35fbe-6565-4c84-bf44-d1e426247ab2
                    createdAt: '2023-06-30T23:26:46.324Z'
                    updatedAt: '2023-06-30T23:26:46.324Z'
                    deletedAt: null
                    name: Pre-Pack
                    isCannabis: true
                    productCategoryId: b99d6b9f-84ee-4d68-9d60-fee8dcbf5bee
                    productCategoryName: Flower
                  - id: 2fecef7c-db8b-48fd-81df-017fdd64e90b
                    createdAt: '2023-06-30T23:26:46.324Z'
                    updatedAt: '2023-06-30T23:26:46.324Z'
                    deletedAt: null
                    name: Pre-Pack Smalls
                    isCannabis: true
                    productCategoryId: b99d6b9f-84ee-4d68-9d60-fee8dcbf5bee
                    productCategoryName: Flower
                  - id: e677a3e5-9f2b-466a-90f7-007c9bfaf51e
                    createdAt: '2023-06-30T23:26:46.324Z'
                    updatedAt: '2023-06-30T23:26:46.324Z'
                    deletedAt: null
                    name: Shake
                    isCannabis: true
                    productCategoryId: b99d6b9f-84ee-4d68-9d60-fee8dcbf5bee
                    productCategoryName: Flower
                  - id: 1cef3eb7-dfee-4531-935a-0ca8f77dabc2
                    createdAt: '2023-06-30T23:26:46.324Z'
                    updatedAt: '2023-06-30T23:26:46.324Z'
                    deletedAt: null
                    name: Strain Specific Shake
                    isCannabis: true
                    productCategoryId: b99d6b9f-84ee-4d68-9d60-fee8dcbf5bee
                    productCategoryName: Flower
                  - id: 67992581-bcd7-46f1-870d-9186ab864a5a
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Merch - General
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 1654c7dc-cc5d-40ad-aec8-d0617fccce41
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Battery
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 4e0644eb-e10e-4142-bb91-e1791a9454bd
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Beverage
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: f837b738-4ca2-44e8-85c9-91158c05980c
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Bong
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 8cda91c7-22ee-41b1-a770-eacf447c7c4b
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Book
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: a6888202-1fe7-4a6d-a923-bccfb36f04ed
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Gift Card
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 7690fc67-985b-4bcf-b9bf-783efb31a026
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Hat
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: ee8108fa-58c6-4162-88e0-096fb8d6ed6c
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Hoodie
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 2322e71c-527c-4327-9269-29eedc647ce8
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Lighter
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 5bd437e1-19c5-4d2b-9fe8-c20433522ba9
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Dab Rig
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 0a30886f-3ab4-487a-ae9e-d708c886d099
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Pipe
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 7af919f4-311e-422c-98b9-fa6c5b347099
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Rolling Papers
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: f9c0cc5b-ac9c-4915-b77c-0bf29b327349
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Snack
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: ca1f5371-adf1-4b74-a3c6-fc582d422f03
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Sweatshirt
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 8983ffb6-50a7-46d5-8717-579c2738ae40
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: T Shirt
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: e3482f64-8e9a-465c-980d-060b32f1956e
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Vaporizer
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 1cdad47a-cfea-4a35-b847-1a6898f7cca9
                    createdAt: '2023-06-30T23:27:35.086Z'
                    updatedAt: '2023-06-30T23:27:35.086Z'
                    deletedAt: null
                    name: Other
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 1a5cef40-de80-4dfd-a354-ddf4ca0286a8
                    createdAt: '2023-06-30T23:28:48.045Z'
                    updatedAt: '2023-06-30T23:28:48.045Z'
                    deletedAt: null
                    name: Misc - General
                    isCannabis: true
                    productCategoryId: dd49d7d9-18b4-4b71-8099-7e5fcfabe6ae
                    productCategoryName: Misc
                  - id: 62d9f7a8-d4c3-40b4-8f23-17eec6b0ded6
                    createdAt: '2023-06-30T23:28:48.045Z'
                    updatedAt: '2023-06-30T23:28:48.045Z'
                    deletedAt: null
                    name: Suppository
                    isCannabis: true
                    productCategoryId: dd49d7d9-18b4-4b71-8099-7e5fcfabe6ae
                    productCategoryName: Misc
                  - id: 6a568ea5-8953-4ed4-9665-4804dbd37bff
                    createdAt: '2023-06-30T23:28:48.045Z'
                    updatedAt: '2023-06-30T23:28:48.045Z'
                    deletedAt: null
                    name: Solid
                    isCannabis: true
                    productCategoryId: dd49d7d9-18b4-4b71-8099-7e5fcfabe6ae
                    productCategoryName: Misc
                  - id: 1389506a-d1a6-465d-8801-1baed742b4b1
                    createdAt: '2023-06-30T23:28:48.045Z'
                    updatedAt: '2023-06-30T23:28:48.045Z'
                    deletedAt: null
                    name: Liquid
                    isCannabis: true
                    productCategoryId: dd49d7d9-18b4-4b71-8099-7e5fcfabe6ae
                    productCategoryName: Misc
                  - id: 0c4760cb-9350-4bb2-8922-70bba7b79eb2
                    createdAt: '2023-06-30T23:28:48.045Z'
                    updatedAt: '2023-06-30T23:28:48.045Z'
                    deletedAt: null
                    name: Other
                    isCannabis: true
                    productCategoryId: dd49d7d9-18b4-4b71-8099-7e5fcfabe6ae
                    productCategoryName: Misc
                  - id: e5737ffe-929e-4f2f-b136-f41f0980fefc
                    createdAt: '2023-06-30T23:29:42.497Z'
                    updatedAt: '2023-06-30T23:29:42.497Z'
                    deletedAt: null
                    name: Non-Inv - General
                    isCannabis: false
                    productCategoryId: 3bc75f1b-12fb-4a31-866b-f71ab2a0fefd
                    productCategoryName: Non-Inv
                  - id: 8faad3dd-132d-4dbd-ac71-462377c50429
                    createdAt: '2023-06-30T23:29:42.497Z'
                    updatedAt: '2023-06-30T23:29:42.497Z'
                    deletedAt: null
                    name: Membership
                    isCannabis: false
                    productCategoryId: 3bc75f1b-12fb-4a31-866b-f71ab2a0fefd
                    productCategoryName: Non-Inv
                  - id: a67c0d81-f7e2-4f38-80b5-cf0bfe04fef5
                    createdAt: '2023-06-30T23:29:42.497Z'
                    updatedAt: '2023-06-30T23:29:42.497Z'
                    deletedAt: null
                    name: Fee
                    isCannabis: false
                    productCategoryId: 3bc75f1b-12fb-4a31-866b-f71ab2a0fefd
                    productCategoryName: Non-Inv
                  - id: e337116f-01b6-46d0-bebe-da6a8400c3fd
                    createdAt: '2023-06-30T23:29:42.497Z'
                    updatedAt: '2023-06-30T23:29:42.497Z'
                    deletedAt: null
                    name: Gift Card
                    isCannabis: false
                    productCategoryId: 3bc75f1b-12fb-4a31-866b-f71ab2a0fefd
                    productCategoryName: Non-Inv
                  - id: 5a094da9-b4f9-40a9-a9b7-8ab78d7b90fa
                    createdAt: '2023-06-30T23:29:42.497Z'
                    updatedAt: '2023-06-30T23:29:42.497Z'
                    deletedAt: null
                    name: Other
                    isCannabis: false
                    productCategoryId: 3bc75f1b-12fb-4a31-866b-f71ab2a0fefd
                    productCategoryName: Non-Inv
                  - id: 1c505c44-424d-43ca-95e7-069933664d4e
                    createdAt: '2023-06-30T23:30:31.716Z'
                    updatedAt: '2023-06-30T23:30:31.716Z'
                    deletedAt: null
                    name: Pill - General
                    isCannabis: true
                    productCategoryId: 8d156ef2-c522-4f43-ab67-b4d15144bb68
                    productCategoryName: Pill
                  - id: c8a907c1-614b-45eb-9dfb-fce7d14e7b94
                    createdAt: '2023-06-30T23:30:31.716Z'
                    updatedAt: '2023-06-30T23:30:31.716Z'
                    deletedAt: null
                    name: Capsule
                    isCannabis: true
                    productCategoryId: 8d156ef2-c522-4f43-ab67-b4d15144bb68
                    productCategoryName: Pill
                  - id: 1ae4c3d4-46ce-4ca5-bb35-715119f668c0
                    createdAt: '2023-06-30T23:30:31.716Z'
                    updatedAt: '2023-06-30T23:30:31.716Z'
                    deletedAt: null
                    name: Chewable
                    isCannabis: true
                    productCategoryId: 8d156ef2-c522-4f43-ab67-b4d15144bb68
                    productCategoryName: Pill
                  - id: 920978e9-1a3c-4fed-b152-264222c9c983
                    createdAt: '2023-06-30T23:30:31.716Z'
                    updatedAt: '2023-06-30T23:30:31.716Z'
                    deletedAt: null
                    name: Tablet
                    isCannabis: true
                    productCategoryId: 8d156ef2-c522-4f43-ab67-b4d15144bb68
                    productCategoryName: Pill
                  - id: 726e902c-28eb-4b18-879d-401a9441aba5
                    createdAt: '2023-06-30T23:30:31.716Z'
                    updatedAt: '2023-06-30T23:30:31.716Z'
                    deletedAt: null
                    name: Other
                    isCannabis: true
                    productCategoryId: 8d156ef2-c522-4f43-ab67-b4d15144bb68
                    productCategoryName: Pill
                  - id: c3379fe8-8787-4fb5-bc94-5339278c41cd
                    createdAt: '2023-06-30T23:31:36.710Z'
                    updatedAt: '2023-06-30T23:31:36.710Z'
                    deletedAt: null
                    name: Plant - General
                    isCannabis: true
                    productCategoryId: 15fda9dc-93be-4ba0-928b-e5b07b4039c5
                    productCategoryName: Plant
                  - id: 98ce16f3-919b-4700-8d26-45caaf8fb9b9
                    createdAt: '2023-06-30T23:31:36.710Z'
                    updatedAt: '2023-06-30T23:31:36.710Z'
                    deletedAt: null
                    name: Clone
                    isCannabis: true
                    productCategoryId: 15fda9dc-93be-4ba0-928b-e5b07b4039c5
                    productCategoryName: Plant
                  - id: c0fe8a0d-89b6-4ab5-920d-b2998cbbac05
                    createdAt: '2023-06-30T23:31:36.710Z'
                    updatedAt: '2023-06-30T23:31:36.710Z'
                    deletedAt: null
                    name: Fresh Whole Plant
                    isCannabis: true
                    productCategoryId: 15fda9dc-93be-4ba0-928b-e5b07b4039c5
                    productCategoryName: Plant
                  - id: 558b94fa-45f2-4158-a3fb-e0d2b372f838
                    createdAt: '2023-06-30T23:31:36.710Z'
                    updatedAt: '2023-06-30T23:31:36.710Z'
                    deletedAt: null
                    name: Seeds
                    isCannabis: true
                    productCategoryId: 15fda9dc-93be-4ba0-928b-e5b07b4039c5
                    productCategoryName: Plant
                  - id: 32b9d7cf-d208-43db-8462-1e3dea292d39
                    createdAt: '2023-06-30T23:32:15.960Z'
                    updatedAt: '2023-06-30T23:32:15.960Z'
                    deletedAt: null
                    name: Preroll - General
                    isCannabis: true
                    productCategoryId: 39900cf2-a554-49f5-8992-f49e6e26404e
                    productCategoryName: Preroll
                  - id: 0a4dba90-7e03-43da-a55a-93fb1407485c
                    createdAt: '2023-06-30T23:32:15.960Z'
                    updatedAt: '2023-06-30T23:32:15.960Z'
                    deletedAt: null
                    name: Shake
                    isCannabis: true
                    productCategoryId: 39900cf2-a554-49f5-8992-f49e6e26404e
                    productCategoryName: Preroll
                  - id: 2dc9b3fd-3731-48d2-b062-b496b07ce4bc
                    createdAt: '2023-06-30T23:32:15.960Z'
                    updatedAt: '2023-06-30T23:32:15.960Z'
                    deletedAt: null
                    name: Flower
                    isCannabis: true
                    productCategoryId: 39900cf2-a554-49f5-8992-f49e6e26404e
                    productCategoryName: Preroll
                  - id: ef01868c-c7ad-4d89-a321-50624ebf5475
                    createdAt: '2023-06-30T23:32:15.960Z'
                    updatedAt: '2023-06-30T23:32:15.960Z'
                    deletedAt: null
                    name: Infused
                    isCannabis: true
                    productCategoryId: 39900cf2-a554-49f5-8992-f49e6e26404e
                    productCategoryName: Preroll
                  - id: 204c4933-0c2a-4407-952c-9f3a91cdaa62
                    createdAt: '2023-06-30T23:32:52.145Z'
                    updatedAt: '2023-06-30T23:32:52.145Z'
                    deletedAt: null
                    name: Tincture - General
                    isCannabis: true
                    productCategoryId: 8cb220ac-ccf7-4484-ab23-7433e0ad676c
                    productCategoryName: Tincture
                  - id: 447c0969-57b7-40b5-acec-a4833151137e
                    createdAt: '2023-06-30T23:32:52.145Z'
                    updatedAt: '2023-06-30T23:32:52.145Z'
                    deletedAt: null
                    name: Dropper
                    isCannabis: true
                    productCategoryId: 8cb220ac-ccf7-4484-ab23-7433e0ad676c
                    productCategoryName: Tincture
                  - id: a38d1b4d-826f-43d2-9aba-06e27537d878
                    createdAt: '2023-06-30T23:32:52.145Z'
                    updatedAt: '2023-06-30T23:32:52.145Z'
                    deletedAt: null
                    name: Spray
                    isCannabis: true
                    productCategoryId: 8cb220ac-ccf7-4484-ab23-7433e0ad676c
                    productCategoryName: Tincture
                  - id: 32797846-7b6f-40ca-93b8-9757370a641e
                    createdAt: '2023-06-30T23:32:52.145Z'
                    updatedAt: '2023-06-30T23:32:52.145Z'
                    deletedAt: null
                    name: Syrup
                    isCannabis: true
                    productCategoryId: 8cb220ac-ccf7-4484-ab23-7433e0ad676c
                    productCategoryName: Tincture
                  - id: c87abc10-1803-4f61-a2d9-7010fab9d5fc
                    createdAt: '2023-06-30T23:32:52.145Z'
                    updatedAt: '2023-06-30T23:32:52.145Z'
                    deletedAt: null
                    name: Tincture
                    isCannabis: true
                    productCategoryId: 8cb220ac-ccf7-4484-ab23-7433e0ad676c
                    productCategoryName: Tincture
                  - id: af1518c4-62d3-4dc5-bc35-f7c11cd12eff
                    createdAt: '2023-06-30T23:32:52.145Z'
                    updatedAt: '2023-06-30T23:32:52.145Z'
                    deletedAt: null
                    name: Other
                    isCannabis: true
                    productCategoryId: 8cb220ac-ccf7-4484-ab23-7433e0ad676c
                    productCategoryName: Tincture
                  - id: c51727bb-f5d7-44b6-a289-500e27f958ab
                    createdAt: '2023-06-30T23:33:50.248Z'
                    updatedAt: '2023-06-30T23:33:50.248Z'
                    deletedAt: null
                    name: Topical - General
                    isCannabis: true
                    productCategoryId: 84dc38c6-a4a4-4e92-947f-a63c30fb6e60
                    productCategoryName: Topical
                  - id: 8cdb7657-843c-4a1a-a7a1-c19c149fad54
                    createdAt: '2023-06-30T23:33:50.248Z'
                    updatedAt: '2023-06-30T23:33:50.248Z'
                    deletedAt: null
                    name: Balm
                    isCannabis: true
                    productCategoryId: 84dc38c6-a4a4-4e92-947f-a63c30fb6e60
                    productCategoryName: Topical
                  - id: abe8e27d-b7cd-4097-958a-39ff3e235e83
                    createdAt: '2023-06-30T23:33:50.248Z'
                    updatedAt: '2023-06-30T23:33:50.248Z'
                    deletedAt: null
                    name: Cream
                    isCannabis: true
                    productCategoryId: 84dc38c6-a4a4-4e92-947f-a63c30fb6e60
                    productCategoryName: Topical
                  - id: 7c65fd8f-7f9e-442b-9b66-a1dbd26f7cda
                    createdAt: '2023-06-30T23:33:50.248Z'
                    updatedAt: '2023-06-30T23:33:50.248Z'
                    deletedAt: null
                    name: Gel
                    isCannabis: true
                    productCategoryId: 84dc38c6-a4a4-4e92-947f-a63c30fb6e60
                    productCategoryName: Topical
                  - id: 5923d796-e5fb-4027-9292-fae3b851e4c8
                    createdAt: '2023-06-30T23:33:50.248Z'
                    updatedAt: '2023-06-30T23:33:50.248Z'
                    deletedAt: null
                    name: Lotion
                    isCannabis: true
                    productCategoryId: 84dc38c6-a4a4-4e92-947f-a63c30fb6e60
                    productCategoryName: Topical
                  - id: cd3b98df-291d-4e73-99d3-8270234afd1f
                    createdAt: '2023-06-30T23:33:50.248Z'
                    updatedAt: '2023-06-30T23:33:50.248Z'
                    deletedAt: null
                    name: Oil
                    isCannabis: true
                    productCategoryId: 84dc38c6-a4a4-4e92-947f-a63c30fb6e60
                    productCategoryName: Topical
                  - id: aec78e5c-51eb-41cb-90c8-01cf91fab693
                    createdAt: '2023-06-30T23:33:50.248Z'
                    updatedAt: '2023-06-30T23:33:50.248Z'
                    deletedAt: null
                    name: Patch
                    isCannabis: true
                    productCategoryId: 84dc38c6-a4a4-4e92-947f-a63c30fb6e60
                    productCategoryName: Topical
                  - id: 72ae7ba0-8d01-4904-a58f-07fd754662b1
                    createdAt: '2023-06-30T23:33:50.248Z'
                    updatedAt: '2023-06-30T23:33:50.248Z'
                    deletedAt: null
                    name: Salve
                    isCannabis: true
                    productCategoryId: 84dc38c6-a4a4-4e92-947f-a63c30fb6e60
                    productCategoryName: Topical
                  - id: 4921333b-4ce6-40ca-a543-c12d3f0ba325
                    createdAt: '2023-06-30T23:33:50.248Z'
                    updatedAt: '2023-06-30T23:33:50.248Z'
                    deletedAt: null
                    name: Spray
                    isCannabis: true
                    productCategoryId: 84dc38c6-a4a4-4e92-947f-a63c30fb6e60
                    productCategoryName: Topical
                  - id: b47158b4-7f31-4a54-ab07-dabe3c9b10bc
                    createdAt: '2023-06-30T23:33:50.248Z'
                    updatedAt: '2023-06-30T23:33:50.248Z'
                    deletedAt: null
                    name: Other
                    isCannabis: true
                    productCategoryId: 84dc38c6-a4a4-4e92-947f-a63c30fb6e60
                    productCategoryName: Topical
                  - id: ffb26b39-2c5f-4c07-a13a-1a8ce827d39a
                    createdAt: '2025-05-14T15:30:49.596Z'
                    updatedAt: '2025-05-14T15:30:49.469Z'
                    deletedAt: null
                    name: Bulk Extract
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 10f393dc-328f-44e9-8307-d9c0963a2c84
                    createdAt: '2023-11-29T06:16:47.785Z'
                    updatedAt: '2025-02-26T21:15:33.712Z'
                    deletedAt: null
                    name: Oil
                    isCannabis: false
                    productCategoryId: 55494b61-da32-4f7d-8340-282fe2965ac8
                    productCategoryName: CBD
                  - id: e1238aba-535d-4310-8f7e-f7eb0ca30f46
                    createdAt: '2023-11-29T06:16:47.785Z'
                    updatedAt: '2025-02-26T21:14:40.621Z'
                    deletedAt: null
                    name: Tincture
                    isCannabis: false
                    productCategoryId: 55494b61-da32-4f7d-8340-282fe2965ac8
                    productCategoryName: CBD
                  - id: ec764c4e-e467-4f47-bcf3-9758dab935ec
                    createdAt: '2023-11-29T06:16:47.785Z'
                    updatedAt: '2025-02-26T21:14:40.621Z'
                    deletedAt: null
                    name: CBD - General
                    isCannabis: false
                    productCategoryId: 55494b61-da32-4f7d-8340-282fe2965ac8
                    productCategoryName: CBD
                  - id: fa5c1843-5784-4552-aed7-2b8855763d39
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2025-02-26T21:14:40.621Z'
                    deletedAt: null
                    name: Topical
                    isCannabis: false
                    productCategoryId: 55494b61-da32-4f7d-8340-282fe2965ac8
                    productCategoryName: CBD
                  - id: f59e37ba-c3d5-41a5-9ab9-05fb49ebd787
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2025-02-26T21:14:40.621Z'
                    deletedAt: null
                    name: Beverage
                    isCannabis: false
                    productCategoryId: 55494b61-da32-4f7d-8340-282fe2965ac8
                    productCategoryName: CBD
                  - id: 53d25834-6a0e-4450-a9c4-940ee2b10622
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2025-02-26T21:14:40.621Z'
                    deletedAt: null
                    name: Cartridge
                    isCannabis: false
                    productCategoryId: 55494b61-da32-4f7d-8340-282fe2965ac8
                    productCategoryName: CBD
                  - id: 8a4251aa-8a26-4cc1-af89-fc2ad79d5580
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2025-02-26T21:14:40.621Z'
                    deletedAt: null
                    name: Edible
                    isCannabis: false
                    productCategoryId: 55494b61-da32-4f7d-8340-282fe2965ac8
                    productCategoryName: CBD
                  - id: 6c4523e6-2b27-489e-89d0-d863de8692a7
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2025-02-26T21:14:40.621Z'
                    deletedAt: null
                    name: Extract
                    isCannabis: false
                    productCategoryId: 55494b61-da32-4f7d-8340-282fe2965ac8
                    productCategoryName: CBD
                  - id: 05b8609f-df63-4282-9973-213ca7db995f
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2025-02-28T18:35:58.751Z'
                    deletedAt: null
                    name: Bath
                    isCannabis: true
                    productCategoryId: dd49d7d9-18b4-4b71-8099-7e5fcfabe6ae
                    productCategoryName: Misc
                  - id: 36380ca3-7922-4d1b-9035-c35edbbb7b30
                    createdAt: '2023-06-30T23:22:13.627Z'
                    updatedAt: '2025-03-10T17:28:58.918Z'
                    deletedAt: null
                    name: Distillate
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: 2f7e3683-bddd-45dc-9cb5-4336dd1288ad
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Seltzer
                    isCannabis: true
                    productCategoryId: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName: Beverage
                  - id: 5eeda9dd-f79c-4302-8c6d-011db4f75ae0
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Rosin
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
                  - id: 26550d8b-1628-4a93-954d-e81dc3e6f221
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2025-02-26T21:14:40.621Z'
                    deletedAt: null
                    name: Pill
                    isCannabis: false
                    productCategoryId: 55494b61-da32-4f7d-8340-282fe2965ac8
                    productCategoryName: CBD
                  - id: aa7e9335-9bc4-4fa6-a8f7-386e878ab65c
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Honey
                    isCannabis: true
                    productCategoryId: 6e73028e-3e8f-47e9-98b1-ef2b1b71a5bf
                    productCategoryName: Edible
                  - id: fabd1801-71f0-4995-a3b2-63e61b3d609d
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Moon Rocks
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: f222a6a0-024e-45c8-b2c5-5a8f202dd49a
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Bubble Hash
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 8f05891f-0c0c-4e3d-90ef-0b2ed1466fdd
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Jam
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: d7b927aa-b184-4ec9-81ff-59974b3a5dbd
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Rosin
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 59274be4-daeb-44f2-a7d3-568bbc814211
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Live Resin Sauce
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: eb76a643-d5d4-4e82-a6c8-c04bb357e78b
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Kief
                    isCannabis: true
                    productCategoryId: adfc3fde-a5ec-4bce-82b4-f82c3b3d646d
                    productCategoryName: Extract
                  - id: 864075e7-157d-41e0-b5f0-ab31d48b2ea8
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Accessory
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 30f52d63-57b1-457b-9cf6-8d1a4c8cabb0
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Apparel
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 1a35a204-fe23-43ef-a0fc-3eef1ae23e4a
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Grinder
                    isCannabis: false
                    productCategoryId: 941744d0-9354-47bb-a95b-547faae7120c
                    productCategoryName: Merch
                  - id: 8688b14c-409e-424a-ba42-f1e528e072d7
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Blunt
                    isCannabis: true
                    productCategoryId: 39900cf2-a554-49f5-8992-f49e6e26404e
                    productCategoryName: Preroll
                  - id: e2bd2796-4b66-4948-853f-7f303845a67c
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Infused Blunt
                    isCannabis: true
                    productCategoryId: 39900cf2-a554-49f5-8992-f49e6e26404e
                    productCategoryName: Preroll
                  - id: fbb974a0-d28d-496d-9f8f-cdf628d89099
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Cosmetic
                    isCannabis: true
                    productCategoryId: 84dc38c6-a4a4-4e92-947f-a63c30fb6e60
                    productCategoryName: Topical
                  - id: e1e0fe7f-839b-4abe-a46e-bda8730b8eed
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Lubricant
                    isCannabis: true
                    productCategoryId: 84dc38c6-a4a4-4e92-947f-a63c30fb6e60
                    productCategoryName: Topical
                  - id: 143b29df-550a-4731-8683-c4bce81a6f5c
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Roll-On
                    isCannabis: true
                    productCategoryId: 84dc38c6-a4a4-4e92-947f-a63c30fb6e60
                    productCategoryName: Topical
                  - id: ed9fe2c0-6d23-41fb-8dfe-3add47b6460b
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Sauce
                    isCannabis: true
                    productCategoryId: 8cb220ac-ccf7-4484-ab23-7433e0ad676c
                    productCategoryName: Tincture
                  - id: 5d9b974e-28bf-4e5f-ae63-d454cb89a131
                    createdAt: '2024-08-28T18:26:39.189Z'
                    updatedAt: '2024-08-28T18:26:39.189Z'
                    deletedAt: null
                    name: Teen
                    isCannabis: true
                    productCategoryId: 15fda9dc-93be-4ba0-928b-e5b07b4039c5
                    productCategoryName: Plant
                  - id: eadbaab8-7017-42dd-9bf4-d57983b30b5a
                    createdAt: '2024-09-04T06:45:03.694Z'
                    updatedAt: '2025-02-03T19:44:38.513Z'
                    deletedAt: null
                    name: All In One
                    isCannabis: true
                    productCategoryId: 47479cfd-c482-4077-98a1-6157097c3db7
                    productCategoryName: Cartridge
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: a5940bac-4853-46ed-aa04-a6d7eb271623
                    createdAt:
                      type: string
                      example: '2023-06-30T23:21:11.577Z'
                      format: date-time
                    updatedAt:
                      type: string
                      example: '2023-06-30T23:21:11.577Z'
                      format: date-time
                    deletedAt:
                      type: string
                      format: date-time
                    name:
                      type: string
                      example: Beverage - General
                    isCannabis:
                      type: boolean
                      example: true
                      default: true
                    productCategoryId:
                      type: string
                      example: 96cfabcd-d951-4a1b-88a6-56c0601e269d
                    productCategoryName:
                      type: string
                      example: Beverage
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value:
                    message: Event Schema Validation Failed
                    errorType: Validation
                    errorMsgs:
                    - must be a valid GUID
                    failed:
                    - entity:
                        ids:
                        - 8c7691b0-d9af-4b7b-ab9e-b36ef3c7c83
                      errors:
                      - must be a valid GUID
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Event Schema Validation Failed
                  errorType:
                    type: string
                    example: Validation
                  errorMsgs:
                    type: array
                    items:
                      type: string
                      example: must be a valid GUID
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        entity:
                          type: object
                          properties:
                            ids:
                              type: array
                              items:
                                type: string
                                example: 8c7691b0-d9af-4b7b-ab9e-b36ef3c7c83
                        errors:
                          type: array
                          items:
                            type: string
                            example: must be a valid GUID
      tags:
      - Product Subcategory
x-readme:
  headers:
  - key: Accept-Encoding
    value: gzip, br
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
