openapi: 3.2.0
info:
  title: catalog Entity Price API
  version: 3.1.0
servers:
- url: https://api-prod.treez.io/service/catalog
security:
- {}
tags:
- name: Entity Price
paths:
  /v3/entity-price:
    get:
      summary: Store Price - Read
      description: ''
      operationId: catalog-store-price-read
      parameters:
      - name: ids
        in: query
        description: The `id` GUID of a entity-price record
        schema:
          type: array
          items:
            type: string
      - name: variantIds
        in: query
        description: The `id` GUID of a product sku/variant
        schema:
          type: array
          items:
            type: string
      - name: organizationEntityIds
        in: query
        description: The `id` GUID of an entity (store)
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n    {\n        \"id\": \"b123b37a-d359-45a3-ac24-580b0ea4e998\",\n        \"createdAt\": \"2025-06-18T13:32:32.495Z\",\n        \"updatedAt\": \"2025-06-18T13:32:32.396Z\",\n        \"deletedAt\": null,\n        \"variantId\": \"9aa52aa5-b275-4694-893d-b448e367fa2b\",\n        \"type\": \"base\",\n        \"price\": 3000,\n        \"pricingMethod\": \"FLAT\",\n        \"priceTierId\": null,\n        \"organizationEntityId\": \"3f482347-9340-4f03-8dd2-93c232955a13\"\n    }\n]"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: b123b37a-d359-45a3-ac24-580b0ea4e998
                    createdAt:
                      type: string
                      example: '2025-06-18T13:32:32.495Z'
                    updatedAt:
                      type: string
                      example: '2025-06-18T13:32:32.396Z'
                    deletedAt: {}
                    variantId:
                      type: string
                      example: 9aa52aa5-b275-4694-893d-b448e367fa2b
                    type:
                      type: string
                      example: base
                    price:
                      type: integer
                      example: 3000
                      default: 0
                    pricingMethod:
                      type: string
                      example: FLAT
                    priceTierId: {}
                    organizationEntityId:
                      type: string
                      example: 3f482347-9340-4f03-8dd2-93c232955a13
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"message\": \"Event Schema Validation Failed\",\n    \"errorType\": \"Validation\",\n    \"errorMsgs\": [\n        \"must contain at least one of [ids, variantIds, organizationEntityIds]\"\n    ],\n    \"failed\": [\n        {\n            \"entity\": {},\n            \"errors\": [\n                \"must contain at least one of [ids, variantIds, organizationEntityIds]\"\n            ]\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Event Schema Validation Failed
                  errorType:
                    type: string
                    example: Validation
                  errorMsgs:
                    type: array
                    items:
                      type: string
                      example: must contain at least one of [ids, variantIds, organizationEntityIds]
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        entity:
                          type: object
                          properties: {}
                        errors:
                          type: array
                          items:
                            type: string
                            example: must contain at least one of [ids, variantIds, organizationEntityIds]
      deprecated: false
      tags:
      - Entity Price
    post:
      summary: Store Price - Create
      description: ''
      operationId: catalog-store-price-create
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - organizationEntityId
              - variantId
              - type
              properties:
                organizationEntityId:
                  type: string
                  description: '`id` of the entity (store)'
                variantId:
                  type: string
                type:
                  type: string
                  default: base
                  description: Must be `base`
                price:
                  type: integer
                  description: Enter full dollars and cents without decimal points. E.g. $10 should be passed as `1000`.
                  format: int32
                priceTierId:
                  type: string
                pricingMethod:
                  type: string
                  enum:
                  - FLAT
                  - TIER
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"data\": [\n        {\n            \"id\": \"97d725fb-4d1b-43ef-b2ce-bcabba5076db\",\n            \"createdAt\": \"2025-11-06T18:51:19.863Z\",\n            \"updatedAt\": \"2025-11-06T18:51:19.764Z\",\n            \"deletedAt\": null,\n            \"variantId\": \"0160bfb5-3da0-4146-8c98-59eedac49a1a\",\n            \"type\": \"base\",\n            \"price\": 2400,\n            \"pricingMethod\": \"FLAT\",\n            \"priceTierId\": null,\n            \"organizationEntityId\": \"1b8e53d3-d810-455b-b287-e35a6555bde2\"\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 97d725fb-4d1b-43ef-b2ce-bcabba5076db
                        createdAt:
                          type: string
                          example: '2025-11-06T18:51:19.863Z'
                        updatedAt:
                          type: string
                          example: '2025-11-06T18:51:19.764Z'
                        deletedAt: {}
                        variantId:
                          type: string
                          example: 0160bfb5-3da0-4146-8c98-59eedac49a1a
                        type:
                          type: string
                          example: base
                        price:
                          type: integer
                          example: 2400
                          default: 0
                        pricingMethod:
                          type: string
                          example: FLAT
                        priceTierId: {}
                        organizationEntityId:
                          type: string
                          example: 1b8e53d3-d810-455b-b287-e35a6555bde2
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"message\": \"Event Schema Validation Failed\",\n    \"errorType\": \"Validation\",\n    \"errorMsgs\": [\n        \"variantId must be a valid GUID\"\n    ],\n    \"failed\": [\n        {\n            \"entity\": {\n                \"variantId\": \"0160bfb5-3da0-4146-8c98-59eedac49a1aZ\",\n                \"price\": 2400,\n                \"type\": \"base\",\n                \"organizationEntityId\": \"1b8e53d3-d810-455b-b287-e35a6555bde2\"\n            },\n            \"errors\": [\n                \"variantId must be a valid GUID\"\n            ]\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Event Schema Validation Failed
                  errorType:
                    type: string
                    example: Validation
                  errorMsgs:
                    type: array
                    items:
                      type: string
                      example: variantId must be a valid GUID
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        entity:
                          type: object
                          properties:
                            variantId:
                              type: string
                              example: 0160bfb5-3da0-4146-8c98-59eedac49a1aZ
                            price:
                              type: integer
                              example: 2400
                              default: 0
                            type:
                              type: string
                              example: base
                            organizationEntityId:
                              type: string
                              example: 1b8e53d3-d810-455b-b287-e35a6555bde2
                        errors:
                          type: array
                          items:
                            type: string
                            example: variantId must be a valid GUID
      deprecated: false
      tags:
      - Entity Price
    patch:
      summary: Store Price - Update
      description: ''
      operationId: catalog-store-price-update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                organizationEntityId:
                  type: string
                  description: '`id` of the entity (store)'
                price:
                  type: integer
                  description: Enter full dollars and cents without decimal points. E.g. $10 should be passed as `1000`.
                  format: int32
                priceTierId:
                  type: string
                pricingMethod:
                  type: string
                  enum:
                  - FLAT
                  - TIER
                type:
                  type: string
                variantId:
                  type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"data\": [\n        {\n            \"id\": \"b123b37a-d359-45a3-ac24-580b0ea4e998\",\n            \"createdAt\": \"2025-06-18T13:32:32.495Z\",\n            \"updatedAt\": \"2025-11-06T18:57:08.257Z\",\n            \"deletedAt\": null,\n            \"variantId\": \"9aa52aa5-b275-4694-893d-b448e367fa2b\",\n            \"type\": \"base\",\n            \"price\": 3750,\n            \"pricingMethod\": \"FLAT\",\n            \"priceTierId\": null,\n            \"organizationEntityId\": \"3f482347-9340-4f03-8dd2-93c232955a13\"\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: b123b37a-d359-45a3-ac24-580b0ea4e998
                        createdAt:
                          type: string
                          example: '2025-06-18T13:32:32.495Z'
                        updatedAt:
                          type: string
                          example: '2025-11-06T18:57:08.257Z'
                        deletedAt: {}
                        variantId:
                          type: string
                          example: 9aa52aa5-b275-4694-893d-b448e367fa2b
                        type:
                          type: string
                          example: base
                        price:
                          type: integer
                          example: 3750
                          default: 0
                        pricingMethod:
                          type: string
                          example: FLAT
                        priceTierId: {}
                        organizationEntityId:
                          type: string
                          example: 3f482347-9340-4f03-8dd2-93c232955a13
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Entity Price
    delete:
      summary: Store Price - Delete
      description: ''
      operationId: catalog-store-price-delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - RAW_BODY
              properties:
                RAW_BODY:
                  type: array
                  description: Array of entity-price record `id` values to be deleted
                  items:
                    type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"data\": [\n        {\n            \"id\": \"33e51a5e-1a12-482d-afb2-d2510590e531\",\n            \"createdAt\": \"2024-06-26T21:33:23.041Z\",\n            \"updatedAt\": \"2025-12-17T16:21:22.052Z\",\n            \"deletedAt\": \"2025-12-17T16:21:22.052Z\",\n            \"variantId\": \"77b7a39d-47cc-4e55-afe8-e46878108484\",\n            \"type\": \"base\",\n            \"price\": 2000,\n            \"pricingMethod\": \"FLAT\",\n            \"priceTierId\": null,\n            \"organizationEntityId\": \"da16a0ec-9ba8-4096-b068-2c9f23351b3f\"\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 33e51a5e-1a12-482d-afb2-d2510590e531
                        createdAt:
                          type: string
                          example: '2024-06-26T21:33:23.041Z'
                        updatedAt:
                          type: string
                          example: '2025-12-17T16:21:22.052Z'
                        deletedAt:
                          type: string
                          example: '2025-12-17T16:21:22.052Z'
                        variantId:
                          type: string
                          example: 77b7a39d-47cc-4e55-afe8-e46878108484
                        type:
                          type: string
                          example: base
                        price:
                          type: integer
                          example: 2000
                          default: 0
                        pricingMethod:
                          type: string
                          example: FLAT
                        priceTierId: {}
                        organizationEntityId:
                          type: string
                          example: da16a0ec-9ba8-4096-b068-2c9f23351b3f
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"message\": \"Event Schema Validation Failed\",\n    \"errorType\": \"Validation\",\n    \"errorMsgs\": [\n        \"variantId must be a valid GUID\"\n    ],\n    \"failed\": [\n        {\n            \"entity\": {\n                \"variantId\": \"0160bfb5-3da0-4146-8c98-59eedac49a1aZ\",\n                \"price\": 2400,\n                \"type\": \"base\",\n                \"organizationEntityId\": \"1b8e53d3-d810-455b-b287-e35a6555bde2\"\n            },\n            \"errors\": [\n                \"variantId must be a valid GUID\"\n            ]\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Event Schema Validation Failed
                  errorType:
                    type: string
                    example: Validation
                  errorMsgs:
                    type: array
                    items:
                      type: string
                      example: variantId must be a valid GUID
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        entity:
                          type: object
                          properties:
                            variantId:
                              type: string
                              example: 0160bfb5-3da0-4146-8c98-59eedac49a1aZ
                            price:
                              type: integer
                              example: 2400
                              default: 0
                            type:
                              type: string
                              example: base
                            organizationEntityId:
                              type: string
                              example: 1b8e53d3-d810-455b-b287-e35a6555bde2
                        errors:
                          type: array
                          items:
                            type: string
                            example: variantId must be a valid GUID
      deprecated: false
      tags:
      - Entity Price
x-readme:
  headers:
  - key: Accept-Encoding
    value: gzip, br
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
