openapi: 3.2.0
info:
  title: catalog Subcategory Exclusion 1 1 API
  version: 3.1.0
servers:
- url: https://api-prod.treez.io/service/catalog
security:
- {}
tags:
- name: Subcategory Exclusion 1 1
paths:
  /{ver}/subcategory-exclusion-1-1:
    delete:
      summary: Subcategory Exclusions - Delete
      description: Removes exclusions so the global subcategories show in the picker again. Keyed by the global subcategory's productSubCategoryId, not by the exclusion row id. Requires the Catalog Management - Custom Subcategories feature to be enabled for the organization.
      operationId: catalog-categories-read-1-1-2-1-1
      parameters:
      - in: path
        name: ver
        schema:
          type: string
          default: v3
        required: true
        description: ''
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    data:
                    - id: 7e2b9c40-1d5a-4f3e-8a6b-9c0d1e2f3a45
                      organizationId: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                      productSubCategoryId: f6e25c9a-27f3-41a7-9037-b5e0c2f3e652
                      createdAt: '2026-08-20T17:02:11.412Z'
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: c1f4a6d2-3b7e-4c1a-9e2f-5d8b7a6c4e10
                    type:
                      type: string
                      example: custom
                    displayName:
                      type: string
                      example: Disposable
                    productSubCategoryId:
                      type: string
                      example: a5940bac-4853-46ed-aa04-a6d7eb271623
                    canonicalSubCategoryName:
                      type: string
                      example: All In One
                    productCategoryId:
                      type: string
                      example: 8b0d2c4e-6f1a-4b3c-9d7e-2a5f8c1b4d60
                    productCategoryName:
                      type: string
                      example: Cartridge
                    organizationId:
                      type: string
                      example: b1226d0b-4940-4edf-aab3-dbd1642f7f69
                    isExcluded:
                      type: boolean
                      example: false
                      default: true
                    isShadowed:
                      type: boolean
                      example: false
                      default: true
                    shownInProductDropdown:
                      type: boolean
                      example: true
                      default: true
                    isBulk:
                      type: boolean
                      example: false
                      default: true
        '206':
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                Partial Content:
                  summary: Partial Content
                  value:
                    data: []
                    failed:
                    - entity:
                        productSubCategoryId: a5940bac-4853-46ed-aa04-a6d7eb271623
                      errors:
                      - Canonical subcategory has custom subcategories and cannot be deactivated
                      errorDetails:
                        canonicalHasCustoms:
                          code: SUB_CATEGORY_EXCLUSION_CANONICAL_HAS_CUSTOMS
                          productSubCategoryId: a5940bac-4853-46ed-aa04-a6d7eb271623
                          blockingCustoms:
                          - id: c1f4a6d2-3b7e-4c1a-9e2f-5d8b7a6c4e10
                            displayName: Disposable
                            productCount: 12
          description: Partial Content
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value:
                    message: Event Schema Validation Failed
                    errorType: Validation
                    errorMsgs:
                    - '"productSubCategoryId" must be a valid GUID'
                    - '"productSubCategoryId" must be a valid GUID'
                    failed:
                    - entity:
                        key_0: 4708.6358186846
                      errors:
                      - string
                      - string
                      errorDetails:
                        key_0:
                          code: SUB_CATEGORY_EXCLUSION_ALREADY_EXCLUDED
                        key_1:
                          code: SUB_CATEGORY_EXCLUSION_NOT_EXCLUDED
                    - entity:
                        key_0: string
                        key_1: false
                        key_2: 9514.105203063558
                      errors:
                      - string
                      - string
                      errorDetails:
                        key_0:
                          code: SUB_CATEGORY_EXCLUSION_ALREADY_EXCLUDED
                        key_1:
                          code: SUB_CATEGORY_EXCLUSION_NOT_EXCLUDED
                        key_2:
                          code: SUB_CATEGORY_EXCLUSION_CANONICAL_HAS_CUSTOMS
                        key_3:
                          code: SUB_CATEGORY_EXCLUSION_NOT_EXCLUDED
                        key_4:
                          code: CUSTOM_SUBCATEGORY_IN_USE
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Event Schema Validation Failed
                  errorType:
                    type: string
                    example: Validation
                  errorMsgs:
                    type: array
                    items:
                      type: string
                      example: '"productSubCategoryId" must be a valid GUID'
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        entity:
                          type: object
                          properties:
                            key_0:
                              type: number
                              example: 4708.6358186846
                              default: 0
                        errors:
                          type: array
                          items:
                            type: string
                            example: string
                        errorDetails:
                          type: object
                          properties:
                            key_0:
                              type: object
                              properties:
                                code:
                                  type: string
                                  example: SUB_CATEGORY_EXCLUSION_ALREADY_EXCLUDED
                            key_1:
                              type: object
                              properties:
                                code:
                                  type: string
                                  example: SUB_CATEGORY_EXCLUSION_NOT_EXCLUDED
      x-internal: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  productSubCategoryId:
                    type: string
                required:
                - productSubCategoryId
      tags:
      - Subcategory Exclusion 1 1
x-readme:
  headers:
  - key: Accept-Encoding
    value: gzip, br
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
