{"openapi":"3.1.0","info":{"title":"dispensary","version":"3.1.0"},"servers":[{"url":"https://api-prod.treez.io/dispensary/v3"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/{dispensary}/customer/{customer_id}":{"get":{"summary":"Get by ID","description":"","operationId":"dispensary-customer-get-by-id","parameters":[{"name":"include_image_list","in":"query","description":"Returns stored customer images in the response. Default behavior is `false` if not specified.","schema":{"type":"boolean"}},{"name":"dispensary","in":"path","description":"The dispensary short name","schema":{"type":"string","default":"partnersandbox3"},"required":true},{"name":"customer_id","in":"path","description":"The customer's ID number in the dispensary instance.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"SUCCESS\",\n    \"resultReason\": null,\n    \"resultDetail\": null,\n    \"data\": {\n        \"status\": \"MERGED\",\n        \"verification_status\": \"VERIFICATION_PENDING\",\n        \"verification_reasons\": [\n            {\n                \"verification_reason\": \"EXPIRATION\",\n                \"verification_reason_description\": \"MEDICAL_ID_EXPIRATION\"\n            }\n        ],\n        \"customer_id\": \"20\",\n        \"first_name\": \"KATHLEEN\",\n        \"middle_name\": null,\n        \"nickname\": \"\",\n        \"last_name\": \"SCOTT\",\n        \"birthday\": \"1989-03-07\",\n        \"drivers_license\": \"LIC744\",\n        \"drivers_license_expiration\": \"2028-05-12\",\n        \"state_medical_id\": \"MED738\",\n        \"permit_expiration\": \"2024-05-31 00:00:00.000\",\n        \"email\": \"SCOTT20@mail.com\",\n        \"phone\": \"7777777777\",\n        \"notes\": \"N/A\",\n        \"physician_first_name\": null,\n        \"physician_last_name\": null,\n        \"physician_license\": null,\n        \"physician_address\": null,\n        \"physician_phone\": null,\n        \"is_caregiver\": false,\n        \"caregiver_license_number\": \"\",\n        \"caregiver_name_1\": \"N/A\",\n        \"caregiver_name_2\": \"N/A\",\n        \"caregiver_details\": [],\n        \"rewards_balance\": 0,\n        \"rewards_type\": \"POINTS\",\n        \"gender\": \"U\",\n        \"signup_date\": \"2024-05-14T09:06:40.000-07:00\",\n        \"last_visit_date\": \"2024-05-31 09:54:13.000\",\n        \"last_update\": \"2025-10-21T07:26:36.000-07:00\",\n        \"opt_out\": null,\n        \"referral_source\": null,\n        \"banned\": false,\n        \"warning_1\": false,\n        \"warning_2\": false,\n        \"addresses\": [\n            {\n                \"type\": \"address_of_record\",\n                \"street1\": \"18 KATHLEEN STREET\",\n                \"street2\": \"\",\n                \"city\": \"SCOTT\",\n                \"state\": \"CA\",\n                \"zipcode\": \"20555\",\n                \"primary\": true\n            }\n        ],\n        \"merged_customer_ids\": [\n            19\n        ],\n        \"merged_into_customer_id\": null,\n        \"patient_type\": \"MEDICAL_MMID\",\n        \"imageList\": [\n            {\n                \"type\": \"PROFILE\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f\",\n                \"lastupdated\": \"2025-10-21 07:26:36\"\n            },\n            {\n                \"type\": \"fullLicense\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_fullLicense_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=fb27a93dbaa0b7efdadd039e2e54ff85ed8cb6befbcc7cb3694ab47b08ed12a6\",\n                \"lastupdated\": \"2025-10-21 07:26:35\"\n            }\n        ],\n        \"customer_groups\": [],\n        \"external_ids\": {\n            \"aiq_contact_id\": null\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"SUCCESS"},"resultReason":{},"resultDetail":{},"data":{"type":"object","properties":{"status":{"type":"string","example":"MERGED"},"verification_status":{"type":"string","example":"VERIFICATION_PENDING"},"verification_reasons":{"type":"array","items":{"type":"object","properties":{"verification_reason":{"type":"string","example":"EXPIRATION"},"verification_reason_description":{"type":"string","example":"MEDICAL_ID_EXPIRATION"}}}},"customer_id":{"type":"string","example":"20"},"first_name":{"type":"string","example":"KATHLEEN"},"middle_name":{},"nickname":{"type":"string","example":""},"last_name":{"type":"string","example":"SCOTT"},"birthday":{"type":"string","example":"1989-03-07"},"drivers_license":{"type":"string","example":"LIC744"},"drivers_license_expiration":{"type":"string","example":"2028-05-12"},"state_medical_id":{"type":"string","example":"MED738"},"permit_expiration":{"type":"string","example":"2024-05-31 00:00:00.000"},"email":{"type":"string","example":"SCOTT20@mail.com"},"phone":{"type":"string","example":"7777777777"},"notes":{"type":"string","example":"N/A"},"physician_first_name":{},"physician_last_name":{},"physician_license":{},"physician_address":{},"physician_phone":{},"is_caregiver":{"type":"boolean","example":false,"default":true},"caregiver_license_number":{"type":"string","example":""},"caregiver_name_1":{"type":"string","example":"N/A"},"caregiver_name_2":{"type":"string","example":"N/A"},"caregiver_details":{"type":"array","items":{"type":"object","properties":{}}},"rewards_balance":{"type":"integer","example":0,"default":0},"rewards_type":{"type":"string","example":"POINTS"},"gender":{"type":"string","example":"U"},"signup_date":{"type":"string","example":"2024-05-14T09:06:40.000-07:00"},"last_visit_date":{"type":"string","example":"2024-05-31 09:54:13.000"},"last_update":{"type":"string","example":"2025-10-21T07:26:36.000-07:00"},"opt_out":{},"referral_source":{},"banned":{"type":"boolean","example":false,"default":true},"warning_1":{"type":"boolean","example":false,"default":true},"warning_2":{"type":"boolean","example":false,"default":true},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"address_of_record"},"street1":{"type":"string","example":"18 KATHLEEN STREET"},"street2":{"type":"string","example":""},"city":{"type":"string","example":"SCOTT"},"state":{"type":"string","example":"CA"},"zipcode":{"type":"string","example":"20555"},"primary":{"type":"boolean","example":true,"default":true}}}},"merged_customer_ids":{"type":"array","items":{"type":"integer","example":19,"default":0}},"merged_into_customer_id":{},"patient_type":{"type":"string","example":"MEDICAL_MMID"},"imageList":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"PROFILE"},"url":{"type":"string","example":"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f"},"lastupdated":{"type":"string","example":"2025-10-21 07:26:36"}}}},"customer_groups":{"type":"array","items":{"type":"object","properties":{}}},"external_ids":{"type":"object","properties":{"aiq_contact_id":{}}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"Full authentication is required to access this resource\"\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"Full authentication is required to access this resource"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"CUSTOMER_DOESNT_EXIST\",\n    \"resultDetail\": null\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"CUSTOMER_DOESNT_EXIST"},"resultDetail":{}}}}}}},"deprecated":false,"security":[]}},"/{dispensary}/customer/email/{email}":{"get":{"summary":"Get by email address","description":"","operationId":"dispensary-customer-get-by-email","parameters":[{"name":"include_image_list","in":"query","description":"Returns stored customer images in the response. Default behavior is `false` if not specified.","schema":{"type":"boolean"}},{"name":"dispensary","in":"path","description":"The dispensary short name","schema":{"type":"string","default":"partnersandbox3"},"required":true},{"name":"email","in":"path","description":"The customer's email address.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"SUCCESS\",\n    \"resultReason\": null,\n    \"resultDetail\": null,\n    \"data\": {\n        \"status\": \"MERGED\",\n        \"verification_status\": \"VERIFICATION_PENDING\",\n        \"verification_reasons\": [\n            {\n                \"verification_reason\": \"EXPIRATION\",\n                \"verification_reason_description\": \"MEDICAL_ID_EXPIRATION\"\n            }\n        ],\n        \"customer_id\": \"20\",\n        \"first_name\": \"KATHLEEN\",\n        \"middle_name\": null,\n        \"nickname\": \"\",\n        \"last_name\": \"SCOTT\",\n        \"birthday\": \"1989-03-07\",\n        \"drivers_license\": \"LIC744\",\n        \"drivers_license_expiration\": \"2028-05-12\",\n        \"state_medical_id\": \"MED738\",\n        \"permit_expiration\": \"2024-05-31 00:00:00.000\",\n        \"email\": \"SCOTT20@mail.com\",\n        \"phone\": \"7777777777\",\n        \"notes\": \"N/A\",\n        \"physician_first_name\": null,\n        \"physician_last_name\": null,\n        \"physician_license\": null,\n        \"physician_address\": null,\n        \"physician_phone\": null,\n        \"is_caregiver\": false,\n        \"caregiver_license_number\": \"\",\n        \"caregiver_name_1\": \"N/A\",\n        \"caregiver_name_2\": \"N/A\",\n        \"caregiver_details\": [],\n        \"rewards_balance\": 0,\n        \"rewards_type\": \"POINTS\",\n        \"gender\": \"U\",\n        \"signup_date\": \"2024-05-14T09:06:40.000-07:00\",\n        \"last_visit_date\": \"2024-05-31 09:54:13.000\",\n        \"last_update\": \"2025-10-21T07:26:36.000-07:00\",\n        \"opt_out\": null,\n        \"referral_source\": null,\n        \"banned\": false,\n        \"warning_1\": false,\n        \"warning_2\": false,\n        \"addresses\": [\n            {\n                \"type\": \"address_of_record\",\n                \"street1\": \"18 KATHLEEN STREET\",\n                \"street2\": \"\",\n                \"city\": \"SCOTT\",\n                \"state\": \"CA\",\n                \"zipcode\": \"20555\",\n                \"primary\": true\n            }\n        ],\n        \"merged_customer_ids\": [\n            19\n        ],\n        \"merged_into_customer_id\": null,\n        \"patient_type\": \"MEDICAL_MMID\",\n        \"imageList\": [\n            {\n                \"type\": \"PROFILE\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f\",\n                \"lastupdated\": \"2025-10-21 07:26:36\"\n            },\n            {\n                \"type\": \"fullLicense\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_fullLicense_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=fb27a93dbaa0b7efdadd039e2e54ff85ed8cb6befbcc7cb3694ab47b08ed12a6\",\n                \"lastupdated\": \"2025-10-21 07:26:35\"\n            }\n        ],\n        \"customer_groups\": [],\n        \"external_ids\": {\n            \"aiq_contact_id\": null\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"SUCCESS"},"resultReason":{},"resultDetail":{},"data":{"type":"object","properties":{"status":{"type":"string","example":"MERGED"},"verification_status":{"type":"string","example":"VERIFICATION_PENDING"},"verification_reasons":{"type":"array","items":{"type":"object","properties":{"verification_reason":{"type":"string","example":"EXPIRATION"},"verification_reason_description":{"type":"string","example":"MEDICAL_ID_EXPIRATION"}}}},"customer_id":{"type":"string","example":"20"},"first_name":{"type":"string","example":"KATHLEEN"},"middle_name":{},"nickname":{"type":"string","example":""},"last_name":{"type":"string","example":"SCOTT"},"birthday":{"type":"string","example":"1989-03-07"},"drivers_license":{"type":"string","example":"LIC744"},"drivers_license_expiration":{"type":"string","example":"2028-05-12"},"state_medical_id":{"type":"string","example":"MED738"},"permit_expiration":{"type":"string","example":"2024-05-31 00:00:00.000"},"email":{"type":"string","example":"SCOTT20@mail.com"},"phone":{"type":"string","example":"7777777777"},"notes":{"type":"string","example":"N/A"},"physician_first_name":{},"physician_last_name":{},"physician_license":{},"physician_address":{},"physician_phone":{},"is_caregiver":{"type":"boolean","example":false,"default":true},"caregiver_license_number":{"type":"string","example":""},"caregiver_name_1":{"type":"string","example":"N/A"},"caregiver_name_2":{"type":"string","example":"N/A"},"caregiver_details":{"type":"array","items":{"type":"object","properties":{}}},"rewards_balance":{"type":"integer","example":0,"default":0},"rewards_type":{"type":"string","example":"POINTS"},"gender":{"type":"string","example":"U"},"signup_date":{"type":"string","example":"2024-05-14T09:06:40.000-07:00"},"last_visit_date":{"type":"string","example":"2024-05-31 09:54:13.000"},"last_update":{"type":"string","example":"2025-10-21T07:26:36.000-07:00"},"opt_out":{},"referral_source":{},"banned":{"type":"boolean","example":false,"default":true},"warning_1":{"type":"boolean","example":false,"default":true},"warning_2":{"type":"boolean","example":false,"default":true},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"address_of_record"},"street1":{"type":"string","example":"18 KATHLEEN STREET"},"street2":{"type":"string","example":""},"city":{"type":"string","example":"SCOTT"},"state":{"type":"string","example":"CA"},"zipcode":{"type":"string","example":"20555"},"primary":{"type":"boolean","example":true,"default":true}}}},"merged_customer_ids":{"type":"array","items":{"type":"integer","example":19,"default":0}},"merged_into_customer_id":{},"patient_type":{"type":"string","example":"MEDICAL_MMID"},"imageList":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"PROFILE"},"url":{"type":"string","example":"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f"},"lastupdated":{"type":"string","example":"2025-10-21 07:26:36"}}}},"customer_groups":{"type":"array","items":{"type":"object","properties":{}}},"external_ids":{"type":"object","properties":{"aiq_contact_id":{}}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"Full authentication is required to access this resource\"\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"Full authentication is required to access this resource"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"NOT_FOUND\",\n    \"resultDetail\": \"Nothing was found\"\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"NOT_FOUND"},"resultDetail":{"type":"string","example":"Nothing was found"}}}}}}},"deprecated":false,"security":[]}},"/{dispensary}/customer/firstname/{firstname}/lastname/{lastname}":{"get":{"summary":"Get by name","description":"","operationId":"dispensary-customer-get-by-name","parameters":[{"name":"include_image_list","in":"query","description":"Returns stored customer images in the response. Default behavior is `false` if not specified.","schema":{"type":"boolean"}},{"name":"dispensary","in":"path","description":"The dispensary short name","schema":{"type":"string","default":"partnersandbox3"},"required":true},{"name":"firstname","in":"path","schema":{"type":"string"},"required":true},{"name":"lastname","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"SUCCESS\",\n    \"resultReason\": null,\n    \"resultDetail\": null,\n    \"data\": {\n        \"status\": \"MERGED\",\n        \"verification_status\": \"VERIFICATION_PENDING\",\n        \"verification_reasons\": [\n            {\n                \"verification_reason\": \"EXPIRATION\",\n                \"verification_reason_description\": \"MEDICAL_ID_EXPIRATION\"\n            }\n        ],\n        \"customer_id\": \"20\",\n        \"first_name\": \"KATHLEEN\",\n        \"middle_name\": null,\n        \"nickname\": \"\",\n        \"last_name\": \"SCOTT\",\n        \"birthday\": \"1989-03-07\",\n        \"drivers_license\": \"LIC744\",\n        \"drivers_license_expiration\": \"2028-05-12\",\n        \"state_medical_id\": \"MED738\",\n        \"permit_expiration\": \"2024-05-31 00:00:00.000\",\n        \"email\": \"SCOTT20@mail.com\",\n        \"phone\": \"7777777777\",\n        \"notes\": \"N/A\",\n        \"physician_first_name\": null,\n        \"physician_last_name\": null,\n        \"physician_license\": null,\n        \"physician_address\": null,\n        \"physician_phone\": null,\n        \"is_caregiver\": false,\n        \"caregiver_license_number\": \"\",\n        \"caregiver_name_1\": \"N/A\",\n        \"caregiver_name_2\": \"N/A\",\n        \"caregiver_details\": [],\n        \"rewards_balance\": 0,\n        \"rewards_type\": \"POINTS\",\n        \"gender\": \"U\",\n        \"signup_date\": \"2024-05-14T09:06:40.000-07:00\",\n        \"last_visit_date\": \"2024-05-31 09:54:13.000\",\n        \"last_update\": \"2025-10-21T07:26:36.000-07:00\",\n        \"opt_out\": null,\n        \"referral_source\": null,\n        \"banned\": false,\n        \"warning_1\": false,\n        \"warning_2\": false,\n        \"addresses\": [\n            {\n                \"type\": \"address_of_record\",\n                \"street1\": \"18 KATHLEEN STREET\",\n                \"street2\": \"\",\n                \"city\": \"SCOTT\",\n                \"state\": \"CA\",\n                \"zipcode\": \"20555\",\n                \"primary\": true\n            }\n        ],\n        \"merged_customer_ids\": [\n            19\n        ],\n        \"merged_into_customer_id\": null,\n        \"patient_type\": \"MEDICAL_MMID\",\n        \"imageList\": [\n            {\n                \"type\": \"PROFILE\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f\",\n                \"lastupdated\": \"2025-10-21 07:26:36\"\n            },\n            {\n                \"type\": \"fullLicense\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_fullLicense_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=fb27a93dbaa0b7efdadd039e2e54ff85ed8cb6befbcc7cb3694ab47b08ed12a6\",\n                \"lastupdated\": \"2025-10-21 07:26:35\"\n            }\n        ],\n        \"customer_groups\": [],\n        \"external_ids\": {\n            \"aiq_contact_id\": null\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"SUCCESS"},"resultReason":{},"resultDetail":{},"data":{"type":"object","properties":{"status":{"type":"string","example":"MERGED"},"verification_status":{"type":"string","example":"VERIFICATION_PENDING"},"verification_reasons":{"type":"array","items":{"type":"object","properties":{"verification_reason":{"type":"string","example":"EXPIRATION"},"verification_reason_description":{"type":"string","example":"MEDICAL_ID_EXPIRATION"}}}},"customer_id":{"type":"string","example":"20"},"first_name":{"type":"string","example":"KATHLEEN"},"middle_name":{},"nickname":{"type":"string","example":""},"last_name":{"type":"string","example":"SCOTT"},"birthday":{"type":"string","example":"1989-03-07"},"drivers_license":{"type":"string","example":"LIC744"},"drivers_license_expiration":{"type":"string","example":"2028-05-12"},"state_medical_id":{"type":"string","example":"MED738"},"permit_expiration":{"type":"string","example":"2024-05-31 00:00:00.000"},"email":{"type":"string","example":"SCOTT20@mail.com"},"phone":{"type":"string","example":"7777777777"},"notes":{"type":"string","example":"N/A"},"physician_first_name":{},"physician_last_name":{},"physician_license":{},"physician_address":{},"physician_phone":{},"is_caregiver":{"type":"boolean","example":false,"default":true},"caregiver_license_number":{"type":"string","example":""},"caregiver_name_1":{"type":"string","example":"N/A"},"caregiver_name_2":{"type":"string","example":"N/A"},"caregiver_details":{"type":"array","items":{"type":"object","properties":{}}},"rewards_balance":{"type":"integer","example":0,"default":0},"rewards_type":{"type":"string","example":"POINTS"},"gender":{"type":"string","example":"U"},"signup_date":{"type":"string","example":"2024-05-14T09:06:40.000-07:00"},"last_visit_date":{"type":"string","example":"2024-05-31 09:54:13.000"},"last_update":{"type":"string","example":"2025-10-21T07:26:36.000-07:00"},"opt_out":{},"referral_source":{},"banned":{"type":"boolean","example":false,"default":true},"warning_1":{"type":"boolean","example":false,"default":true},"warning_2":{"type":"boolean","example":false,"default":true},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"address_of_record"},"street1":{"type":"string","example":"18 KATHLEEN STREET"},"street2":{"type":"string","example":""},"city":{"type":"string","example":"SCOTT"},"state":{"type":"string","example":"CA"},"zipcode":{"type":"string","example":"20555"},"primary":{"type":"boolean","example":true,"default":true}}}},"merged_customer_ids":{"type":"array","items":{"type":"integer","example":19,"default":0}},"merged_into_customer_id":{},"patient_type":{"type":"string","example":"MEDICAL_MMID"},"imageList":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"PROFILE"},"url":{"type":"string","example":"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f"},"lastupdated":{"type":"string","example":"2025-10-21 07:26:36"}}}},"customer_groups":{"type":"array","items":{"type":"object","properties":{}}},"external_ids":{"type":"object","properties":{"aiq_contact_id":{}}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"Full authentication is required to access this resource\"\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"Full authentication is required to access this resource"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"NOT_FOUND\",\n    \"resultDetail\": \"Nothing was found\"\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"NOT_FOUND"},"resultDetail":{"type":"string","example":"Nothing was found"}}}}}}},"deprecated":false,"security":[]}},"/{dispensary}/customer/driverlicense/{drivers_license}":{"get":{"summary":"Get by driver's license","description":"","operationId":"dispensary-customer-get-by-license","parameters":[{"name":"include_image_list","in":"query","description":"Returns stored customer images in the response. Default behavior is `false` if not specified.","schema":{"type":"boolean"}},{"name":"dispensary","in":"path","description":"The dispensary short name","schema":{"type":"string","default":"partnersandbox3"},"required":true},{"name":"drivers_license","in":"path","description":"The customer's driver license number","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"SUCCESS\",\n    \"resultReason\": null,\n    \"resultDetail\": null,\n    \"data\": {\n        \"status\": \"MERGED\",\n        \"verification_status\": \"VERIFICATION_PENDING\",\n        \"verification_reasons\": [\n            {\n                \"verification_reason\": \"EXPIRATION\",\n                \"verification_reason_description\": \"MEDICAL_ID_EXPIRATION\"\n            }\n        ],\n        \"customer_id\": \"20\",\n        \"first_name\": \"KATHLEEN\",\n        \"middle_name\": null,\n        \"nickname\": \"\",\n        \"last_name\": \"SCOTT\",\n        \"birthday\": \"1989-03-07\",\n        \"drivers_license\": \"LIC744\",\n        \"drivers_license_expiration\": \"2028-05-12\",\n        \"state_medical_id\": \"MED738\",\n        \"permit_expiration\": \"2024-05-31 00:00:00.000\",\n        \"email\": \"SCOTT20@mail.com\",\n        \"phone\": \"7777777777\",\n        \"notes\": \"N/A\",\n        \"physician_first_name\": null,\n        \"physician_last_name\": null,\n        \"physician_license\": null,\n        \"physician_address\": null,\n        \"physician_phone\": null,\n        \"is_caregiver\": false,\n        \"caregiver_license_number\": \"\",\n        \"caregiver_name_1\": \"N/A\",\n        \"caregiver_name_2\": \"N/A\",\n        \"caregiver_details\": [],\n        \"rewards_balance\": 0,\n        \"rewards_type\": \"POINTS\",\n        \"gender\": \"U\",\n        \"signup_date\": \"2024-05-14T09:06:40.000-07:00\",\n        \"last_visit_date\": \"2024-05-31 09:54:13.000\",\n        \"last_update\": \"2025-10-21T07:26:36.000-07:00\",\n        \"opt_out\": null,\n        \"referral_source\": null,\n        \"banned\": false,\n        \"warning_1\": false,\n        \"warning_2\": false,\n        \"addresses\": [\n            {\n                \"type\": \"address_of_record\",\n                \"street1\": \"18 KATHLEEN STREET\",\n                \"street2\": \"\",\n                \"city\": \"SCOTT\",\n                \"state\": \"CA\",\n                \"zipcode\": \"20555\",\n                \"primary\": true\n            }\n        ],\n        \"merged_customer_ids\": [\n            19\n        ],\n        \"merged_into_customer_id\": null,\n        \"patient_type\": \"MEDICAL_MMID\",\n        \"imageList\": [\n            {\n                \"type\": \"PROFILE\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f\",\n                \"lastupdated\": \"2025-10-21 07:26:36\"\n            },\n            {\n                \"type\": \"fullLicense\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_fullLicense_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=fb27a93dbaa0b7efdadd039e2e54ff85ed8cb6befbcc7cb3694ab47b08ed12a6\",\n                \"lastupdated\": \"2025-10-21 07:26:35\"\n            }\n        ],\n        \"customer_groups\": [],\n        \"external_ids\": {\n            \"aiq_contact_id\": null\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"SUCCESS"},"resultReason":{},"resultDetail":{},"data":{"type":"object","properties":{"status":{"type":"string","example":"MERGED"},"verification_status":{"type":"string","example":"VERIFICATION_PENDING"},"verification_reasons":{"type":"array","items":{"type":"object","properties":{"verification_reason":{"type":"string","example":"EXPIRATION"},"verification_reason_description":{"type":"string","example":"MEDICAL_ID_EXPIRATION"}}}},"customer_id":{"type":"string","example":"20"},"first_name":{"type":"string","example":"KATHLEEN"},"middle_name":{},"nickname":{"type":"string","example":""},"last_name":{"type":"string","example":"SCOTT"},"birthday":{"type":"string","example":"1989-03-07"},"drivers_license":{"type":"string","example":"LIC744"},"drivers_license_expiration":{"type":"string","example":"2028-05-12"},"state_medical_id":{"type":"string","example":"MED738"},"permit_expiration":{"type":"string","example":"2024-05-31 00:00:00.000"},"email":{"type":"string","example":"SCOTT20@mail.com"},"phone":{"type":"string","example":"7777777777"},"notes":{"type":"string","example":"N/A"},"physician_first_name":{},"physician_last_name":{},"physician_license":{},"physician_address":{},"physician_phone":{},"is_caregiver":{"type":"boolean","example":false,"default":true},"caregiver_license_number":{"type":"string","example":""},"caregiver_name_1":{"type":"string","example":"N/A"},"caregiver_name_2":{"type":"string","example":"N/A"},"caregiver_details":{"type":"array","items":{"type":"object","properties":{}}},"rewards_balance":{"type":"integer","example":0,"default":0},"rewards_type":{"type":"string","example":"POINTS"},"gender":{"type":"string","example":"U"},"signup_date":{"type":"string","example":"2024-05-14T09:06:40.000-07:00"},"last_visit_date":{"type":"string","example":"2024-05-31 09:54:13.000"},"last_update":{"type":"string","example":"2025-10-21T07:26:36.000-07:00"},"opt_out":{},"referral_source":{},"banned":{"type":"boolean","example":false,"default":true},"warning_1":{"type":"boolean","example":false,"default":true},"warning_2":{"type":"boolean","example":false,"default":true},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"address_of_record"},"street1":{"type":"string","example":"18 KATHLEEN STREET"},"street2":{"type":"string","example":""},"city":{"type":"string","example":"SCOTT"},"state":{"type":"string","example":"CA"},"zipcode":{"type":"string","example":"20555"},"primary":{"type":"boolean","example":true,"default":true}}}},"merged_customer_ids":{"type":"array","items":{"type":"integer","example":19,"default":0}},"merged_into_customer_id":{},"patient_type":{"type":"string","example":"MEDICAL_MMID"},"imageList":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"PROFILE"},"url":{"type":"string","example":"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f"},"lastupdated":{"type":"string","example":"2025-10-21 07:26:36"}}}},"customer_groups":{"type":"array","items":{"type":"object","properties":{}}},"external_ids":{"type":"object","properties":{"aiq_contact_id":{}}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"Full authentication is required to access this resource\"\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"Full authentication is required to access this resource"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"CUSTOMER_DOESNT_EXIST\",\n    \"resultDetail\": null\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"CUSTOMER_DOESNT_EXIST"},"resultDetail":{}}}}}}},"deprecated":false,"security":[]}},"/{dispensary}/customer/phone/{phone_number}":{"get":{"summary":"Get by phone number","description":"","operationId":"dispensary-customer-get-by-phone","parameters":[{"name":"include_image_list","in":"query","description":"Returns stored customer images in the response. Default behavior is `false` if not specified.","schema":{"type":"boolean"}},{"name":"dispensary","in":"path","description":"The dispensary short name","schema":{"type":"string","default":"partnersandbox3"},"required":true},{"name":"phone_number","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"SUCCESS\",\n    \"resultReason\": null,\n    \"resultDetail\": null,\n    \"data\": {\n        \"status\": \"MERGED\",\n        \"verification_status\": \"VERIFICATION_PENDING\",\n        \"verification_reasons\": [\n            {\n                \"verification_reason\": \"EXPIRATION\",\n                \"verification_reason_description\": \"MEDICAL_ID_EXPIRATION\"\n            }\n        ],\n        \"customer_id\": \"20\",\n        \"first_name\": \"KATHLEEN\",\n        \"middle_name\": null,\n        \"nickname\": \"\",\n        \"last_name\": \"SCOTT\",\n        \"birthday\": \"1989-03-07\",\n        \"drivers_license\": \"LIC744\",\n        \"drivers_license_expiration\": \"2028-05-12\",\n        \"state_medical_id\": \"MED738\",\n        \"permit_expiration\": \"2024-05-31 00:00:00.000\",\n        \"email\": \"SCOTT20@mail.com\",\n        \"phone\": \"7777777777\",\n        \"notes\": \"N/A\",\n        \"physician_first_name\": null,\n        \"physician_last_name\": null,\n        \"physician_license\": null,\n        \"physician_address\": null,\n        \"physician_phone\": null,\n        \"is_caregiver\": false,\n        \"caregiver_license_number\": \"\",\n        \"caregiver_name_1\": \"N/A\",\n        \"caregiver_name_2\": \"N/A\",\n        \"caregiver_details\": [],\n        \"rewards_balance\": 0,\n        \"rewards_type\": \"POINTS\",\n        \"gender\": \"U\",\n        \"signup_date\": \"2024-05-14T09:06:40.000-07:00\",\n        \"last_visit_date\": \"2024-05-31 09:54:13.000\",\n        \"last_update\": \"2025-10-21T07:26:36.000-07:00\",\n        \"opt_out\": null,\n        \"referral_source\": null,\n        \"banned\": false,\n        \"warning_1\": false,\n        \"warning_2\": false,\n        \"addresses\": [\n            {\n                \"type\": \"address_of_record\",\n                \"street1\": \"18 KATHLEEN STREET\",\n                \"street2\": \"\",\n                \"city\": \"SCOTT\",\n                \"state\": \"CA\",\n                \"zipcode\": \"20555\",\n                \"primary\": true\n            }\n        ],\n        \"merged_customer_ids\": [\n            19\n        ],\n        \"merged_into_customer_id\": null,\n        \"patient_type\": \"MEDICAL_MMID\",\n        \"imageList\": [\n            {\n                \"type\": \"PROFILE\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f\",\n                \"lastupdated\": \"2025-10-21 07:26:36\"\n            },\n            {\n                \"type\": \"fullLicense\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_fullLicense_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=fb27a93dbaa0b7efdadd039e2e54ff85ed8cb6befbcc7cb3694ab47b08ed12a6\",\n                \"lastupdated\": \"2025-10-21 07:26:35\"\n            }\n        ],\n        \"customer_groups\": [],\n        \"external_ids\": {\n            \"aiq_contact_id\": null\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"SUCCESS"},"resultReason":{},"resultDetail":{},"data":{"type":"object","properties":{"status":{"type":"string","example":"MERGED"},"verification_status":{"type":"string","example":"VERIFICATION_PENDING"},"verification_reasons":{"type":"array","items":{"type":"object","properties":{"verification_reason":{"type":"string","example":"EXPIRATION"},"verification_reason_description":{"type":"string","example":"MEDICAL_ID_EXPIRATION"}}}},"customer_id":{"type":"string","example":"20"},"first_name":{"type":"string","example":"KATHLEEN"},"middle_name":{},"nickname":{"type":"string","example":""},"last_name":{"type":"string","example":"SCOTT"},"birthday":{"type":"string","example":"1989-03-07"},"drivers_license":{"type":"string","example":"LIC744"},"drivers_license_expiration":{"type":"string","example":"2028-05-12"},"state_medical_id":{"type":"string","example":"MED738"},"permit_expiration":{"type":"string","example":"2024-05-31 00:00:00.000"},"email":{"type":"string","example":"SCOTT20@mail.com"},"phone":{"type":"string","example":"7777777777"},"notes":{"type":"string","example":"N/A"},"physician_first_name":{},"physician_last_name":{},"physician_license":{},"physician_address":{},"physician_phone":{},"is_caregiver":{"type":"boolean","example":false,"default":true},"caregiver_license_number":{"type":"string","example":""},"caregiver_name_1":{"type":"string","example":"N/A"},"caregiver_name_2":{"type":"string","example":"N/A"},"caregiver_details":{"type":"array","items":{"type":"object","properties":{}}},"rewards_balance":{"type":"integer","example":0,"default":0},"rewards_type":{"type":"string","example":"POINTS"},"gender":{"type":"string","example":"U"},"signup_date":{"type":"string","example":"2024-05-14T09:06:40.000-07:00"},"last_visit_date":{"type":"string","example":"2024-05-31 09:54:13.000"},"last_update":{"type":"string","example":"2025-10-21T07:26:36.000-07:00"},"opt_out":{},"referral_source":{},"banned":{"type":"boolean","example":false,"default":true},"warning_1":{"type":"boolean","example":false,"default":true},"warning_2":{"type":"boolean","example":false,"default":true},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"address_of_record"},"street1":{"type":"string","example":"18 KATHLEEN STREET"},"street2":{"type":"string","example":""},"city":{"type":"string","example":"SCOTT"},"state":{"type":"string","example":"CA"},"zipcode":{"type":"string","example":"20555"},"primary":{"type":"boolean","example":true,"default":true}}}},"merged_customer_ids":{"type":"array","items":{"type":"integer","example":19,"default":0}},"merged_into_customer_id":{},"patient_type":{"type":"string","example":"MEDICAL_MMID"},"imageList":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"PROFILE"},"url":{"type":"string","example":"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f"},"lastupdated":{"type":"string","example":"2025-10-21 07:26:36"}}}},"customer_groups":{"type":"array","items":{"type":"object","properties":{}}},"external_ids":{"type":"object","properties":{"aiq_contact_id":{}}}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"Full authentication is required to access this resource\"\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"Full authentication is required to access this resource"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"NOT_FOUND\",\n    \"resultDetail\": \"Nothing was found\"\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"NOT_FOUND"},"resultDetail":{"type":"string","example":"Nothing was found"}}}}}}},"deprecated":false,"security":[]}},"/{dispensary}/customer/signup/from/{start_date}/to/{end_date}/page/{page_number}/pagesize/{page_size}":{"get":{"summary":"Get by sign-up date range","description":"Return all customers that signed up within the specified date range.","operationId":"dispensary-customer-get-by-signup-range","parameters":[{"name":"include_image_list","in":"query","description":"Returns stored customer images in the response. Default behavior is `false` if not specified.","schema":{"type":"boolean"}},{"name":"dispensary","in":"path","description":"The dispensary short name","schema":{"type":"string","default":"partnersandbox3"},"required":true},{"name":"start_date","in":"path","description":"Format: `YYYY-MM-DD`","schema":{"type":"string","format":"date"},"required":true},{"name":"end_date","in":"path","description":"Format: `YYYY-MM-DD`","schema":{"type":"string","format":"date"},"required":true},{"name":"page_number","in":"path","schema":{"type":"integer","format":"int32"},"required":true},{"name":"page_size","in":"path","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"SUCCESS\",\n    \"resultReason\": null,\n    \"resultDetail\": null,\n    \"data\": {\n        \"status\": \"MERGED\",\n        \"verification_status\": \"VERIFICATION_PENDING\",\n        \"verification_reasons\": [\n            {\n                \"verification_reason\": \"EXPIRATION\",\n                \"verification_reason_description\": \"MEDICAL_ID_EXPIRATION\"\n            }\n        ],\n        \"customer_id\": \"20\",\n        \"first_name\": \"KATHLEEN\",\n        \"middle_name\": null,\n        \"nickname\": \"\",\n        \"last_name\": \"SCOTT\",\n        \"birthday\": \"1989-03-07\",\n        \"drivers_license\": \"LIC744\",\n        \"drivers_license_expiration\": \"2028-05-12\",\n        \"state_medical_id\": \"MED738\",\n        \"permit_expiration\": \"2024-05-31 00:00:00.000\",\n        \"email\": \"SCOTT20@mail.com\",\n        \"phone\": \"7777777777\",\n        \"notes\": \"N/A\",\n        \"physician_first_name\": null,\n        \"physician_last_name\": null,\n        \"physician_license\": null,\n        \"physician_address\": null,\n        \"physician_phone\": null,\n        \"is_caregiver\": false,\n        \"caregiver_license_number\": \"\",\n        \"caregiver_name_1\": \"N/A\",\n        \"caregiver_name_2\": \"N/A\",\n        \"caregiver_details\": [],\n        \"rewards_balance\": 0,\n        \"rewards_type\": \"POINTS\",\n        \"gender\": \"U\",\n        \"signup_date\": \"2024-05-14T09:06:40.000-07:00\",\n        \"last_visit_date\": \"2024-05-31 09:54:13.000\",\n        \"last_update\": \"2025-10-21T07:26:36.000-07:00\",\n        \"opt_out\": null,\n        \"referral_source\": null,\n        \"banned\": false,\n        \"warning_1\": false,\n        \"warning_2\": false,\n        \"addresses\": [\n            {\n                \"type\": \"address_of_record\",\n                \"street1\": \"18 KATHLEEN STREET\",\n                \"street2\": \"\",\n                \"city\": \"SCOTT\",\n                \"state\": \"CA\",\n                \"zipcode\": \"20555\",\n                \"primary\": true\n            }\n        ],\n        \"merged_customer_ids\": [\n            19\n        ],\n        \"merged_into_customer_id\": null,\n        \"patient_type\": \"MEDICAL_MMID\",\n        \"imageList\": [\n            {\n                \"type\": \"PROFILE\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f\",\n                \"lastupdated\": \"2025-10-21 07:26:36\"\n            },\n            {\n                \"type\": \"fullLicense\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_fullLicense_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=fb27a93dbaa0b7efdadd039e2e54ff85ed8cb6befbcc7cb3694ab47b08ed12a6\",\n                \"lastupdated\": \"2025-10-21 07:26:35\"\n            }\n        ],\n        \"customer_groups\": [],\n        \"external_ids\": {\n            \"aiq_contact_id\": null\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"SUCCESS"},"resultReason":{},"resultDetail":{},"data":{"type":"object","properties":{"status":{"type":"string","example":"MERGED"},"verification_status":{"type":"string","example":"VERIFICATION_PENDING"},"verification_reasons":{"type":"array","items":{"type":"object","properties":{"verification_reason":{"type":"string","example":"EXPIRATION"},"verification_reason_description":{"type":"string","example":"MEDICAL_ID_EXPIRATION"}}}},"customer_id":{"type":"string","example":"20"},"first_name":{"type":"string","example":"KATHLEEN"},"middle_name":{},"nickname":{"type":"string","example":""},"last_name":{"type":"string","example":"SCOTT"},"birthday":{"type":"string","example":"1989-03-07"},"drivers_license":{"type":"string","example":"LIC744"},"drivers_license_expiration":{"type":"string","example":"2028-05-12"},"state_medical_id":{"type":"string","example":"MED738"},"permit_expiration":{"type":"string","example":"2024-05-31 00:00:00.000"},"email":{"type":"string","example":"SCOTT20@mail.com"},"phone":{"type":"string","example":"7777777777"},"notes":{"type":"string","example":"N/A"},"physician_first_name":{},"physician_last_name":{},"physician_license":{},"physician_address":{},"physician_phone":{},"is_caregiver":{"type":"boolean","example":false,"default":true},"caregiver_license_number":{"type":"string","example":""},"caregiver_name_1":{"type":"string","example":"N/A"},"caregiver_name_2":{"type":"string","example":"N/A"},"caregiver_details":{"type":"array","items":{"type":"object","properties":{}}},"rewards_balance":{"type":"integer","example":0,"default":0},"rewards_type":{"type":"string","example":"POINTS"},"gender":{"type":"string","example":"U"},"signup_date":{"type":"string","example":"2024-05-14T09:06:40.000-07:00"},"last_visit_date":{"type":"string","example":"2024-05-31 09:54:13.000"},"last_update":{"type":"string","example":"2025-10-21T07:26:36.000-07:00"},"opt_out":{},"referral_source":{},"banned":{"type":"boolean","example":false,"default":true},"warning_1":{"type":"boolean","example":false,"default":true},"warning_2":{"type":"boolean","example":false,"default":true},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"address_of_record"},"street1":{"type":"string","example":"18 KATHLEEN STREET"},"street2":{"type":"string","example":""},"city":{"type":"string","example":"SCOTT"},"state":{"type":"string","example":"CA"},"zipcode":{"type":"string","example":"20555"},"primary":{"type":"boolean","example":true,"default":true}}}},"merged_customer_ids":{"type":"array","items":{"type":"integer","example":19,"default":0}},"merged_into_customer_id":{},"patient_type":{"type":"string","example":"MEDICAL_MMID"},"imageList":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"PROFILE"},"url":{"type":"string","example":"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f"},"lastupdated":{"type":"string","example":"2025-10-21 07:26:36"}}}},"customer_groups":{"type":"array","items":{"type":"object","properties":{}}},"external_ids":{"type":"object","properties":{"aiq_contact_id":{}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"RESPONSE_LIMIT_EXCEEDS":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"RESPONSE_LIMIT_EXCEEDS\",\n    \"resultDetail\": \"The response limit requested is 100 which exceeds the maximum response limit. Do not exceed 50\",\n    \"data\": null\n}"},"INVALID_DATE_FORMAT":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"INVALID_DATE_FORMAT\",\n    \"resultDetail\": \"2025-03-075 date does not match the expected format i.e. yyyy-MM-dd\",\n    \"data\": null\n}"}},"schema":{"oneOf":[{"title":"RESPONSE_LIMIT_EXCEEDS","type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"RESPONSE_LIMIT_EXCEEDS"},"resultDetail":{"type":"string","example":"The response limit requested is 100 which exceeds the maximum response limit. Do not exceed 50"},"data":{}}},{"title":"INVALID_DATE_FORMAT","type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"INVALID_DATE_FORMAT"},"resultDetail":{"type":"string","example":"2025-03-075 date does not match the expected format i.e. yyyy-MM-dd"},"data":{}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"Full authentication is required to access this resource\"\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"Full authentication is required to access this resource"}}}}}}},"deprecated":false,"security":[]}},"/{dispensary}/customer/lastUpdated/after/{date_time}/page/{page_number}/pagesize/{page_size}":{"get":{"summary":"Get by date of last update","description":"Returns all customer records updated since the specified date_time value.","operationId":"dispensary-customer-get-by-last-modified","parameters":[{"name":"include_image_list","in":"query","description":"Returns stored customer images in the response. Default behavior is `false` if not specified.","schema":{"type":"boolean"}},{"name":"dispensary","in":"path","description":"The dispensary short name","schema":{"type":"string","default":"partnersandbox3"},"required":true},{"name":"date_time","in":"path","description":"ISO 8601: `YYYY-MM-DDThh:mm:ss.sss±hh:mm`","schema":{"type":"string","format":"date"},"required":true},{"name":"page_number","in":"path","schema":{"type":"integer","format":"int32"},"required":true},{"name":"page_size","in":"path","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"SUCCESS\",\n    \"resultReason\": null,\n    \"resultDetail\": null,\n    \"data\": {\n        \"status\": \"MERGED\",\n        \"verification_status\": \"VERIFICATION_PENDING\",\n        \"verification_reasons\": [\n            {\n                \"verification_reason\": \"EXPIRATION\",\n                \"verification_reason_description\": \"MEDICAL_ID_EXPIRATION\"\n            }\n        ],\n        \"customer_id\": \"20\",\n        \"first_name\": \"KATHLEEN\",\n        \"middle_name\": null,\n        \"nickname\": \"\",\n        \"last_name\": \"SCOTT\",\n        \"birthday\": \"1989-03-07\",\n        \"drivers_license\": \"LIC744\",\n        \"drivers_license_expiration\": \"2028-05-12\",\n        \"state_medical_id\": \"MED738\",\n        \"permit_expiration\": \"2024-05-31 00:00:00.000\",\n        \"email\": \"SCOTT20@mail.com\",\n        \"phone\": \"7777777777\",\n        \"notes\": \"N/A\",\n        \"physician_first_name\": null,\n        \"physician_last_name\": null,\n        \"physician_license\": null,\n        \"physician_address\": null,\n        \"physician_phone\": null,\n        \"is_caregiver\": false,\n        \"caregiver_license_number\": \"\",\n        \"caregiver_name_1\": \"N/A\",\n        \"caregiver_name_2\": \"N/A\",\n        \"caregiver_details\": [],\n        \"rewards_balance\": 0,\n        \"rewards_type\": \"POINTS\",\n        \"gender\": \"U\",\n        \"signup_date\": \"2024-05-14T09:06:40.000-07:00\",\n        \"last_visit_date\": \"2024-05-31 09:54:13.000\",\n        \"last_update\": \"2025-10-21T07:26:36.000-07:00\",\n        \"opt_out\": null,\n        \"referral_source\": null,\n        \"banned\": false,\n        \"warning_1\": false,\n        \"warning_2\": false,\n        \"addresses\": [\n            {\n                \"type\": \"address_of_record\",\n                \"street1\": \"18 KATHLEEN STREET\",\n                \"street2\": \"\",\n                \"city\": \"SCOTT\",\n                \"state\": \"CA\",\n                \"zipcode\": \"20555\",\n                \"primary\": true\n            }\n        ],\n        \"merged_customer_ids\": [\n            19\n        ],\n        \"merged_into_customer_id\": null,\n        \"patient_type\": \"MEDICAL_MMID\",\n        \"imageList\": [\n            {\n                \"type\": \"PROFILE\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f\",\n                \"lastupdated\": \"2025-10-21 07:26:36\"\n            },\n            {\n                \"type\": \"fullLicense\",\n                \"url\": \"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_fullLicense_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=fb27a93dbaa0b7efdadd039e2e54ff85ed8cb6befbcc7cb3694ab47b08ed12a6\",\n                \"lastupdated\": \"2025-10-21 07:26:35\"\n            }\n        ],\n        \"customer_groups\": [],\n        \"external_ids\": {\n            \"aiq_contact_id\": null\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"SUCCESS"},"resultReason":{},"resultDetail":{},"data":{"type":"object","properties":{"status":{"type":"string","example":"MERGED"},"verification_status":{"type":"string","example":"VERIFICATION_PENDING"},"verification_reasons":{"type":"array","items":{"type":"object","properties":{"verification_reason":{"type":"string","example":"EXPIRATION"},"verification_reason_description":{"type":"string","example":"MEDICAL_ID_EXPIRATION"}}}},"customer_id":{"type":"string","example":"20"},"first_name":{"type":"string","example":"KATHLEEN"},"middle_name":{},"nickname":{"type":"string","example":""},"last_name":{"type":"string","example":"SCOTT"},"birthday":{"type":"string","example":"1989-03-07"},"drivers_license":{"type":"string","example":"LIC744"},"drivers_license_expiration":{"type":"string","example":"2028-05-12"},"state_medical_id":{"type":"string","example":"MED738"},"permit_expiration":{"type":"string","example":"2024-05-31 00:00:00.000"},"email":{"type":"string","example":"SCOTT20@mail.com"},"phone":{"type":"string","example":"7777777777"},"notes":{"type":"string","example":"N/A"},"physician_first_name":{},"physician_last_name":{},"physician_license":{},"physician_address":{},"physician_phone":{},"is_caregiver":{"type":"boolean","example":false,"default":true},"caregiver_license_number":{"type":"string","example":""},"caregiver_name_1":{"type":"string","example":"N/A"},"caregiver_name_2":{"type":"string","example":"N/A"},"caregiver_details":{"type":"array","items":{"type":"object","properties":{}}},"rewards_balance":{"type":"integer","example":0,"default":0},"rewards_type":{"type":"string","example":"POINTS"},"gender":{"type":"string","example":"U"},"signup_date":{"type":"string","example":"2024-05-14T09:06:40.000-07:00"},"last_visit_date":{"type":"string","example":"2024-05-31 09:54:13.000"},"last_update":{"type":"string","example":"2025-10-21T07:26:36.000-07:00"},"opt_out":{},"referral_source":{},"banned":{"type":"boolean","example":false,"default":true},"warning_1":{"type":"boolean","example":false,"default":true},"warning_2":{"type":"boolean","example":false,"default":true},"addresses":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"address_of_record"},"street1":{"type":"string","example":"18 KATHLEEN STREET"},"street2":{"type":"string","example":""},"city":{"type":"string","example":"SCOTT"},"state":{"type":"string","example":"CA"},"zipcode":{"type":"string","example":"20555"},"primary":{"type":"boolean","example":true,"default":true}}}},"merged_customer_ids":{"type":"array","items":{"type":"integer","example":19,"default":0}},"merged_into_customer_id":{},"patient_type":{"type":"string","example":"MEDICAL_MMID"},"imageList":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"PROFILE"},"url":{"type":"string","example":"https://treezbuildtest.s3.us-west-2.amazonaws.com/customer/b1226d0b-4940-4edf-aab3-dbd1642f7f69/1b8e53d3-d810-455b-b287-e35a6555bde2/1_20_profile_21-10-25-07-26-35?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCXVzLXdlc3QtMiJHMEUCIQDQcGkIIc%2BKMRbt5SqugYmtBH6liYb%2Fdls1LhcjYB6KdQIgeotnd7t5jGEKdVtHUjfFRJatF9L0fzdLPVgymK4BKakqvAUIFxAFGgwyMjgyNzY3NDYyMjAiDFJYTC8bJrsoiUBmySqZBd8DjcwZSJbTGqN6WkwF67Qfat4W%2BuQXF6VlDRrOThGyrC7X88AWnGEFQibnlTIW7niBUEFir7Ck1W7X0RgVx%2Fw82D2lhg%2FgVIohXRMwX5ZJRBuT9pqfmEMJox3VpKsYJQ49qevwSutJKT5q8ESHcFZApm%2F6pob3vJ%2FkoLhtq9apzR9HY6o20AGJj8B%2Fa8ZzCT93Ve69N3WQMwBwpX0TCvf9%2B2uZitOrhFUUom5EtIuiMb4Ud%2BZVTHMV03zFWcOHKJY5csplo3%2F6nW6iD50AAoXHLXuI78tDgQ1m4kSjsb4PcmCeuixiTSM%2BKGklamM5G3%2FkZRngtqfal3X74aUO%2BlQkClkp%2FwjhE8ZCCQ%2BfmklIehUHpXVD%2FEKmt0Q3hJkopm8oVroOJckh9AqC19QTyAv2mjNNWPcudZvJjq3lUP8tppsDvXCc4%2B6HJ%2Fk%2Fu8LCHobbwNdPhKI3B6S7szRd2B%2FLLrSLzlecmCMc38VNpxJBX8pC7pyftI6jICkOMcpYRLWTZ8cpfvbaQf%2BS%2FM38IKbryWMMc4KSynejnlRbH1Z6z0yKxuDivfgTovZO54d8JxmJG8Ufqk%2F5OxEu%2Bir83tZeHh58jyiMtOIU74kk2T9vfvTOHY9Psc3i7JoMk%2BRNCgcdp%2FQjzO31yZrBlpn%2B2iev7YIFWB010B8w%2BKYTNxEVtg%2BYz9wAM%2BNfcw9BYngL59dCwnoPF1Jnng30Lmgh0RUsvp%2FtD%2F1mBmI10MfKYPbQYT50BLn0Q7rcICLE7XjMckSBktMAhezYD3TmH9DjTR%2BWFpR%2F4cA%2BZg%2FLhBZ1%2BHt9oDVDeqdslupDJrLYLj4Fc217Rqif4av0j8lUCt0rCwO7z3WQ8Bjv3FvTC5RS6IiNXAH5DZrYNzfLMISh3scGOrEBEvF7fW0GcI83QJkfY1q1V8QH9zENQeST3nC0W8m4lnxPCbl%2FdUEwR8x7QpQnV2DhUqJffTim3IW%2FdaZzDAla0Tlbc2vtV4Z%2BB8PDXwsu9OR4ZZv%2Fbj%2F9ueAD8FnBtRXyEuOFzMgci0ao4dLkgW7qD2KwqmNaSWv%2FHzwQK0DrXC8S7o4FeMXrhSkhLNnFkVb8%2FbKDEpuZxrDweRkTGumz4bIeA%2BSxjuvklAJzzWHjOAcJ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20251021T142718Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID%2F20251021%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=2331ba1efdc7fa7ec0fb0dd03a874fd36b39cc0707eb5830fc1d6a90df52803f"},"lastupdated":{"type":"string","example":"2025-10-21 07:26:36"}}}},"customer_groups":{"type":"array","items":{"type":"object","properties":{}}},"external_ids":{"type":"object","properties":{"aiq_contact_id":{}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"RESPONSE_LIMIT_EXCEEDS":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"RESPONSE_LIMIT_EXCEEDS\",\n    \"resultDetail\": \"The response limit requested is 100 which exceeds the maximum response limit. Do not exceed 50\",\n    \"data\": null\n}"},"INVALID_DATE_FORMAT":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"INVALID_DATE_FORMAT\",\n    \"resultDetail\": \"2024-04-180T11:11:36.000-07:00 date does not match the expected format i.e. yyyy-MM-dd'T'HH:mm:ss.SSSXXX\",\n    \"data\": null\n}"}},"schema":{"oneOf":[{"title":"RESPONSE_LIMIT_EXCEEDS","type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"RESPONSE_LIMIT_EXCEEDS"},"resultDetail":{"type":"string","example":"The response limit requested is 100 which exceeds the maximum response limit. Do not exceed 50"},"data":{}}},{"title":"INVALID_DATE_FORMAT","type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"INVALID_DATE_FORMAT"},"resultDetail":{"type":"string","example":"2024-04-180T11:11:36.000-07:00 date does not match the expected format i.e. yyyy-MM-dd'T'HH:mm:ss.SSSXXX"},"data":{}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"Full authentication is required to access this resource\"\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"Full authentication is required to access this resource"}}}}}}},"deprecated":false,"security":[]}},"/{dispensary}/customer/caregivers":{"get":{"summary":"Get customer caregivers","description":"","operationId":"dispensary-customer-get-caregivers","parameters":[{"name":"dispensary","in":"path","description":"The dispensary short name","schema":{"type":"string","default":"partnersandbox3"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"SUCCESS\",\n    \"resultReason\": null,\n    \"resultDetail\": null,\n    \"data\": {\n        \"total_count\": 2,\n        \"caregiver_list\": [\n            {\n                \"caregiver_license_number\": \"CA907R26P9\",\n                \"caregiver_customer_id\": 2360,\n                \"caregiver_name\": \"JACKIE CHAN\"\n            },\n            {\n                \"caregiver_license_number\": \"CA6822489ZY6\",\n                \"caregiver_customer_id\": 2174,\n                \"caregiver_name\": \"JOHN DOE\"\n            }\n        ]\n    }\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"SUCCESS"},"resultReason":{},"resultDetail":{},"data":{"type":"object","properties":{"total_count":{"type":"integer","example":2,"default":0},"caregiver_list":{"type":"array","items":{"type":"object","properties":{"caregiver_license_number":{"type":"string","example":"CA907R26P9"},"caregiver_customer_id":{"type":"integer","example":2360,"default":0},"caregiver_name":{"type":"string","example":"JACKIE CHAN"}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"resultCode\": \"FAIL\",\n    \"resultReason\": \"Full authentication is required to access this resource\"\n}"}},"schema":{"type":"object","properties":{"resultCode":{"type":"string","example":"FAIL"},"resultReason":{"type":"string","example":"Full authentication is required to access this resource"}}}}}}},"deprecated":false,"security":[]}},"/{dispensary}/customer/update/{customer_id}":{"patch":{"summary":"Update customer","description":"","operationId":"dispensary-customer-update","parameters":[{"name":"dispensary","in":"path","description":"The dispensary short name","schema":{"type":"string","default":"partnersandbox3"},"required":true},{"name":"customer_id","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["first_name","last_name","birthday","patient_type"],"properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"birthday":{"type":"string","description":"Format: YYYY-MM-DD"},"patient_type":{"type":"string","description":"If MEDICAL_MMID is specified, then `state_medical_id` and `permit_expiration` are required.","enum":["ADULT","MEDICAL","MEDICAL_MMID"]},"email":{"type":"string"},"phone":{"type":"string","description":"10 digits, no dashes"},"notes":{"type":"string"},"gender":{"type":"string","description":"Male, Female, Unspecified, Non-Binary","enum":["M","F","U","N"]},"addresses":{"type":"array","items":{"properties":{"type":{"type":"string","description":"*Required if any other value in the address field is populated","enum":["ADDRESS_OF_RECORD","ALTERNATIVE_ADDRESS","SECONDARY_ADDRESS"]},"street1":{"type":"string","description":"*Required if any other value in the address field is populated"},"street2":{"type":"string"},"city":{"type":"string","description":"*Required if any other value in the address field is populated"},"state":{"type":"string","description":"*Required if any other value in the address field is populated"},"primary":{"type":"boolean","description":"Specifies whether the entry is the primary address for delivery. Default behavior is `true` if not specified."},"zipcode":{"type":"string","description":"*Required if any other value in the address field is populated"}},"type":"object"}},"middle_name":{"type":"string"},"drivers_license":{"type":"string","description":"Driver's license or other ID number"},"is_caregiver":{"type":"boolean","description":"Indicator whether the customer record being created is a caregiver for a medical patient. Default behavior is false if not specified."},"caregiver_license_number":{"type":"string","description":"The caregiver's state issued license number. Include if `is_caregiver = true`"},"caregiver_details":{"type":"array","items":{"properties":{"caregiver_customer_id":{"type":"string","description":"Optional when creating a medical patient record. This refers to the customer_id of the caregiver if their record has been previously created."}},"type":"object"},"description":"Add up to 2 caregivers"},"state_medical_id":{"type":"string","description":"The customer’s state issued medical id number (medical patients only)."},"permit_expiration":{"type":"string","description":"Format: YYYY-MM-DD. The expiration date of the customer's state medical id."},"physician_first_name":{"type":"string","description":"First name of the customer's recommending physician."},"physician_last_name":{"type":"string","description":"Last name of the customer's recommending physician."},"physician_license":{"type":"string","description":"License number of the customer's recommending physician."},"physician_phone":{"type":"string","description":"10 digits, no dashes"},"caregiver_name_1":{"type":"string","description":"Full name of the customer's primary caregiver."},"caregiver_name_2":{"type":"string","description":"Full name of the customer's secondary caregiver."},"rewards_balance":{"type":"integer","format":"int32"},"opt_out":{"type":"boolean","description":"The customer's consent statu
[...]
