{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Service"},"servers":[{"url":"https://api-prod.treez.io/service"}],"tags":[],"paths":{"/new-endpoint":{"get":{"summary":"New Endpoint","description":"This is your first endpoint! Edit this page to start documenting your API.","operationId":"get_new-endpoint","responses":{"200":{"description":"Successful response"}}}},"/jwt-validation":{"post":{"description":"Check the validity of your signed JWT, and view the resources to which you have been assigned access.","responses":{"200":{"description":"","content":{"application/json":{"examples":{"OK":{"summary":"OK","value":{"valid":true,"issuedAt":1774452844236,"expiresAt":1774452874236,"timeRemaining":"31 seconds","pubkeyInfo":{"pubkeyIdentifier":"TUlJRmF6Q0NBMU9n...","startDate":"2025-10-06T23:07:00.000Z","expirationDate":"2030-10-05T08:00:00.000Z"},"integratorDetails":{"certificateId":"795bc211-a7ae-41bc-b020-c3b754bad88c","certificateName":"Scott's Cert","partnerId":"795bc211-a7ae-41bc-b020-c3b754bad88c"},"audience":"https://api-dev.treez.io/service/jwt-validation?targetPath=/v3/dispensary/partnersandbox3/product_list&includeRateLimit=true&dispensaryName=partnersandbox3","dispensaryName":"partnersandbox3","rateLimit":{"limit":30,"remaining":30,"reset":1774452843,"allowed":true},"audienceValidation":{"validated":true,"targetPath":"/v3/dispensary/partnersandbox3/product_list","matched":false},"metadata":{"validatedAt":"2026-03-25T15:34:03.014Z","requestId":"996de796-6883-43b0-b16a-b96678700edc"},"permissions":{"entity":[],"organization":[{"orgId":"b1226d0b-4940-4edf-aab3-dbd1642f7f69","orgName":"Treez Integrators","permissions":["api_customer::write","pricingmanagement::managePricing","api_invoice::write","api_product::read","catalogservice::catalogadmin","api_metrcsync::sync","productcollection::manage","api_invoice::read","productcollection::read","api_ticket::read","api_product::write","api_invoice::pay","api_discount::read","filemanagement::uploadProductImage","discountmanagement::readOrgDiscount","catalogservice::listproduct","catalogservice::adjustbrand","catalogservice::deleteproduct","discountmanagement::writeOrgDiscount","api_ticket::write","catalogservice::adjustentityprice","catalogservice::adjustattribute","api_inventory::read","api_customer::merge","catalogservice::adjustproduct","api_customer::read","tagmanagement::manageTags","api_stock::read"]}]}}}},"schema":{"type":"object","properties":{"valid":{"type":"boolean","example":true,"default":true},"issuedAt":{"type":"integer","example":1774452844236,"default":0},"expiresAt":{"type":"integer","example":1774452874236,"default":0},"timeRemaining":{"type":"string","example":"31 seconds"},"pubkeyInfo":{"type":"object","properties":{"pubkeyIdentifier":{"type":"string","example":"TUlJRmF6Q0NBMU9n..."},"startDate":{"type":"string","example":"2025-10-06T23:07:00.000Z"},"expirationDate":{"type":"string","example":"2030-10-05T08:00:00.000Z"}}},"integratorDetails":{"type":"object","properties":{"certificateId":{"type":"string","example":"795bc211-a7ae-41bc-b020-c3b754bad88c"},"certificateName":{"type":"string","example":"Scott Thacher"},"partnerId":{"type":"string","example":"795bc211-a7ae-41bc-b020-c3b754bad88c"}}},"audience":{"type":"string","example":"https://api-dev.treez.io/service/jwt-validation?targetPath=/v3/dispensary/partnersandbox3/product_list&includeRateLimit=true&dispensaryName=partnersandbox3"},"dispensaryName":{"type":"string","example":"partnersandbox3"},"rateLimit":{"type":"object","properties":{"limit":{"type":"integer","example":30,"default":0},"remaining":{"type":"integer","example":30,"default":0},"reset":{"type":"integer","example":1774452843,"default":0},"allowed":{"type":"boolean","example":true,"default":true}}},"audienceValidation":{"type":"object","properties":{"validated":{"type":"boolean","example":true,"default":true},"targetPath":{"type":"string","example":"/v3/dispensary/partnersandbox3/product_list"},"matched":{"type":"boolean","example":false,"default":true}}},"metadata":{"type":"object","properties":{"validatedAt":{"type":"string","example":"2026-03-25T15:34:03.014Z"},"requestId":{"type":"string","example":"996de796-6883-43b0-b16a-b96678700edc"}}},"permissions":{"type":"object","properties":{"entity":{"type":"array","items":{"type":"object","properties":{}}},"organization":{"type":"array","items":{"type":"object","properties":{"orgId":{"type":"string","example":"b1226d0b-4940-4edf-aab3-dbd1642f7f69"},"orgName":{"type":"string","example":"Treez Integrators"},"permissions":{"type":"array","items":{"type":"string","example":"api_customer::write"}}}}}}}}}}}}},"parameters":[{"in":"query","name":"targetPath","schema":{"type":"string","default":""},"description":"Check whether you have permission for a specific dispensary path\nExample: `/v3/dispensary/partnersandbox3/product_list`"},{"in":"query","name":"dispensaryName","schema":{"type":"string","default":""},"description":"Required if using `includeRateLimit`"},{"in":"query","name":"includeRateLimit","schema":{"type":"boolean"}}],"operationId":"post_jwt-validation","summary":"JWT Validation & Permission Check"}}},"components":{"securitySchemes":{}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}